@{
    ViewBag.Title = "Commercial";
    Layout = "~/Views/Shared/_Layout_WADAANSITE.cshtml";
}


<div id="wrapper">

    <section id="subheader" data-speed="8" data-type="background" class="padding-top-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-wrap">
                        <h1 class="txt-project-title">Work Box</h1>
                    </div>
                    <ul id="breadcrumbs" class="crumb">
                        <li>
                            <a href="Home/Index/">Home</a>
                        </li>
                        <li>
                            <a href="Home/Index/">Portfolio</a>
                        </li>
                        <li>
                            <a href="/Home/Commercial/">Commercial</a>
                        </li>
                        <li class="active "></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    @*<div id="portfolio-controls">
            <div class="left-right-portfolio">
                <div class="portfolio-icon">
                    <a href="../whata-pratha-bahria-town-rawalpindi/index.html" rel="prev"><i class="fa fa-angle-double-left"></i></a>
                </div>
            </div>
            <a href="http://www.archi-cubes.com/projects/">
                <div class="center-portfolio">
                    <div class="portfolio-icon fa-th"></div>
                </div>
            </a>
            <div class="left-right-portfolio">
                <div class="portfolio-icon">
                    <a href="../mr-bari-house-by-archicubes-achitects/index.html" rel="next"><i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>*@
    <div id="content">
        <section id="services" class="wpb_row vc_row-fluid vc_custom_1519126551162">
            <div class="container">
                <div class="row">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper wow fadeInUp">
                                <h2 class="ot_custom_heading  " style="text-align: center;"></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="wpb_row vc_row-fluid">
            <div class="container">
                <div class="row">
                    <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-has-fill">
                        <div class="vc_column-inner vc_custom_1519203106791">
                            <div class="wpb_wrapper ">
                                <h3 class="ot_custom_heading  " style="">Project Detail</h3>
                                <div class="vc_empty_space" style="height: 33px">
                                    <span class="vc_empty_space_inner"></span>
                                </div>
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        @*<p>
                                                <strong>Architects : </strong>
                                                <a href="../../index.html">Archicubes</a>
                                            </p>*@
                                        <p>
                                            <strong>Type : </strong>Commercial
                                        </p>
                                        <p>
                                            <strong>Project Info : </strong>
                                        </p>
                                        <p>
                                            <strong>Client Name : </strong><span class="client-name"></span>
                                        </p>
                                        <p>
                                            <strong>Contractor Name : </strong><span class="contractor-name"></span>
                                        </p>
                                        <p>
                                            <strong>Location : </strong><span class="txt-location"></span>
                                        </p>
                                        <p>
                                            <strong>Project Status: </strong><span class="txt-status"></span>
                                        </p>
                                          <p>
                                            <strong>Project Created: </strong><span class="txt-project-created"></span>
                                        </p>
                                         
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-8">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper ">
                                <div class="wpb_single_image wpb_content_element vc_align_center" style="max-width:50% !important;">
                                    <figure class="wpb_wrapper vc_figure">
                                        <div class="vc_single_image-wrapper   vc_box_border_grey">

                                            <img width="1024" height="576" src="" data-src="" class="lazyload vc_single_image-img attachment-large" data-srcset="" data-sizes="(max-width: 1024px) 100vw, 1024px" />
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        @*<section class="wpb_row vc_row-fluid">
            <div class="container">
                <div class="row">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper ">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <div class="styles-section-title styles-selector">
                                            <p>The wall, floor and ceiling was intentionally designed in neutral tones of grey so the splash of color is accentuated in the design elements.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
        @*<section class="wpb_row vc_row-fluid">
            <div class="container">
                <div class="row">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper ">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <div class="styles-section-title styles-selector">
                                            <p>This dialogue between the two extremes: Tradition and modernity is the new cult these days, the project serves to continue this philosophy of critical regionalism so that the world doesn’t end up becoming a homogenized platter of mass produced boring boxes.</p>
                                            <p>
                                                <a href="../../best-interior-designer-in-lahore/index.html"><b>Interior Designers in Lahore</b></a> are coming up with qualities designs in the realm of home interiors lately and our
                                                <strong>Architect Design Firm</strong>, Archicubes aims to be rated as the
                                                <strong>Best interior Designer in Lahore</strong>.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@ 
        
        
        <section class="wpb_row vc_row-fluid">
            <div class="container">
                <div class="row">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper ">
                                <div class="wpb_gallery wpb_content_element vc_clearfix  galleryNew">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_gallery_slides wpb_image_grid" data-interval="3">
                                            <ul class="wpb_image_grid_ul">
                                                <li class="isotope-item">
                                                    <a class="prettyphoto" href="../../wp-content/uploads/2019/04/work-box-best-interior-designers-in-lahore-1024x576.jpg" data-rel="prettyPhoto[rel-2637-2119086429]"><noscript><img class="" src="../../wp-content/uploads/2019/04/work-box-best-interior-designers-in-lahore-350x300.jpg" width="350" height="300" alt="work box interior designers in lahore" title="work-box-best-interior-designers-in-lahore" /></noscript><img class="lazyload " src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20350%20300%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2019/04/work-box-best-interior-designers-in-lahore-350x300.jpg" width="350" height="300" alt="work box interior designers in lahore" title="work-box-best-interior-designers-in-lahore" /></a>
                                                </li>
                                                <li class="isotope-item">
                                                    <a class="prettyphoto" href="../../wp-content/uploads/2019/04/work-box-best-interior-designers-in-lahore-5-1024x1024.jpg" data-rel="prettyPhoto[rel-2637-2119086429]"><noscript><img class="" src="../../wp-content/uploads/2019/04/work-box-best-interior-designers-in-lahore-5-350x300.jpg" width="350" height="300" alt="work box interior designers in lahore" title="work-box-best-interior-designers-in-lahore (5)" /></noscript><img class="lazyload " src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20350%20300%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2019/04/work-box-best-interior-designers-in-lahore-5-350x300.jpg" width="350" height="300" alt="work box interior designers in lahore" title="work-box-best-interior-designers-in-lahore (5)" /></a>
                                                </li>
                                                <li class="isotope-item">
                                                    <a class="prettyphoto" href="../../wp-content/uploads/2019/04/work-box-best-interior-designers-in-lahore-4-1024x576.jpg" data-rel="prettyPhoto[rel-2637-2119086429]"><noscript><img class="" src="../../wp-content/uploads/2019/04/work-box-best-interior-designers-in-lahore-4-350x300.jpg" width="350" height="300" alt="work box interior designers in lahore" title="work-box-best-interior-designers-in-lahore (4)" /></noscript><img class="lazyload " src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20350%20300%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2019/04/work-box-best-interior-designers-in-lahore-4-350x300.jpg" width="350" height="300" alt="work box interior designers in lahore" title="work-box-best-interior-designers-in-lahore (4)" /></a>
                                                </li>
                                                <li class="isotope-item">
                                                    <a class="prettyphoto" href="../../wp-content/uploads/2019/04/work-box-best-interior-designers-in-lahore-3-1024x576.jpg" data-rel="prettyPhoto[rel-2637-2119086429]"><noscript><img class="" src="../../wp-content/uploads/2019/04/work-box-best-interior-designers-in-lahore-3-350x300.jpg" width="350" height="300" alt="work box interior designers in lahore" title="work-box-best-interior-designers-in-lahore (3)" /></noscript><img class="lazyload " src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20350%20300%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2019/04/work-box-best-interior-designers-in-lahore-3-350x300.jpg" width="350" height="300" alt="work box interior designers in lahore" title="work-box-best-interior-designers-in-lahore (3)" /></a>
                                                </li>
                                                <li class="isotope-item">
                                                    <a class="prettyphoto" href="../../wp-content/uploads/2019/04/work-box-best-interior-designers-in-lahore-2-1024x576.jpg" data-rel="prettyPhoto[rel-2637-2119086429]"><noscript><img class="" src="../../wp-content/uploads/2019/04/work-box-best-interior-designers-in-lahore-2-350x300.jpg" width="350" height="300" alt="work box interior designers in lahore" title="work-box-best-interior-designers-in-lahore (2)" /></noscript><img class="lazyload " src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20350%20300%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2019/04/work-box-best-interior-designers-in-lahore-2-350x300.jpg" width="350" height="300" alt="work box interior designers in lahore" title="work-box-best-interior-designers-in-lahore (2)" /></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        @*<section id="services" class="wpb_row vc_row-fluid vc_custom_1438587532215">
                <div class="container">
                    <div class="row">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper wow fadeInUp">
                                    <h1 class="ot_custom_heading  " style="text-align: center;">See Our Work</h1>
                                    <div class=" separator ">
                                        <span><i class="fa fa-circle"></i></span>
                                    </div>
                                    <div class="spacer-single"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="wpb_row vc_row-fluid">
                <div class="container">
                    <div class="row">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper ">
                                    <div class="wpb_gallery wpb_content_element vc_clearfix  galleryNew">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_gallery_slides wpb_image_grid" data-interval="3">
                                                <ul class="wpb_image_grid_ul">
                                                    <li class="isotope-item">
                                                        <a class="prettyphoto" href="../../wp-content/uploads/2019/04/work-box-best-interior-designers-in-lahore-1024x576.jpg" data-rel="prettyPhoto[rel-2637-2119086429]"><noscript><img class="" src="../../wp-content/uploads/2019/04/work-box-best-interior-designers-in-lahore-350x300.jpg" width="350" height="300" alt="work box interior designers in lahore" title="work-box-best-interior-designers-in-lahore" /></noscript><img class="lazyload " src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20350%20300%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2019/04/work-box-best-interior-designers-in-lahore-350x300.jpg" width="350" height="300" alt="work box interior designers in lahore" title="work-box-best-interior-designers-in-lahore" /></a>
                                                    </li>
                                                    <li class="isotope-item">
                                                        <a class="prettyphoto" href="../../wp-content/uploads/2019/04/work-box-best-interior-designers-in-lahore-5-1024x1024.jpg" data-rel="prettyPhoto[rel-2637-2119086429]"><noscript><img class="" src="../../wp-content/uploads/2019/04/work-box-best-interior-designers-in-lahore-5-350x300.jpg" width="350" height="300" alt="work box interior designers in lahore" title="work-box-best-interior-designers-in-lahore (5)" /></noscript><img class="lazyload " src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20350%20300%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2019/04/work-box-best-interior-designers-in-lahore-5-350x300.jpg" width="350" height="300" alt="work box interior designers in lahore" title="work-box-best-interior-designers-in-lahore (5)" /></a>
                                                    </li>
                                                    <li class="isotope-item">
                                                        <a class="prettyphoto" href="../../wp-content/uploads/2019/04/work-box-best-interior-designers-in-lahore-4-1024x576.jpg" data-rel="prettyPhoto[rel-2637-2119086429]"><noscript><img class="" src="../../wp-content/uploads/2019/04/work-box-best-interior-designers-in-lahore-4-350x300.jpg" width="350" height="300" alt="work box interior designers in lahore" title="work-box-best-interior-designers-in-lahore (4)" /></noscript><img class="lazyload " src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20350%20300%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2019/04/work-box-best-interior-designers-in-lahore-4-350x300.jpg" width="350" height="300" alt="work box interior designers in lahore" title="work-box-best-interior-designers-in-lahore (4)" /></a>
                                                    </li>
                                                    <li class="isotope-item">
                                                        <a class="prettyphoto" href="../../wp-content/uploads/2019/04/work-box-best-interior-designers-in-lahore-3-1024x576.jpg" data-rel="prettyPhoto[rel-2637-2119086429]"><noscript><img class="" src="../../wp-content/uploads/2019/04/work-box-best-interior-designers-in-lahore-3-350x300.jpg" width="350" height="300" alt="work box interior designers in lahore" title="work-box-best-interior-designers-in-lahore (3)" /></noscript><img class="lazyload " src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20350%20300%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2019/04/work-box-best-interior-designers-in-lahore-3-350x300.jpg" width="350" height="300" alt="work box interior designers in lahore" title="work-box-best-interior-designers-in-lahore (3)" /></a>
                                                    </li>
                                                    <li class="isotope-item">
                                                        <a class="prettyphoto" href="../../wp-content/uploads/2019/04/work-box-best-interior-designers-in-lahore-2-1024x576.jpg" data-rel="prettyPhoto[rel-2637-2119086429]"><noscript><img class="" src="../../wp-content/uploads/2019/04/work-box-best-interior-designers-in-lahore-2-350x300.jpg" width="350" height="300" alt="work box interior designers in lahore" title="work-box-best-interior-designers-in-lahore (2)" /></noscript><img class="lazyload " src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20350%20300%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2019/04/work-box-best-interior-designers-in-lahore-2-350x300.jpg" width="350" height="300" alt="work box interior designers in lahore" title="work-box-best-interior-designers-in-lahore (2)" /></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="wpb_row vc_row-fluid">
                <div class="container">
                    <div class="row">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper ">
                                    <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text vc_sep_color_grey">
                                        <span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span>
                                        <span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
                                    </div>
                                    <h1 class="ot_custom_heading  " style="text-align: center;">See All Projects</h1>
                                    <div class="vc-zigzag-wrapper vc-zigzag-align-center">
                                        <div class="vc-zigzag-inner" style="width: 100%;min-height: 14px;background: 0 repeat-x url(%27data_image/svg%2bxml%3butf-8%2c__xml%20version%3d_1.0_%20encoding%3d_utf/W3C/DTD%20SVG%201.1/EN_%20_http_/www.w3.org/Graphics/SVG/1.1//svg_%27.433.delaye);"></div>
                                    </div>
                                    <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                        <div class="wpb_column vc_column_container vc_col-sm-6">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper ">
                                                    <div class="vc_btn3-container vc_btn3-center">
                                                        <a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-modern vc_btn3-color-danger" href="../../commercial/index.html" title="">Commercial Projects</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-6">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper ">
                                                    <div class="vc_btn3-container vc_btn3-center">
                                                        <a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-modern vc_btn3-color-danger" href="../../residential/index.html" title="">Residential Projects</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div id='jp-relatedposts' class='jp-relatedposts'>
                <h3 class="jp-relatedposts-headline">
                    <em>Related</em>
                </h3>
            </div>
            <section class="single-portfolio-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="socials-portfolio socials-rounded">
                                <h4>Share:</h4>
                                <div class="socials-sharing">
                                    <a class="socials-item" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://archi-cubes.com/portfolio/work-box-interior-by-archi-cubes/" title="Facebook"><i class="fa fa-facebook"></i></a>
                                    <a class="socials-item" target="_blank" href="https://twitter.com/intent/tweet?text=Work%20Box&amp;url=https://archi-cubes.com/portfolio/work-box-interior-by-archi-cubes/" title="Twitter"><i class="fa fa-twitter"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>*@
    </div>
</div>

<script src="~/Scripts/FunctionalityJs/Website/Project/commercial-project-details.js"></script>