
@{
    ViewBag.Title = "Commercial";
    Layout = "~/Views/Shared/_Layout_WADAANSITE.cshtml";
}



<section id="subheader" data-speed="8" data-type="background" class="padding-top-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-wrap">
                    <h1>Mr. Younas Residential</h1>
                </div>
                <ul id="breadcrumbs" class="crumb">
                    <li>
                        <a href="/Home/Index">Home</a>
                    </li>
                    <li>
                        <a href="/Home/Portfolio/">Portfolio</a>
                    </li>
                    <li>
                        <a href="../../categories/top-best-residential-architects-lahore/index.html">Residential</a>
                    </li>
                    <li class="active">Mr. Younas Residential</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div id="portfolio-controls">
    <div class="left-right-portfolio">
        <div class="portfolio-icon">
            <a href="../miss-asma-zafar-residential/index.html" rel="prev"><i class="fa fa-angle-double-left"></i></a>
        </div>
    </div>
    <a href="http://www.archi-cubes.com/projects/">
        <div class="center-portfolio">
            <div class="portfolio-icon fa-th"></div>
        </div>
    </a>
    <div class="left-right-portfolio">
        <div class="portfolio-icon"></div>
    </div>
</div>
<div id="content">
    <section id="services" class="wpb_row vc_row-fluid vc_custom_1519126551162">
        <div class="container">
            <div class="row">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper wow fadeInUp">
                            <h2 class="ot_custom_heading  " style="text-align: center;">Mr. Younas Residential. | Architects &amp; Interior Designer in Lahore</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="wpb_row vc_row-fluid">
        <div class="container">
            <div class="row">
                <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-has-fill">
                    <div class="vc_column-inner vc_custom_1519203106791">
                        <div class="wpb_wrapper ">
                            <h3 class="ot_custom_heading  " style="">Project Detail</h3>
                            <div class="vc_empty_space" style="height: 15px">
                                <span class="vc_empty_space_inner"></span>
                            </div>
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <div style="font-size: 16px;">
                                        <p>
                                            <span style="color: #333333;"><strong>Architects : </strong><a href="../../index.html">Archicubes</a></span>
                                        </p>
                                        <p>
                                            <strong>Location : </strong>Phase 5, DHA, Lahore
                                        </p>
                                        <p>
                                            <span style="color: #333333;"><strong>Architect in Charge : </strong><a href="http://zaeemahmed.com/">Zaeem Ahmad</a></span>
                                        </p>
                                        <p>
                                            <span style="color: #333333;"><strong>Design Team  :</strong> Ghazanfar Ali</span>
                                        </p>
                                        <p>
                                            <span style="color: #333333;"><strong>Project Year : </strong>2021</span>
                                        </p>
                                        <p>
                                            <strong>Client: </strong>Mr. Younas
                                        </p>
                                        <p>
                                            <strong>Design: </strong>Exterior
                                        </p>
                                        <p>
                                            <strong>Area:</strong> 9897 sft
                                        </p>
                                        <p>
                                            <span style="color: #333333;"><strong>Type : Residential</strong></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-8">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper ">
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <p>
                                        <noscript><img class="aligncenter wp-image-3390" src="../../wp-content/uploads/2021/05/1-8-300x208.jpg" alt="" width="647" height="448" srcset="https://archi-cubes.com/wp-content/uploads/2021/05/1-8-300x208.jpg 300w, https://archi-cubes.com/wp-content/uploads/2021/05/1-8-1024x709.jpg 1024w, https://archi-cubes.com/wp-content/uploads/2021/05/1-8-768x532.jpg 768w, https://archi-cubes.com/wp-content/uploads/2021/05/1-8.jpg 1300w" sizes="(max-width: 647px) 100vw, 647px" /></noscript>
                                        <img class="lazyload aligncenter wp-image-3390" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20647%20448%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2021/05/1-8-300x208.jpg" alt="" width="647" height="448" data-srcset="https://archi-cubes.com/wp-content/uploads/2021/05/1-8-300x208.jpg 300w, https://archi-cubes.com/wp-content/uploads/2021/05/1-8-1024x709.jpg 1024w, https://archi-cubes.com/wp-content/uploads/2021/05/1-8-768x532.jpg 768w, https://archi-cubes.com/wp-content/uploads/2021/05/1-8.jpg 1300w" data-sizes="(max-width: 647px) 100vw, 647px" />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="wpb_row vc_row-fluid">
        <div class="container">
            <div class="row">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper ">
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <div class="styles-section-title styles-selector">
                                        <p style="font-size: 18px; line-height: 30px; text-align: justify;">
                                            <span style="color: #000000;">The <strong>Interior Designers in Lahore </strong>are now following a minimalist approach which is the outcome of certain contemporary movements in the era of design. We try to go with the flow of trends, as well as add our own customized signature elements to the design, according to our client’s requirements. This project is a humble attempt to amalgamate the modernist dream of a person with the regional standards of a modern residential design. Do you want an architect or interior designer for your home, Office or Do you want to make a restaurant of yours? <a href="../../interior-design-services/index.html">Consult with us now.</a> </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="wpb_row vc_row-fluid">
        <div class="container">
            <div class="row">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper wow fadeInUp">
                            <h1 class="ot_custom_heading  " style="text-align: center;">See Our Work</h1>
                            <div class=" separator ">
                                <span><i class="fa fa-circle"></i></span>
                            </div>
                            <div class="spacer-single"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="wpb_row vc_row-fluid">
        <div class="container">
            <div class="row">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper ">
                            <div class="wpb_gallery wpb_content_element vc_clearfix  galleryNew">
                                <div class="wpb_wrapper">
                                    <div class="wpb_gallery_slides wpb_image_grid" data-interval="3">
                                        <ul class="wpb_image_grid_ul">
                                            <li class="isotope-item">
                                                <a class="prettyphoto" href="../../wp-content/uploads/2021/05/3-7-1024x709.jpg" data-rel="prettyPhoto[rel-3383-811111040]"><noscript><img class="" src="../../wp-content/uploads/2021/05/3-7-350x300.jpg" width="350" height="300" alt="3" title="3" /></noscript><img class="lazyload " src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20350%20300%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2021/05/3-7-350x300.jpg" width="350" height="300" alt="3" title="3" /></a>
                                            </li>
                                            <li class="isotope-item">
                                                <a class="prettyphoto" href="../../wp-content/uploads/2021/05/5-5-1024x709.jpg" data-rel="prettyPhoto[rel-3383-811111040]"><noscript><img class="" src="../../wp-content/uploads/2021/05/5-5-350x300.jpg" width="350" height="300" alt="5" title="5" /></noscript><img class="lazyload " src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20350%20300%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2021/05/5-5-350x300.jpg" width="350" height="300" alt="5" title="5" /></a>
                                            </li>
                                            <li class="isotope-item">
                                                <a class="prettyphoto" href="../../wp-content/uploads/2021/05/4-5-1024x709.jpg" data-rel="prettyPhoto[rel-3383-811111040]"><noscript><img class="" src="../../wp-content/uploads/2021/05/4-5-350x300.jpg" width="350" height="300" alt="4" title="4" /></noscript><img class="lazyload " src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20350%20300%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2021/05/4-5-350x300.jpg" width="350" height="300" alt="4" title="4" /></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id='jp-relatedposts' class='jp-relatedposts'>
        <h3 class="jp-relatedposts-headline">
            <em>Related</em>
        </h3>
    </div>
    <section class="single-portfolio-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="socials-portfolio socials-rounded">
                        <h4>Share:</h4>
                        <div class="socials-sharing">
                            <a class="socials-item" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://archi-cubes.com/portfolio/mr-younas-residential/" title="Facebook"><i class="fa fa-facebook"></i></a>
                            <a class="socials-item" target="_blank" href="https://twitter.com/intent/tweet?text=Mr.%20Younas%20Residential&amp;url=https://archi-cubes.com/portfolio/mr-younas-residential/" title="Twitter"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>