
@{
    ViewBag.Title = "Residential";
    Layout = "~/Views/Shared/_Layout_WADAANSITE.cshtml";
}



<section id="subheader" data-speed="8" data-type="background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-wrap">
                    <h1>Residential</h1>
                </div>
                <ul id="breadcrumbs" class="crumb">
                    <li>
                        <a href="/Home/Index">Home</a>
                    </li>
                    <li class="active">Residential</li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="wpb_row vc_row-fluid vc_custom_1520500706958 no-padding">
    <div class="row">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
                <div class="wpb_wrapper ">
                    <div class="projects-grid-wrapper">
                        <div class="projects-grid projects-load-ajax overlay_s1 portfolio_category pf_3_cols wow fadeInUp append-project-data" data-wow-delay=".3s" style="margin: -15px 15px">
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*<section class="wpb_row vc_row-fluid vc_custom_1520500706958 no-padding">
    <div class="row">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
                <div class="wpb_wrapper ">
                    <div class="projects-grid-wrapper">
                        <div class="projects-grid projects-load-ajax overlay_s1 portfolio_category pf_3_cols wow fadeInUp " data-wow-delay=".3s" style="margin: -15px 15px">
                            <div class="project-item-sizer"></div>
                            <div class="project-item category-35 hrefClass " style="padding:15px">
                                <div class="projects-box">
                                    <div class="projects-thumbnail">
                                        <noscript><img width="750" height="499" src="../wp-content/uploads/2021/05/1-7-750x499.jpg" class="attachment-thumb-portfolio size-thumb-portfolio wp-post-image" alt="" title="1" /></noscript>
                                        <img width="750" height="499" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20750%20499%22%3E%3C/svg%3E'
                                             data-src="/../../Content/wp-content/uploads/2021/02/cc.jpg" class="lazyload attachment-thumb-portfolio size-thumb-portfolio wp-post-image" alt="" title="1" />

                                    </div>
                                    <a class="hrefa" href="/Home/portfolio/mr-younas-residential">
                                        <span class="project-overlay">
                                            <span class="project-name id-color">Mr. Younas Residential</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="project-item category-35 " style="padding:15px">
                                <div class="projects-box">
                                    <div class="projects-thumbnail">
                                        <noscript><img width="750" height="499" src="../wp-content/uploads/2021/05/4-3-750x499.jpg" class="attachment-thumb-portfolio size-thumb-portfolio wp-post-image" alt="" title="4" /></noscript>
                                        <img width="750" height="499" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20750%20499%22%3E%3C/svg%3E'
                                             data-src="/../../Content/wp-content/uploads/2021/02/ccc.jpg" class="lazyload attachment-thumb-portfolio size-thumb-portfolio wp-post-image" alt="" title="4" />
                                    </div>
                                    <a href="/Home/portfolio/">
                                    <span class="project-overlay">
                                        <span class="project-name id-color">Miss Asma Zafar Residential</span>
                                    </span>
                                    </a>
                                </div>
                            </div>
                            

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>*@
@*<script src="~/Content/wp-content/cache/autoptimize/js/autoptimize_80de34522d13262a53c92cd7260baf6e.js"></script>*@




<script src="~/Scripts/FunctionalityJs/Website/Project/residential-project.js"></script>