################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/WadaanSystemManagerCommand/bin
/WadaanSystemManagerCommand/obj
/WadaanSystemManagerWeb/bin
/WadaanSystemManagerWeb/logs
/WadaanSystemManagerWeb/obj
/WadaanSystemManagerWeb/Properties/PublishProfiles
/WadaanSystemManagerWeb/_logs
