@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout_WADAANSITE.cshtml";
}
<div class="one-page" style="margin-top: 10%;">
    @Html.Partial("~/Views/Home/PartialViews/_AboutPartialView.cshtml")


</div>

