
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout_WADAANSITE.cshtml";
}

<h2>Blog</h2>

<body class="blog wp-embed-responsive de_light has-topbar archi-theme-ver-3.6.0 wordpress-version-5.7.2 wpb-js-composer js-comp-ver-6.5.0 vc_responsive">
    <div id="wrapper">
        <header class="site-header de_header_2  header-bg">
            <div class="info">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <ul class="info-list">
                                <li>
                                    Phone#
                                    <span style="color: #ffffff;">
                                        <strong>(+92)-345-4773496</strong>
                                    </span>
                                </li>
                                <li>
                                    <i class="fa fa-envelope-o">
                                    </i> Email us: <span style="color: #ffffff;">
                                        <strong>info@archi-cubes.com</strong>
                                    </span>
                                </li>
                                <li>
                                    <i class="fa fa-clock-o">
                                    </i>
                                    Working Hours:
                                    <span style="color: #ffffff;">
                                        <b style="color:red;">10:00am-7:00pm</b>
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <ul class="social-list">
                                <li>
                                    <a target="_blank" href="https://www.facebook.com/ArchiCubes">
                                        <i class="fa fa-facebook">
                                        </i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://www.instagram.com/archicubes/">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="logo">
                            <a href="../index.html">
                            
                                <noscript><img class="logo-static" src="~/Views/WadaanWebsite/archi-cubes.com/wp-content/uploads/2018/05/Logo-Archi-Cubes-new-new-new-new.png" alt="Archi Cubes"></noscript>
                                <img class="lazyload logo-static" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20210%20140%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2018/07/Logo-Archi-Cubes-new-new-new-new.png" alt="Archi Cubes"> <noscript><img class="logo-scroll" src="~/Views/WadaanWebsite/archi-cubes.com/wp-content/uploads/2018/05/Logo-Archi-Cubes-new-new-new-new.png" alt="Archi Cubes"></noscript><img class="lazyload logo-scroll" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20210%20140%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2018/05/Logo-Archi-Cubes-new-new-new-new.png" alt="Archi Cubes">
                            </a>
                        </div> <span id="menu-btn"></span><nav><ul id="mainmenu"><li id="menu-item-2209" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-2209"><a title="Home" href="../index.html">Home</a></li><li id="menu-item-1076" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-has-children menu-item-1076 "><a title="Our Services" href="../index.html#services">Our Services </a><ul role="menu" class=" sub-menu"><li id="menu-item-1835" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1835"><a title="Architecture" href="../architecture-services/index.html">Architecture</a></li><li id="menu-item-1833" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1833"><a title="Interior Design" href="../interior-design-services/index.html">Interior Design</a></li><li id="menu-item-1834" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1834"><a title="Construction" href="../construction-company-in-lahore/index.html">Construction</a></li></ul></li><li id="menu-item-1077" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-1077"><a title="Process" href="../index.html#process">Process</a></li><li id="menu-item-1078" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-1078"><a title="Team" href="../index.html#team">Team</a></li><li id="menu-item-1101" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-has-children menu-item-1101 "><a title="Projects" href="../index.html#project">Projects </a><ul role="menu" class=" sub-menu"><li id="menu-item-2210" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2210"><a title="Residential" href="../residential/index.html">Residential</a></li><li id="menu-item-2211" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2211"><a title="Commercial" href="../commercial/index.html">Commercial</a></li></ul></li><li id="menu-item-1080" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-1080"><a title="Blog" href="../index.html#blog">Blog</a></li><li id="menu-item-1081" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-has-children menu-item-1081 "><a title="Contact" href="../index.html#contact">Contact </a><ul role="menu" class=" sub-menu"><li id="menu-item-2908" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2908"><a title="Privacy Policy" href="../privacy-policy/index.html">Privacy Policy</a></li></ul></li></ul></nav>
                    </div>
                </div>
            </div>
        </header>
        <section id="subheader" data-speed="8" data-type="background" class="padding-top-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-wrap">
                            <h1>Blog</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="blog-list">
                            <article id="post-2198" class="wow fadeInUp post-2198 post type-post status-publish format-standard has-post-thumbnail hentry category-architecture">
                                <div class="post-content">
                                    <div class="post-image">
                                        <a href="../hidden-reality-human-behavior-affected-architecture/index.html" title="Hidden reality in how human behavior is affected by Architecture">
                                            <noscript>
                                             
                                                <img width="1920" height="1080" src="~/Views/WadaanWebsite/archi-cubes.com/wp-content/uploads/2018/03/final_692e2d0cfbb1f22fb2fd8bf1497ddac5.jpg" class="attachment-full size-full wp-post-image" alt="Hidden Reality of Architecture" srcset="https://archi-cubes.com/wp-content/uploads/2018/03/final_692e2d0cfbb1f22fb2fd8bf1497ddac5.jpg 1920w, https://archi-cubes.com/wp-content/uploads/2018/03/final_692e2d0cfbb1f22fb2fd8bf1497ddac5-300x169.jpg 300w, https://archi-cubes.com/wp-content/uploads/2018/03/final_692e2d0cfbb1f22fb2fd8bf1497ddac5-768x432.jpg 768w, https://archi-cubes.com/wp-content/uploads/2018/03/final_692e2d0cfbb1f22fb2fd8bf1497ddac5-1024x576.jpg 1024w" sizes="(max-width: 1920px) 100vw, 1920px" title="Hidden Reality of Architecture" />
                                            </noscript>
                                            <img width="1920" height="1080" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%201920%201080%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2018/03/final_692e2d0cfbb1f22fb2fd8bf1497ddac5.jpg" class="lazyload attachment-full size-full wp-post-image" alt="Hidden Reality of Architecture" data-srcset="https://archi-cubes.com/wp-content/uploads/2018/03/final_692e2d0cfbb1f22fb2fd8bf1497ddac5.jpg 1920w, https://archi-cubes.com/wp-content/uploads/2018/03/final_692e2d0cfbb1f22fb2fd8bf1497ddac5-300x169.jpg 300w, https://archi-cubes.com/wp-content/uploads/2018/03/final_692e2d0cfbb1f22fb2fd8bf1497ddac5-768x432.jpg 768w, https://archi-cubes.com/wp-content/uploads/2018/03/final_692e2d0cfbb1f22fb2fd8bf1497ddac5-1024x576.jpg 1024w" data-sizes="(max-width: 1920px) 100vw, 1920px" title="Hidden Reality of Architecture" />
                                        </a>
                                    </div>
                                    <div class="entry-summary clearfix">
                                        <div class="date-box">
                                            <div class="day">
                                                20
                                            </div>
                                            <div class="month">
                                                Jul
                                            </div>
                                        </div><div class="post-text"><h3 class="entry-title"><a href="../hidden-reality-human-behavior-affected-architecture/index.html" rel="bookmark">Hidden reality in how human behavior is affected by Architecture</a></h3><p></p></div>
                                    </div> <a href="../hidden-reality-human-behavior-affected-architecture/index.html" class="btn-more"> Read More </a>
                                </div>
                            </article><article id="post-2194" class="wow fadeInUp post-2194 post type-post status-publish format-standard has-post-thumbnail hentry category-architecture"><div class="post-content"><div class="post-image"> <a href="../architecture-minds-lahore-architects-interiors/index.html" title="ARCHITECTURE IN OUR MINDS | Archi Cubes Architects &#038; Interiors"> <noscript><img width="1848" height="1059" src="../wp-content/uploads/2018/07/1-kanal-dha-lahore-architects-interior-design.jpg" class="attachment-full size-full wp-post-image" alt="Interior Designer Architecture in Lahore" srcset="https://archi-cubes.com/wp-content/uploads/2018/07/1-kanal-dha-lahore-architects-interior-design.jpg 1848w, https://archi-cubes.com/wp-content/uploads/2018/07/1-kanal-dha-lahore-architects-interior-design-300x172.jpg 300w, https://archi-cubes.com/wp-content/uploads/2018/07/1-kanal-dha-lahore-architects-interior-design-768x440.jpg 768w, https://archi-cubes.com/wp-content/uploads/2018/07/1-kanal-dha-lahore-architects-interior-design-1024x587.jpg 1024w" sizes="(max-width: 1848px) 100vw, 1848px" title="1-kanal-dha-lahore-architects-interior-design" /></noscript><img width="1848" height="1059" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%201848%201059%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2018/07/1-kanal-dha-lahore-architects-interior-design.jpg" class="lazyload attachment-full size-full wp-post-image" alt="Interior Designer Architecture in Lahore" data-srcset="https://archi-cubes.com/wp-content/uploads/2018/07/1-kanal-dha-lahore-architects-interior-design.jpg 1848w, https://archi-cubes.com/wp-content/uploads/2018/07/1-kanal-dha-lahore-architects-interior-design-300x172.jpg 300w, https://archi-cubes.com/wp-content/uploads/2018/07/1-kanal-dha-lahore-architects-interior-design-768x440.jpg 768w, https://archi-cubes.com/wp-content/uploads/2018/07/1-kanal-dha-lahore-architects-interior-design-1024x587.jpg 1024w" data-sizes="(max-width: 1848px) 100vw, 1848px" title="1-kanal-dha-lahore-architects-interior-design" /> </a></div><div class="entry-summary clearfix"><div class="date-box"><div class="day">12</div><div class="month">Jul</div></div><div class="post-text"><h3 class="entry-title"><a href="../architecture-minds-lahore-architects-interiors/index.html" rel="bookmark">ARCHITECTURE IN OUR MINDS | Archi Cubes Architects &#038; Interiors</a></h3><p>The human mind collects and stores away pieces of memories whether we are conscious or not. Most of these recollections are related to places or experiences that we go...</p></div></div> <a href="../architecture-minds-lahore-architects-interiors/index.html" class="btn-more"> Read More </a></div></article><article id="post-2128" class="wow fadeInUp post-2128 post type-post status-publish format-standard has-post-thumbnail hentry category-interior-designing"><div class="post-content"><div class="post-image"> <a href="../best-interior-designers-lahore/index.html" title="Our Best Interior Designers in Lahore are Building a Signature look for your Buildings"> <noscript><img width="720" height="650" src="../wp-content/uploads/2017/11/3D-Mian-Umar-1-2.jpg" class="attachment-full size-full wp-post-image" alt="interior design" srcset="https://archi-cubes.com/wp-content/uploads/2017/11/3D-Mian-Umar-1-2.jpg 720w, https://archi-cubes.com/wp-content/uploads/2017/11/3D-Mian-Umar-1-2-600x542.jpg 600w, https://archi-cubes.com/wp-content/uploads/2017/11/3D-Mian-Umar-1-2-300x271.jpg 300w" sizes="(max-width: 720px) 100vw, 720px" title="3d-mian-umar" /></noscript><img width="720" height="650" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20720%20650%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2017/11/3D-Mian-Umar-1-2.jpg" class="lazyload attachment-full size-full wp-post-image" alt="interior design" data-srcset="https://archi-cubes.com/wp-content/uploads/2017/11/3D-Mian-Umar-1-2.jpg 720w, https://archi-cubes.com/wp-content/uploads/2017/11/3D-Mian-Umar-1-2-600x542.jpg 600w, https://archi-cubes.com/wp-content/uploads/2017/11/3D-Mian-Umar-1-2-300x271.jpg 300w" data-sizes="(max-width: 720px) 100vw, 720px" title="3d-mian-umar" /> </a></div><div class="entry-summary clearfix"><div class="date-box"><div class="day">22</div><div class="month">May</div></div><div class="post-text"><h3 class="entry-title"><a href="../best-interior-designers-lahore/index.html" rel="bookmark">Our Best Interior Designers in Lahore are Building a Signature look for your Buildings</a></h3><p>The place where you live defines you as what kind of person you are. Your beliefs are also expressed through what colors you use, by the furniture, paintings, carpets,...</p></div></div> <a href="../best-interior-designers-lahore/index.html" class="btn-more"> Read More </a></div></article><article id="post-32" class="wow fadeInUp post-32 post type-post status-publish format-image has-post-thumbnail hentry category-uncategorized tag-architectural-design-in-lahore tag-architectural-design-in-lahore-city tag-best-architectural-design-in-lahore tag-interior-in-lahore post_format-post-format-image"><div class="post-content"><div class="post-image"> <a href="../architectural-design-in-lahore/index.html" title="The Architectural Design in Lahore"> <noscript><img src='../wp-content/uploads/2015/08/1.jpg' width='2000' height='1125' alt='' title='1' /></noscript><img class="lazyload" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%202000%201125%22%3E%3C/svg%3E' data-src='https://archi-cubes.com/wp-content/uploads/2015/08/1.jpg' width='2000' height='1125' alt='' title='1' /> </a></div><div class="entry-summary clearfix"><div class="date-box"><div class="day">22</div><div class="month">Aug</div></div><div class="post-text"><h3 class="entry-title"><a href="../architectural-design-in-lahore/index.html" rel="bookmark">The Architectural Design in Lahore</a></h3><p>Architectural Design in Lahore Do a little detective work and find out as much as possible, as a way to advertise yourself competitively. You&#8217;ve got to look over your...</p></div></div> <a href="../architectural-design-in-lahore/index.html" class="btn-more">Read More</a></div></article><article id="post-40" class="wow fadeInUp post-40 post type-post status-publish format-gallery has-post-thumbnail hentry category-uncategorized tag-architectural-design-in-lahore tag-architectural-design-in-lahore-city tag-architecture-design-magazine tag-best-architectural-design-in-lahore tag-design tag-design-magazine-stories post_format-post-format-gallery"><div class="post-content"><div class="post-image"><div class="slider-post owl-carousel" data-autoplay="true" data-speed="200" data-navspeed="800" data-rewinspeed="1000" data-transition="false"><div class="item"><noscript><img src='../wp-content/uploads/2015/08/interior.jpg' width='1240' height='800' alt='' title='interior' /></noscript><img class="lazyload" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%201240%20800%22%3E%3C/svg%3E' data-src='https://archi-cubes.com/wp-content/uploads/2015/08/interior.jpg' width='1240' height='800' alt='' title='interior' /></div><div class="item"><noscript><img src='../wp-content/uploads/2015/08/lashari.jpg' width='1240' height='800' alt='' title='lashari' /></noscript><img class="lazyload" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%201240%20800%22%3E%3C/svg%3E' data-src='https://archi-cubes.com/wp-content/uploads/2015/08/lashari.jpg' width='1240' height='800' alt='' title='lashari' /></div></div></div><div class="entry-summary clearfix"><div class="date-box"><div class="day">21</div><div class="month">Aug</div></div><div class="post-text"><h3 class="entry-title"><a href="../architecture-design-magazine-stories/index.html" rel="bookmark">The Architecture &#038; Interior Design Magzine Stories</a></h3><p>Design Magazine Stories Interior designers are almost always mindful of the simple fact that it&#8217;s very difficult to ascertain the reach of required works in advance of an interior...</p></div></div> <a href="../architecture-design-magazine-stories/index.html" class="btn-more">Read More</a></div></article><article id="post-24" class="wow fadeInUp post-24 post type-post status-publish format-standard has-post-thumbnail hentry category-interior-designing tag-art tag-best-interior-designers-in-lahore tag-bet-interior-designers-in-pakistan tag-design tag-famous-interior-designers-in-lahore tag-home-decorators-in-lahore tag-interior-designers-in-lahore"><div class="post-content"><div class="post-image"> <a href="../room-good-to-great-best-interior-designers-in-lahore/index.html" title="5 Things That Take a Room from Good to Great"> <noscript><img width="1240" height="800" src="../wp-content/uploads/2015/08/interior.jpg" class="attachment-full size-full wp-post-image" alt="" srcset="https://archi-cubes.com/wp-content/uploads/2015/08/interior.jpg 1240w, https://archi-cubes.com/wp-content/uploads/2015/08/interior-600x387.jpg 600w, https://archi-cubes.com/wp-content/uploads/2015/08/interior-300x194.jpg 300w, https://archi-cubes.com/wp-content/uploads/2015/08/interior-768x495.jpg 768w, https://archi-cubes.com/wp-content/uploads/2015/08/interior-1024x661.jpg 1024w" sizes="(max-width: 1240px) 100vw, 1240px" title="interior" /></noscript><img width="1240" height="800" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%201240%20800%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2015/08/interior.jpg" class="lazyload attachment-full size-full wp-post-image" alt="" data-srcset="https://archi-cubes.com/wp-content/uploads/2015/08/interior.jpg 1240w, https://archi-cubes.com/wp-content/uploads/2015/08/interior-600x387.jpg 600w, https://archi-cubes.com/wp-content/uploads/2015/08/interior-300x194.jpg 300w, https://archi-cubes.com/wp-content/uploads/2015/08/interior-768x495.jpg 768w, https://archi-cubes.com/wp-content/uploads/2015/08/interior-1024x661.jpg 1024w" data-sizes="(max-width: 1240px) 100vw, 1240px" title="interior" /> </a></div><div class="entry-summary clearfix"><div class="date-box"><div class="day">20</div><div class="month">Aug</div></div><div class="post-text"><h3 class="entry-title"><a href="../room-good-to-great-best-interior-designers-in-lahore/index.html" rel="bookmark">5 Things That Take a Room from Good to Great</a></h3><p>Have you ever thought how can your room would be from good to great.There are following five facts by which our best interior designers in lahore can make your...</p></div></div> <a href="../room-good-to-great-best-interior-designers-in-lahore/index.html" class="btn-more"> Read More </a></div></article>
                        </div>
                        <div class="text-center">
                            <ul class="pagination"> </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div id="sidebar" class="sidebar">
                            <div id="search-2" class="widget widget_search">
                                <form role="search" method="get" action="https://archi-cubes.com/">
                                    <input type="search" id="search" class="search-field form-control" value="" name="s" placeholder="type to search&hellip;" />
                                    <button id="btn-search" type="submit"></button>
                                    <div class="clearfix">
                                    </div>
                                </form>
                            </div>
                            <div id="recent-posts-5" class="widget widget_recent_entries">
                                <h4>Recent Posts</h4>
                                <div class="small-border">
                                </div>
                                <ul>
                                    <li>
                                        <a href="../hidden-reality-human-behavior-affected-architecture/index.html">Hidden reality in how human behavior is affected by Architecture</a>
                                    </li>
                                    <li>
                                        <a href="../architecture-minds-lahore-architects-interiors/index.html">ARCHITECTURE IN OUR MINDS | Archi Cubes Architects &#038; Interiors</a>
                                    </li>
                                    <li>
                                        <a href="../best-interior-designers-lahore/index.html">Our Best Interior Designers in Lahore are Building a Signature look for your Buildings</a>
                                    </li>
                                    <li>
                                        <a href="../architectural-design-in-lahore/index.html">The Architectural Design in Lahore</a>
                                    </li>
                                    <li>
                                        <a href="../architecture-design-magazine-stories/index.html">The Architecture &#038; Interior Design Magzine Stories</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><footer>
            <div class="main-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div id="text-5" class="widget widget_text">
                                <div class="textwidget">
                                    <p>
                                        <a href="../logo-archi-cubes-new-new-new-new/index.html" rel="attachment wp-att-2122">
                                            <noscript>
                                        
                                                <img class="alignnone  wp-image-2122" src="~/Views/WadaanWebsite/archi-cubes.com/wp-content/uploads/2018/05/Logo-Archi-Cubes-new-new-new-new.png" alt="" width="276" height="69" srcset="https://archi-cubes.com/wp-content/uploads/2018/05/Logo-Archi-Cubes-new-new-new-new.png 2400w, https://archi-cubes.com/wp-content/uploads/2018/05/Logo-Archi-Cubes-new-new-new-new-300x75.png 300w, https://archi-cubes.com/wp-content/uploads/2018/05/Logo-Archi-Cubes-new-new-new-new-768x192.png 768w, https://archi-cubes.com/wp-content/uploads/2018/05/Logo-Archi-Cubes-new-new-new-new-1024x256.png 1024w" sizes="(max-width: 276px) 100vw, 276px" />
                                            </noscript><img class="lazyload alignnone  wp-image-2122" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20276%2069%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2018/05/Logo-Archi-Cubes-new-new-new-new.png" alt="" width="276" height="69" data-srcset="https://archi-cubes.com/wp-content/uploads/2018/05/Logo-Archi-Cubes-new-new-new-new.png 2400w, https://archi-cubes.com/wp-content/uploads/2018/05/Logo-Archi-Cubes-new-new-new-new-300x75.png 300w, https://archi-cubes.com/wp-content/uploads/2018/05/Logo-Archi-Cubes-new-new-new-new-768x192.png 768w, https://archi-cubes.com/wp-content/uploads/2018/05/Logo-Archi-Cubes-new-new-new-new-1024x256.png 1024w" data-sizes="(max-width: 276px) 100vw, 276px" />
                                        </a>
                                    </p>
                                    <p>We are team of renown award wining architects and interior designers based in lahore with 10 years of experience. Our renowned architecture designs are made according to the site, directions and the ambiance. Our interior designs are customized to create a well thought of ambiance. We are awarded as the best interior designers in lahore as we create &amp; plan extraordinary designs for your bedrooms, kitchen, lounges, hotels suites, restaurant, offices,home,commercial plaza etc&#8230;</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div id="nav_menu-2" class="widget widget_nav_menu">
                                <h3>Quick Links</h3>
                                <div class="menu-footer-menu-container">
                                    <ul id="menu-footer-menu" class="menu">
                                        <li id="menu-item-2215" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2215">
                                            <a href="../residential/index.html">Residential Projects</a>
                                        </li>
                                        <li id="menu-item-2216" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2216">
                                            <a href="../commercial/index.html">Commercial Projects</a>
                                        </li>
                                        <li id="menu-item-2217" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2217">
                                            <a href="../interior-design-services/index.html">Interior Design Services</a>
                                        </li>
                                        <li id="menu-item-2218" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2218">
                                            <a href="../construction-company-in-lahore/index.html">Construction Services</a>
                                        </li>
                                        <li id="menu-item-2219" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2219">
                                            <a href="../architecture-services/index.html">Architecture Services</a>
                                        </li>
                                        <li id="menu-item-2220" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-2220">
                                            <a href="../index.html#contact">Contact Us</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div id="text-4" class="widget widget_text">
                                <h3>Contact Us</h3>
                                <div class="textwidget">
                                    <address>
                                        <strong>Archi Cubes Architects And Interior Designer</strong>
                                        <span>MM Alam Rd, near Blue Mall, 45-D1 Block D 1 Gulberg III, Lahore, Punjab 54660 </span>
                                        <span><strong>Phone:</strong>(042) 35771464</span>
                                        <span><strong>Fax:</strong>(042) 35771464</span>
                                        <span><strong>Email:</strong><a href="mailto:info@archi-cubes.com">info@archi-cubes.com</a></span>
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="subfooter ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6"> © Copyright 2019 | Archi Cubes | All Rights Reserved | Developed By <a href="http://www.thesocialcubes.com/">Social Cubes</a>  &  Our <a href="../privacy-policy/index.html">Privacy Policy </a></div><div class="col-md-6 text-right"><div class="social-icons"><ul><li><a target="_blank" href="https://www.facebook.com/ArchiCubes"><i class="fa fa-facebook"></i></a></li><li><a target="_blank" href="https://www.instagram.com/archicubes/"><i class="fa fa-instagram"></i></a></li></ul></div></div>
                    </div>
                </div>
            </div> <a id="back-to-top" href="#" class="show"></a>
        </footer>
    </div>

    <script type='text/javascript' data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({ c: '731b490a-8188-45f6-96f4-611a3ef6253a', f: true }); done = true; } }; })();</script>



</body>


<script src="../wp-content/cache/autoptimize/js/autoptimize_3a99cb140bebcd4ab32f48cedd13a985.js"></script>