
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout_WADAANSITE.cshtml";
}
<div class="one-page" style="margin-top: 10%;">
    <section id="contact" class="wpb_row vc_row-fluid vc_custom_1438587675950">
        <div class="container">
            <div class="row">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper wow fadeInUp">
                            <h1 class="ot_custom_heading  " style="text-align: center;">Contact Us</h1>
                            <div class=" separator ">
                                <span><i class="fa fa-circle"></i></span>
                            </div>
                            <div class="spacer-single"></div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper wow fadeInRight">
                            @*<h3 class="ot_custom_heading  " style="">CONTACT INFO</h3>*@
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <address>
                                        <div>
                                            WADAAN Architects And Interior Designer
                                            15- Siyal Flats, University Road, Peshawar, Pakistan.
                                        </div>
                                        <div>
                                            <strong>Phone:</strong>  (091)-5853695
                                        </div>
                                        <div>
                                            <strong>Phone:</strong> (091)-5853695
                                        </div>
                                        <div>
                                            <strong>Email:</strong>
                                            <a href="mailto:info@wadaan.com">info@wadaan.com</a>
                                        </div>
                                        <div>
                                            <strong>Web:</strong>
                                            <a href="#test">http://wadaan.xtremessoft.com/</a>
                                        </div>
                                        <div>
                                            <strong>Facebook:</strong>
                                            <a href="#Facebook">http://wadaan.xtremessoft.com/</a>
                                        </div>
                                        <div>
                                            <strong>Instagram:</strong>
                                            <a href="#Instagram">http://wadaan.xtremessoft.com/</a>
                                        </div>
                                        <div>
                                            <strong>Twitter:</strong>
                                            <a href="#Twitter">http://wadaan.xtremessoft.com/</a>
                                        </div>
                                        <div>
                                            <strong>Lindkdin:</strong>
                                            <a href="#Lindkdin">http://wadaan.xtremessoft.com/</a>
                                        </div>
                                        <div>
                                            <strong>WhatsApp:</strong>
                                            <a href="#WhatsApp">http://wadaan.xtremessoft.com/</a>
                                        </div>
                                        <div>
                                            <strong>Open </strong>Monday &#8211; Saturday 12:00 &#8211; 9:00
                                        </div>








                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-8">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper wow fadeInLeft">
                            <div class="vc_empty_space" style="height: 30px">
                                <span class="vc_empty_space_inner"></span>
                            </div>
                            <div role="form" class="wpcf7" id="wpcf7-f283-p375-o1" lang="en-US" dir="ltr">
                                <div class="screen-reader-response">
                                    <p role="status" aria-live="polite" aria-atomic="true"></p>
                                    <ul></ul>
                                </div>
                                @*<form action="shttps://archi-cubes.com/#wpcf7-f283-p375-o1" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
                                        <div style="display: none;">
                                            <input type="hidden" name="_wpcf7" value="283" />
                                            <input type="hidden" name="_wpcf7_version" value="5.4.1" />
                                            <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                            <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f283-p375-o1" />
                                            <input type="hidden" name="_wpcf7_container_post" value="375" />
                                            <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div>
                                                    <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Your Name" /></span>
                                                </div>
                                                <div>
                                                    <span class="wpcf7-form-control-wrap Your-Email"><input type="email" name="Your-Email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-email" aria-invalid="false" placeholder="Email(Optional)" /></span>
                                                </div>
                                                <div>
                                                    <span class="wpcf7-form-control-wrap Your-Phone"><input type="tel" name="Your-Phone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false" placeholder="Your Phone(Required)" /></span>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div>
                                                    <span class="wpcf7-form-control-wrap message"><textarea name="message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Write your message"></textarea></span>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <p id="submit">
                                                    <input type="submit" value="Submit Form" class="wpcf7-form-control wpcf7-submit btn btn-line" />
                                                </p>
                                            </div>
                                        </div>
                                        <div class="wpcf7-response-output" aria-hidden="true"></div>
                                    </form>*@
                                <form class="pt-3" id="frmSendEmail" name="frmSendEmail" action="/services/Xtreme/multipart" method="post">
                                    <input type="hidden" name="type" id="type" value="sendEmail" />
                                    @*value="Hgw5hDXBNBUJpYOZVsI5vQXAIF9M17RQhSw1Jp5h921hj83XT2KBgSng7nxaeGH1WhthqS8862OdajpnSNAXeB7zVCi65RUNOZ6t21RQ0NMcMqhqel3Hp1RK1DRlPS30">*@
                                    <div class="row">
                                        <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">
                                            Thanks
                                            for filling out the form!
                                        </div>
                                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                                        </div>
                                    </div>
                                    <div class="dragArea row">
                                        <div class="col-md-6  form-group" data-for="name">
                                            <input type="text" name="name" placeholder="Your Name" data-form-field="Name"
                                                   required="required" class="form-control input display-7" id="name-form4-e">
                                        </div>
                                        <div class="col-md-6  form-group" data-for="phone">
                                            <input type="text" name="phone" placeholder="Phone" data-form-field="Phone"
                                                   required="required" class="form-control input display-7" id="phone-form4-e">
                                        </div>
                                        <div data-for="email" class="col-md-12  form-group">
                                            <input type="text" name="email" placeholder="Email Address"
                                                   data-form-field="Email" class="form-control input display-7"
                                                   required="required" id="email-form4-e">
                                        </div>
                                        <div data-for="message" class="col-md-12  form-group">
                                            <textarea required="required" name="message" placeholder="Message" data-form-field="Message"
                                                      class="form-control input display-7" id="message-form4-e"></textarea>
                                        </div>
                                        <div class="col-md-12 input-group-btn mt-2 align-center float-right">
                                            <button type="submit" id="btnSend" class="btn btn-sm float-right btn-white">SEND</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>

</div>
<div class=" separator ">
    <span><i class="fa fa-circle"></i></span>
</div>
<section class="wpb_row vc_row-fluid no-padding">
    <div class="row">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
                <div class="wpb_wrapper ">
                    <div id="gmap-60c326fde3ce8" style="height: 500px;"></div>
                    <script type="text/javascript">
                        (function ($) {
                            "use strict"
                            $(document).ready(function () {

                                var locations = [
                                    ['<div class="infobox"><span><span></div>', 34.00243332993968, 71.50180832100985, 2]
                                ];

                                var map = new google.maps.Map(document.getElementById('gmap-60c326fde3ce8'), {
                                    zoom: 15,
                                    scrollwheel: false,
                                    navigationControl: true,
                                    mapTypeControl: false,
                                    scaleControl: false,
                                    draggable: true,
                                    styles:
                                        [{
                                            "stylers": [{ "hue": "#ff1a00" },
                                            { "invert_lightness": true },
                                            { "saturation": -100 },
                                            { "lightness": 33 },
                                            { "gamma": 0.5 }]
                                        }, { "featureType": "water", "elementType": "geometry", "stylers": [{ "color": "#2D333C" }] }],
                                    center: new google.maps.LatLng(34.00243332993968, 71.50180832100985),
                                    mapTypeId: google.maps.MapTypeId.ROADMAP
                                });

                                var infowindow = new google.maps.InfoWindow();

                                var marker, i;

                                for (i = 0; i < locations.length; i++) {
                                    marker = new google.maps.Marker({
                                        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                                        map: map,
                                        icon: '',
                                        title: ''
                                    });
                                    google.maps.event.addListener(marker, (function (marker, i) {
                                        return function () {
                                            infowindow.setContent(locations[i][0]);
                                            infowindow.open(map, marker);
                                        }
                                    })(marker, i));
                                }

                            });

                        })(jQuery);</script>
                </div>
            </div>
        </div>
    </div>
</section>
 