
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout_WADAANSITE.cshtml";
}

<style>
    .vc_custom_1548864264975 {
        padding-top: 90px !important;
        padding-bottom: 90px !important;
        background-image: url(https://archi-cubes.com/wp-content/uploads/2018/03/karachi-kanteen.jpg?id=2010) !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }
</style>
<div class="one-page">
    <section id="home" class="wpb_row vc_row-fluid no-padding">
        <div class="row">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper ">
                        <div class="wpb_revslider_element wpb_content_element">
                            <p class="rs-p-wp-fix"></p>
                            @Html.Partial("~/Views/Home/PartialViews/_IndexBannerPartialView.cshtml")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="services" class="wpb_row vc_row-fluid vc_custom_1438587532215" style="background-color:white;">
        <div class="container">
            <div class="row">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper wow fadeInUp">
                            <h1 class="ot_custom_heading  " style="text-align: center;">What WADAAN Architects And Interior Designer Offers</h1>
                            <div class=" separator ">
                                <span><i class="fa fa-circle"></i></span>
                            </div>
                            <div class="spacer-single"></div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper wow fadeInLeft">
                            <h1 style="font-size: 20px;color: #dd3333;text-align: left" class="vc_custom_heading  wpb_fadeInLeft fadeInLeft">
                                <a href="/Home/architecture-services/">
                                    <b> Architecture Services </b>
                                </a>
                            </h1>
                            <div class="wpb_text_column wpb_content_element   wpb_fadeInLeft fadeInLeft vc_custom_1567905274590">
                                <div class="wpb_wrapper">
                                    <p>We believe in giving a lot of attention to the little details. We are one of the best architects in lahore and Our architecture designs are made according to the site, directions and the ambiance.</p>
                                </div>
                            </div>
                            <div class="wpb_single_image wpb_content_element vc_align_left   wpb_fadeInLeft fadeInLeft">
                                <figure class="wpb_wrapper vc_figure">
                                    <a href="/Home/architecture-services/" target="_self" class="vc_single_image-wrapper   vc_box_border_grey">
                                        <img src="/../../Content/wp-content/uploads/2020/09/archi-cubes-construction-services-front-image.jpg" alt="Alternate Text" />

                                        <noscript>
                                            <img width="372" height="212" src="/../../Content/wp-content/uploads/2020/09/archi-cubes-construction-services-front-image.jpg"
                                                 class="vc_single_image-img attachment-full"
                                                 alt="best architects in lahore"
                                                 srcset="/../../Content/wp-content/uploads/2020/09/archi-cubes-construction-services-front-image.jpg"
                                                 sizes="(max-width: 372px) 100vw, 372px" title="archi-cubes-construction-services-front-image" />
                                        </noscript>

                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper wow fadeInUp">
                            <h1 style="font-size: 20px;color: #dd3333;text-align: left" class="vc_custom_heading  wpb_fadeInUp fadeInUp">
                                <a href="/Home/interior-design-services">
                                    <b>Interior Designing Services</b>
                                </a>
                            </h1>
                            <div class="wpb_text_column wpb_content_element   wpb_fadeInUp fadeInUp vc_custom_1567905344549">
                                <div class="wpb_wrapper">
                                    <p>Our Interior Designs are customised to create a well thought of ambiance. Every element that we utilize in creating the final interior. Our Industry Leading team is the best interior designer in Lahore.</p>
                                </div>
                            </div>
                            <div class="wpb_single_image wpb_content_element vc_align_left   wpb_fadeInUp fadeInUp">
                                <figure class="wpb_wrapper vc_figure">
                                    <a href="/Home/interior-design-services" target="_self" class="vc_single_image-wrapper   vc_box_border_grey">
                                        <noscript>
                                            <img width="360" height="205" src="~/Content/wp-content/uploads/2020/09/archi-cubes-interior-services-front-image2.jpg" class="vc_single_image-img attachment-full" alt="" srcset="~/Content/wp-content/uploads/2020/09/788.jpg" 360w, https://archi-cubes.com/wp-content/uploads/2020/09/archi-cubes-interior-services-front-image2-300x171.jpg 300w" sizes="(max-width: 360px) 100vw, 360px" title="archi-cubes-interior-services-front-image2" />
                                        </noscript><img width="360" height="205" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20360%20205%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2020/09/archi-cubes-interior-services-front-image2.jpg" class="lazyload vc_single_image-img attachment-full" alt="" data-srcset="https://archi-cubes.com/wp-content/uploads/2020/09/archi-cubes-interior-services-front-image2.jpg 360w, https://archi-cubes.com/wp-content/uploads/2020/09/archi-cubes-interior-services-front-image2-300x171.jpg 300w" data-sizes="(max-width: 360px) 100vw, 360px" title="archi-cubes-interior-services-front-image2" />
                                    </a>

                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper wow fadeInRight">
                            <h1 style="font-size: 20px;color: #dd3333;text-align: left" class="vc_custom_heading  wpb_fadeInRight fadeInRight">
                                <a href="~/Views/Home/Services/construction.cshtml"><b>Construction Services </b></a>
                            </h1>
                            <div class="wpb_text_column wpb_content_element   wpb_fadeInRight fadeInRight vc_custom_1567905389303">
                                <div class="wpb_wrapper">
                                    <p>
                                        With every project we bring together a whole concept, and work on the
                                        <a href="/Home/construction">Best Construction Work</a> in parallel to the concept and then execute it.
                                    </p>
                                </div>

                            </div>
                            <div class="vc_empty_space" style="height: 25px">
                                <span class="vc_empty_space_inner"></span>
                            </div>
                            <div class="wpb_single_image wpb_content_element vc_align_left   wpb_fadeInRight fadeInRight">
                                <figure class="wpb_wrapper vc_figure">
                                    <a href="/Home/construction" target="_self" class="vc_single_image-wrapper   vc_box_border_grey">
                                        <noscript>
                                            <img width="427" height="240" src="~/Content/wp-content/uploads/2019/07/Xin-Mall-Construction-design-2.jpg" class="vc_single_image-img attachment-full"
                                                 alt="Construction Design in Lahore"
                                                 srcset="https://archi-cubes.com/wp-content/uploads/2019/07/Xin-Mall-Construction-design-2.jpg 427w, https://archi-cubes.com/wp-content/uploads/2019/07/Xin-Mall-Construction-design-2-300x169.jpg 300w" sizes="(max-width: 427px) 100vw, 427px" title="Xin-Mall-Construction-design" />
                                        </noscript><img width="427" height="240" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20427%20240%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2019/07/Xin-Mall-Construction-design-2.jpg" class="lazyload vc_single_image-img attachment-full" alt="Construction Design in Lahore" data-srcset="https://archi-cubes.com/wp-content/uploads/2019/07/Xin-Mall-Construction-design-2.jpg 427w, https://archi-cubes.com/wp-content/uploads/2019/07/Xin-Mall-Construction-design-2-300x169.jpg 300w" data-sizes="(max-width: 427px) 100vw, 427px" title="Xin-Mall-Construction-design" />
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @*<section id="process" class="wpb_row vc_row-fluid text-light vc_custom_1548864264975 vc_row-has-fill">
            <div class="container">
                <div class="row">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper wow fadeInUp">
                                <h1 class="ot_custom_heading  " style="text-align: center;color: #ffffff;">Our Process</h1>
                                <div class=" separator ">
                                    <span><i class="fa fa-circle"></i></span>
                                </div>
                                <div class="spacer-single"></div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper ">
                                <div class="de_tab tab_steps tab_4  ">
                                    <ul class="de_nav process-circle-textonly">
                                        <li class="active wow fadeIn " data-wow-delay="0.4s">
                                            <span class="content-mid">
                                                <div class="inner"> Meet &#038; Agree</div>
                                            </span>
                                            <div class="v-border"></div>
                                        </li>
                                        <li class=" wow fadeIn " data-wow-delay="0.8s">
                                            <span class="content-mid">
                                                <div class="inner"> Idea &#038; Concept</div>
                                            </span>
                                            <div class="v-border"></div>
                                        </li>
                                        <li class=" wow fadeIn " data-wow-delay="1.2s">
                                            <span class="content-mid">
                                                <div class="inner"> Design &#038; Create</div>
                                            </span>
                                            <div class="v-border"></div>
                                        </li>
                                        <li class=" wow fadeIn " data-wow-delay="1.6s">
                                            <span class="content-mid">
                                                <div class="inner"> Build &#038; Install</div>
                                            </span>
                                            <div class="v-border"></div>
                                        </li>
                                    </ul>
                                    <div class="de_tab_content">
                                        <div id="tab-615" class="de_tab_content_inner"></div>
                                        <div id="tab-616" class="de_tab_content_inner"></div>
                                        <div id="tab-617" class="de_tab_content_inner"></div>
                                        <div id="tab-618" class="de_tab_content_inner"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
    <section id="project" class="wpb_row vc_row-fluid vc_custom_1520424669037">
        <div class="container">
            <div class="row">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper wow fadeInUp">
                            <h1 class="ot_custom_heading  " style="text-align: center; margin: 20px;">Our Work</h1>
                            <div class=" separator ">
                                <span><i class="fa fa-circle"></i></span>
                            </div>
                            <div class="spacer-single"></div>
                            <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper ">
                                            <div class="wpb_single_image wpb_content_element vc_align_center">
                                                <figure class="wpb_wrapper vc_figure">
                                                    <a href="/Home/Commercial" target="_blank"
                                                       class="vc_single_image-wrapper vc_box_shadow_3d  vc_box_border_grey">
                                                        <noscript>
                                                            <img width="555" height="370"
                                                                 src="wp-content/uploads/2021/01/C-1.jpg"
                                                                 class="vc_single_image-img attachment-full" alt=""
                                                                 srcset="https://archi-cubes.com/wp-content/uploads/2021/01/C-1.jpg 555w,
                                                                   https://archi-cubes.com/wp-content/uploads/2021/01/C-1-300x200.jpg 300w"
                                                                 sizes="(max-width: 555px) 100vw, 555px" title="C" />
                                                        </noscript>
                                                        <img width="555" height="370" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20555%20370%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2021/01/C-1.jpg" class="lazyload vc_single_image-img attachment-full" alt="" data-srcset="https://archi-cubes.com/wp-content/uploads/2021/01/C-1.jpg 555w, https://archi-cubes.com/wp-content/uploads/2021/01/C-1-300x200.jpg 300w" data-sizes="(max-width: 555px) 100vw, 555px" title="C" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="vc_btn3-container vc_btn3-center">
                                                <a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-3d vc_btn3-icon-left vc_btn3-color-inverse"
                                                   href="/Home/Commercial"
                                                   title="" target="_blank"><i class="vc_btn3-icon fa fa-hospital-o"></i>See Our Commercial Projects</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper ">
                                            <div class="wpb_single_image wpb_content_element vc_align_left">
                                                <figure class="wpb_wrapper vc_figure">
                                                    <a href="/Home/Residential" target="_blank" class="vc_single_image-wrapper vc_box_shadow_3d  vc_box_border_grey"><noscript><img width="555" height="370" src="wp-content/uploads/2021/01/R-1.jpg" class="vc_single_image-img attachment-full" alt="" srcset="https://archi-cubes.com/wp-content/uploads/2021/01/R-1.jpg 555w, https://archi-cubes.com/wp-content/uploads/2021/01/R-1-300x200.jpg 300w" sizes="(max-width: 555px) 100vw, 555px" title="R" /></noscript><img width="555" height="370" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20555%20370%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2021/01/R-1.jpg" class="lazyload vc_single_image-img attachment-full" alt="" data-srcset="https://archi-cubes.com/wp-content/uploads/2021/01/R-1.jpg 555w, https://archi-cubes.com/wp-content/uploads/2021/01/R-1-300x200.jpg 300w" data-sizes="(max-width: 555px) 100vw, 555px" title="R" /></a>
                                                </figure>
                                            </div>
                                            <div class="vc_btn3-container vc_btn3-center">
                                                <a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-3d vc_btn3-icon-left vc_btn3-color-inverse"
                                                   href="/Home/Residential" title="" target="_blank"><i class="vc_btn3-icon fa fa-hospital-o"></i>See Our Residential Projects</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @*<section class="wpb_row vc_row-fluid text-light vc_custom_1601385928745 vc_row-has-fill">
            <div class="container">
                <div class="row">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper wow fadeInUp">
                                <h1 class="ot_custom_heading  " style="text-align: center;color: #ffffff;">Why People *Hearts* WADAAN</h1>
                                <div class=" separator ">
                                    <span><i class="fa fa-circle"></i></span>
                                </div>
                                <div class="spacer-single"></div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper ">
                                <div class="testimonial__carousel de_carousel wow fadeInUp" data-wow-delay=".3s" data-visible="2" data-autoplay="false" data-autoheight="false" data-speed="200" data-navspeed="800" data-rewinspeed="1000">
                                    <div class="col-md-12 item">
                                        <div class="de_testi">
                                            <blockquote>
                                                <p>For the people using a place, the interior of that space matters a lot. Archi-cubes is an interior designing company which makes the environment pleasant looking and aesthetic. They plan, design and implement those designs to make a place look great. They have got one of the best team working towards creating a perfect ambiance.</p>
                                                <div class="de_testi_by no-margin">
                                                    <div> Saad Naeem</div>
                                                </div>
                                            </blockquote>
                                        </div>
                                    </div>
                                    <div class="col-md-12 item">
                                        <div class="de_testi">
                                            <blockquote>
                                                <p>I visited all the architects and interior designers in lahore, but i found archi cubes the best architects and interior designers in lahore. They designed my home very well so smartly and with such innovation and dedication.</p>
                                                <div class="de_testi_by no-margin">
                                                    <div> Javaid Rizwan</div>
                                                </div>
                                            </blockquote>
                                        </div>
                                    </div>
                                    <div class="col-md-12 item">
                                        <div class="de_testi">
                                            <blockquote>
                                                <p>They designed my home elegantly. I prefer archi cubes as the top interior designers and architects in lahore. They are very dedicated to their work and have much excellence in the field.</p>
                                                <div class="de_testi_by no-margin">
                                                    <div> Ali Hassan</div>
                                                </div>
                                            </blockquote>
                                        </div>
                                    </div>
                                    <div class="col-md-12 item">
                                        <div class="de_testi">
                                            <blockquote>
                                                <p>They did my project so professionally. Excellent attitude. Very nice people. And great work. recommend it for all interior designs.</p>
                                                <div class="de_testi_by no-margin">
                                                    <div> Milia Kunis</div>
                                                </div>
                                            </blockquote>
                                        </div>
                                    </div>
                                    <div class="col-md-12 item">
                                        <div class="de_testi">
                                            <blockquote>
                                                <p>Archi cubes has my undoubted endorsement. The whole process has been smoother than I expected it to be. From the very first step to the execution, I have had not a single issue. The team listened to my needs regarding the interior and picked out exactly what I had in mind. On every step of the designing, they always had a satisfactory answer to any technical question that I had. I have been constantly receiving praises for the interior of my restaurant and it has contributed equally to the hype around my restaurant.</p>
                                                <h3>
                                                    <strong>Owner of Cafe Pomelo</strong>
                                                </h3>
                                                <div class="de_testi_by no-margin">
                                                    <div> Muhammad Haroon, Customer</div>
                                                </div>
                                            </blockquote>
                                        </div>
                                    </div>
                                    <div class="col-md-12 item">
                                        <div class="de_testi">
                                            <blockquote>
                                                <p>Zaeem is extremely organized and easy to work with. The team had their own vision about the whole place and its safe to say that It couldn’t get any better. The whole concept behind the interior was very well executed and I am glad that I chose no one else but Archi Cubes to design the interior of my playland.</p>
                                                <h3>
                                                    <strong>Sohaib Owner Sayb City</strong>
                                                </h3>
                                                <div class="de_testi_by no-margin">
                                                    <div> Muhammad Sohaib, Customer</div>
                                                </div>
                                            </blockquote>
                                        </div>
                                    </div>
                                    <div class="col-md-12 item">
                                        <div class="de_testi">
                                            <blockquote>
                                                <p>I have very much enjoyed with your services. Zaeem and his team has proven that Archi Cubes is the best interior designers in lahore as well as best architects in lahore,Pakistan. &#8220;Appreciate your work&#8221;!</p>
                                                <div class="de_testi_by no-margin">
                                                    <div> Michael, Customer</div>
                                                </div>
                                            </blockquote>
                                        </div>
                                    </div>
                                    <div class="col-md-12 item">
                                        <div class="de_testi">
                                            <blockquote>
                                                <p>I&#8217;m always impressed with the interior designing and architectural services from Archi Cubes. As it comes on best interior designers and best architects in lahore. the team Archi Cubes is on the top as it delivers the quality work in mean time. So in my opinion Archi Cubes is the best interior designers in lahore and best architects in lahore.</p>
                                                <div class="de_testi_by no-margin">
                                                    <div> John, Customer</div>
                                                </div>
                                            </blockquote>
                                        </div>
                                    </div>
                                    <div class="col-md-12 item">
                                        <div class="de_testi">
                                            <blockquote>
                                                <p>I met many best interior designers in lahore but I was unfamiliar of team Archi Cubes at that time. When i met Zaeem and his team, I found them the best of the best interior designers in lahore.</p>
                                                <div class="de_testi_by no-margin">
                                                    <div> Abdullah Hassan</div>
                                                </div>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
    @*<section class="wpb_row vc_row-fluid vc_custom_1548863422156 vc_row-has-fill">
            <div class="container">
                <div class="row">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper ">
                                <h1 class="ot_custom_heading  " style="text-align: center;color: #0a0a0a;">Recent Projects</h1>
                                <div class=" separator ">
                                    <span><i class="fa fa-circle"></i></span>
                                </div>
                                <div class="spacer-single"></div>
                                <div class="projects-grid-wrapper">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <ul class="project_filters wow fadeInUp" data-wow-delay="0s">
                                                    <li>
                                                        <a href="#" data-filter=".category-4">Residential</a>
                                                    </li>
                                                    <li>
                                                        <a href="#" data-filter=".category-5">Commercial</a>
                                                    </li>
                                                    <li>
                                                        <a href="#" data-filter=".category-6">Educational</a>
                                                    </li>

                                                    <li>
                                                        <a href="#" data-filter=".category-7">Health Care</a>
                                                    </li>


                                                    <li>
                                                        <a href="#" data-filter=".category-8">Hospitality</a>
                                                    </li>
                                                    <li>
                                                        <a href="#" data-filter=".category-9">Religious</a>
                                                    </li>


                                                    <li>
                                                        <a href="#" data-filter=".category-11">Land scap</a>
                                                    </li>
                                                    <li>
                                                        <a href="#" data-filter=".category-12">Town Planning</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row folio-style2 projects-grid projects-load-ajax wow fadeInUp" data-wow-delay=".3s" id="projecttypes">
                                        <div class="project-item-sizer col-md-3"></div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
    @*<section id="blog" class="wpb_row vc_row-fluid text-light vc_custom_1601385786971 vc_row-has-fill">
            <div class="container">
                <div class="row">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper wow fadeInUp">
                                <h1 class="ot_custom_heading  " style="text-align: center;color: #ffffff;">Latest Blog</h1>
                                <div class=" separator ">
                                    <span><i class="fa fa-circle"></i></span>
                                </div>
                                <div class="spacer-single"></div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper wow fadeInUp">
                                <div class="clearfix"></div>
                                <ul class="blog-carousel blog-list blog-snippet wow fadeInUp" data-visible="2" data-autoplay="false" data-speed="200" data-navspeed="800" data-rewinspeed="1000">
                                    <li class="col-md-6 item">
                                        <div class="post-content">
                                            <div class="post-image">
                                                <a href="hidden-reality-human-behavior-affected-architecture/index.html" title="Hidden reality in how human behavior is affected by Architecture"> <noscript><img width="540" height="300" src="wp-content/uploads/2018/03/final_692e2d0cfbb1f22fb2fd8bf1497ddac5-540x300.jpg" class="attachment-thumb-blog size-thumb-blog wp-post-image" alt="Hidden Reality of Architecture" title="Hidden Reality of Architecture" /></noscript><img width="540" height="300" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20540%20300%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2018/03/final_692e2d0cfbb1f22fb2fd8bf1497ddac5-540x300.jpg" class="lazyload attachment-thumb-blog size-thumb-blog wp-post-image" alt="Hidden Reality of Architecture" title="Hidden Reality of Architecture" /> </a>
                                            </div>
                                            <div class="date-box">
                                                <div class="day">20</div>
                                                <div class="month">Jul</div>
                                            </div>
                                            <div class="post-text ">
                                                <h3>
                                                    <a href="hidden-reality-human-behavior-affected-architecture/index.html">Hidden reality in how human behavior is affected by Architecture</a>
                                                </h3>
                                                <p></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-md-6 item">
                                        <div class="post-content">
                                            <div class="post-image">
                                                <a href="architecture-minds-lahore-architects-interiors/index.html" title="ARCHITECTURE IN OUR MINDS | Archi Cubes Architects &#038; Interiors"> <noscript><img width="540" height="300" src="wp-content/uploads/2018/07/1-kanal-dha-lahore-architects-interior-design-540x300.jpg" class="attachment-thumb-blog size-thumb-blog wp-post-image" alt="Interior Designer Architecture in Lahore" title="1-kanal-dha-lahore-architects-interior-design" /></noscript><img width="540" height="300" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20540%20300%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2018/07/1-kanal-dha-lahore-architects-interior-design-540x300.jpg" class="lazyload attachment-thumb-blog size-thumb-blog wp-post-image" alt="Interior Designer Architecture in Lahore" title="1-kanal-dha-lahore-architects-interior-design" /> </a>
                                            </div>
                                            <div class="date-box">
                                                <div class="day">12</div>
                                                <div class="month">Jul</div>
                                            </div>
                                            <div class="post-text ">
                                                <h3>
                                                    <a href="architecture-minds-lahore-architects-interiors/index.html">ARCHITECTURE IN OUR MINDS | Archi Cubes Architects &#038; Interiors</a>
                                                </h3>
                                                <p>The human mind collects and stores away pieces of memories whether we are conscious or not. Most of...</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-md-6 item">
                                        <div class="post-content">
                                            <div class="post-image">
                                                <a href="best-interior-designers-lahore/index.html" title="Our Best Interior Designers in Lahore are Building a Signature look for your Buildings"> <noscript><img width="540" height="300" src="wp-content/uploads/2017/11/3D-Mian-Umar-1-2-540x300.jpg" class="attachment-thumb-blog size-thumb-blog wp-post-image" alt="interior design" title="3d-mian-umar" /></noscript><img width="540" height="300" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20540%20300%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2017/11/3D-Mian-Umar-1-2-540x300.jpg" class="lazyload attachment-thumb-blog size-thumb-blog wp-post-image" alt="interior design" title="3d-mian-umar" /> </a>
                                            </div>
                                            <div class="date-box">
                                                <div class="day">22</div>
                                                <div class="month">May</div>
                                            </div>
                                            <div class="post-text ">
                                                <h3>
                                                    <a href="best-interior-designers-lahore/index.html">Our Best Interior Designers in Lahore are Building a Signature look for your Buildings</a>
                                                </h3>
                                                <p>The place where you live defines you as what kind of person you are. Your beliefs are also...</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-md-6 item">
                                        <div class="post-content">
                                            <div class="post-image">
                                                <a href="architectural-design-in-lahore/index.html" title="The Architectural Design in Lahore"> <noscript><img width="540" height="300" src="wp-content/uploads/2015/08/1-540x300.jpg" class="attachment-thumb-blog size-thumb-blog wp-post-image" alt="" title="1" /></noscript><img width="540" height="300" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20540%20300%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2015/08/1-540x300.jpg" class="lazyload attachment-thumb-blog size-thumb-blog wp-post-image" alt="" title="1" /> </a>
                                            </div>
                                            <div class="date-box">
                                                <div class="day">22</div>
                                                <div class="month">Aug</div>
                                            </div>
                                            <div class="post-text ">
                                                <h3>
                                                    <a href="architectural-design-in-lahore/index.html">The Architectural Design in Lahore</a>
                                                </h3>
                                                <p>Architectural Design in Lahore Do a little detective work and find out as much as possible, as a...</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-md-6 item">
                                        <div class="post-content">
                                            <div class="post-image">
                                                <a href="architecture-design-magazine-stories/index.html" title="The Architecture &#038; Interior Design Magzine Stories"> <noscript><img width="540" height="300" src="wp-content/uploads/2017/11/3D-Mian-Umar-1-2-540x300.jpg" class="attachment-thumb-blog size-thumb-blog wp-post-image" alt="interior design" title="3d-mian-umar" /></noscript><img width="540" height="300" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20540%20300%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2017/11/3D-Mian-Umar-1-2-540x300.jpg" class="lazyload attachment-thumb-blog size-thumb-blog wp-post-image" alt="interior design" title="3d-mian-umar" /> </a>
                                            </div>
                                            <div class="date-box">
                                                <div class="day">21</div>
                                                <div class="month">Aug</div>
                                            </div>
                                            <div class="post-text ">
                                                <h3>
                                                    <a href="architecture-design-magazine-stories/index.html">The Architecture &#038; Interior Design Magzine Stories</a>
                                                </h3>
                                                <p>Design Magazine Stories Interior designers are almost always mindful of the simple fact that it&#8217;s very difficult to...</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-md-6 item">
                                        <div class="post-content">
                                            <div class="post-image">
                                                <a href="room-good-to-great-best-interior-designers-in-lahore/index.html" title="5 Things That Take a Room from Good to Great"> <noscript><img width="540" height="300" src="wp-content/uploads/2015/08/interior-540x300.jpg" class="attachment-thumb-blog size-thumb-blog wp-post-image" alt="" title="interior" /></noscript><img width="540" height="300" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20540%20300%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2015/08/interior-540x300.jpg" class="lazyload attachment-thumb-blog size-thumb-blog wp-post-image" alt="" title="interior" /> </a>
                                            </div>
                                            <div class="date-box">
                                                <div class="day">20</div>
                                                <div class="month">Aug</div>
                                            </div>
                                            <div class="post-text ">
                                                <h3>
                                                    <a href="room-good-to-great-best-interior-designers-in-lahore/index.html">5 Things That Take a Room from Good to Great</a>
                                                </h3>
                                                <p>Have you ever thought how can your room would be from good to great.There are following five facts...</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
    <section id="team" class="wpb_row vc_row-fluid vc_custom_1438750261602 vc_row-has-fill">
        @Html.Partial("~/Views/Home/PartialViews/_AboutPartialView.cshtml")
    </section>
    @*<section id="team" class="wpb_row vc_row-fluid vc_custom_1438750261602 vc_row-has-fill">

            <div class="container">
                <div class="row">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper wow fadeInUp">
                                <h1 class="ot_custom_heading  " style="text-align: center;">Our Team</h1>
                                <div class=" separator ">
                                    <span><i class="fa fa-circle"></i></span>
                                </div>
                                <div class="spacer-single"></div>
                            </div>
                        </div>
                    </div>
                    <div class="container-4 wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper wow fadeInUp" id="teamplayer">


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
    @*<section id="contact" class="wpb_row vc_row-fluid vc_custom_1438587675950">
            <div class="container">
                <div class="row">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper wow fadeInUp">
                                <h1 class="ot_custom_heading  " style="text-align: center;">Contact Us</h1>
                                <div class=" separator ">
                                    <span><i class="fa fa-circle"></i></span>
                                </div>
                                <div class="spacer-single"></div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-8">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper wow fadeInLeft">
                                <div class="vc_empty_space" style="height: 30px">
                                    <span class="vc_empty_space_inner"></span>
                                </div>
                                <div role="form" class="wpcf7" id="wpcf7-f283-p375-o1" lang="en-US" dir="ltr">
                                    <div class="screen-reader-response">
                                        <p role="status" aria-live="polite" aria-atomic="true"></p>
                                        <ul></ul>
                                    </div>
                                    <form action="https://archi-cubes.com/#wpcf7-f283-p375-o1" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
                                        <div style="display: none;">
                                            <input type="hidden" name="_wpcf7" value="283" />
                                            <input type="hidden" name="_wpcf7_version" value="5.4.1" />
                                            <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                            <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f283-p375-o1" />
                                            <input type="hidden" name="_wpcf7_container_post" value="375" />
                                            <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div>
                                                    <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Your Name" /></span>
                                                </div>
                                                <div>
                                                    <span class="wpcf7-form-control-wrap Your-Email"><input type="email" name="Your-Email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-email" aria-invalid="false" placeholder="Email(Optional)" /></span>
                                                </div>
                                                <div>
                                                    <span class="wpcf7-form-control-wrap Your-Phone"><input type="tel" name="Your-Phone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false" placeholder="Your Phone(Required)" /></span>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div>
                                                    <span class="wpcf7-form-control-wrap message"><textarea name="message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Which services do you want?"></textarea></span>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <p id="submit">
                                                    <input type="submit" value="Submit Form" class="wpcf7-form-control wpcf7-submit btn btn-line" />
                                                </p>
                                            </div>
                                        </div>
                                        <div class="wpcf7-response-output" aria-hidden="true"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-4">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper wow fadeInRight">
                                <h3 class="ot_custom_heading  " style="">CONTACT INFO</h3>
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <address>
                                            <div>
                                                WADAAN Architects And Interior Designer
                                                15- Siyal Flats, University Road, Peshawar, Pakistan.
                                            </div>
                                            <div>
                                                <strong>Phone:</strong>  (091)-5853695
                                            </div>
                                            <div>
                                                <strong>Phone:</strong> (091)-5853695
                                            </div>
                                            <div>
                                                <strong>Email:</strong>
                                                <a href="mailto:info@wadaan.com">info@wadaan.com</a>
                                            </div>
                                            <div>
                                                <strong>Web:</strong>
                                                <a href="#test">http://wadaan.com/</a>
                                            </div>
                                            <div>
                                                <strong>Open </strong>Monday &#8211; Saturday 12:00 &#8211; 9:00
                                            </div>
                                        </address>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
    <div class=" separator ">
        <span><i class="fa fa-circle"></i></span>
    </div>
    <section class="wpb_row vc_row-fluid no-padding">
        <div class="row">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper ">
                        <div id="gmap-60c326fde3ce8" style="height: 500px;"></div>
                        <script type="text/javascript">
                            (function ($) {
                                "use strict"
                                $(document).ready(function () {

                                    var locations = [
                                        ['<div class="infobox"><span><span></div>', 34.00243332993968, 71.50180832100985, 2]
                                    ];

                                    var map = new google.maps.Map(document.getElementById('gmap-60c326fde3ce8'), {
                                        zoom: 15,
                                        scrollwheel: false,
                                        navigationControl: true,
                                        mapTypeControl: false,
                                        scaleControl: false,
                                        draggable: true,
                                        styles:
                                            [{
                                                "stylers": [{ "hue": "#ff1a00" },
                                                { "invert_lightness": true },
                                                { "saturation": -100 },
                                                { "lightness": 33 },
                                                { "gamma": 0.5 }]
                                            }, { "featureType": "water", "elementType": "geometry", "stylers": [{ "color": "#2D333C" }] }],
                                        center: new google.maps.LatLng(34.00243332993968, 71.50180832100985),
                                        mapTypeId: google.maps.MapTypeId.ROADMAP
                                    });

                                    var infowindow = new google.maps.InfoWindow();

                                    var marker, i;

                                    for (i = 0; i < locations.length; i++) {
                                        marker = new google.maps.Marker({
                                            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                                            map: map,
                                            icon: '',
                                            title: ''
                                        });
                                        google.maps.event.addListener(marker, (function (marker, i) {
                                            return function () {
                                                infowindow.setContent(locations[i][0]);
                                                infowindow.open(map, marker);
                                            }
                                        })(marker, i));
                                    }

                                });

                            })(jQuery);</script>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="~/Scripts/FunctionalityJs/Website/index.js"></script>