
@{
    ViewBag.Title = "PageNotFound";
    Layout = "~/Views/Shared/_Layout_WADAANSITE.cshtml";
}

<h2>PageNotFound</h2>



<section id="subheader" data-speed="8" data-type="background" class="padding-top-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>404</h1>
            </div>
        </div>
    </div>

</section>
<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title_404">404</h1><div class="content_404 center"> The page you are looking for no longer exists. Perhaps you can return back to the sites homepage see you can find what you are looking for.</div>
                <div class="center"><a class="btn btn-primary" href="https://archi-cubes.com/"><i class="fa fa-arrow-circle-left"></i> Back To Home</a></div>
            </div>
        </div>
    </div>
</div>

<script src="wp-content/cache/autoptimize/js/autoptimize_3a99cb140bebcd4ab32f48cedd13a985.js"></script>