
@{
    /**/

    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout_WADAANSITE.cshtml";
}
<style>
    .vc_custom_1524834518427 {
        padding-top: 90px !important;
        padding-bottom: 90px !important;        
        background-image: url(../archi-cubes.com/wp-content/uploads/2018/04/compressbg-slider.jpg?id=2104) !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }
</style>


<div class="one-page">
    <section data-stellar-background-ratio="-.1" class="wpb_row vc_row-fluid no-relative full-height vc_custom_1524834518427 vc_row-has-fill stellar-fixed full-height no-padding" style="height: 1089px; background-position: 50% 0px;">
        <div class="row">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper ">
                        <div class="center-y text-center" style="margin-top: 374px; opacity: 1;">
                            <div class="spacer-double"></div>
                            <h1 class="title">
                                <strong>Construction</strong>
                            </h1>
                            <div class="spacer-single"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="wpb_row vc_row-fluid vc_row-o-content-middle vc_row-flex">
        <div class="container">
            <div class="row">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper ">
                            <div class="vc_empty_space" style="height: 32px">
                                <span class="vc_empty_space_inner"></span>
                            </div>
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <p style="text-align: center;" align="justify">
                                        Apart from being an interior design and
                                        <strong>architecture firm</strong>, The WADAAN is also a
                                        <strong>construction company in Peshawar.</strong> When we say we plan, design and implement those design we mean it a 100 percent. We have in-house team of experienced engineers and workers that look after the construction of the designs. Architecture is all about designing a building whereas a civil engineer tells you about the practicality of that design and structure. A deep relationship between and architect and engineer is highly necessary to reach the end results of the projects.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section-why-choose-us-2" class="wpb_row vc_row-fluid vc_custom_1480068996195">
        <div class="container">
            <div class="row">
                <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper ">
                            <div class="wpb_single_image wpb_content_element vc_align_left  vc_custom_1524834088618">
                                <figure class="wpb_wrapper vc_figure">
                                    <div class="vc_single_image-wrapper   vc_box_border_grey">
                                        <noscript><img width="360" height="496" src="https://archi-cubes.com/wp-content/uploads/2018/04/conspicl.png" class="vc_single_image-img attachment-full" alt="" srcset="https://archi-cubes.com/wp-content/uploads/2018/04/conspicl.png 360w, https://archi-cubes.com/wp-content/uploads/2018/04/conspicl-218x300.png 218w" sizes="(max-width: 360px) 100vw, 360px" title="Archi-Cubes-Construction-Company-in-Peshawar" /></noscript>
                                        <img width="360" height="496" src="./Archi-Cubes _ Award Winning Construction Company in Peshawar _ Architecture_files/conspicl.png" data-src="https://archi-cubes.com/wp-content/uploads/2018/04/conspicl.png" class="vc_single_image-img attachment-full lazyloaded" alt="" data-srcset="https://archi-cubes.com/wp-content/uploads/2018/04/conspicl.png 360w, https://archi-cubes.com/wp-content/uploads/2018/04/conspicl-218x300.png 218w" data-sizes="(max-width: 360px) 100vw, 360px" title="Archi-Cubes-Construction-Company-in-Peshawar" sizes="(max-width: 360px) 100vw, 360px" srcset="https://archi-cubes.com/wp-content/uploads/2018/04/conspicl.png 360w, https://archi-cubes.com/wp-content/uploads/2018/04/conspicl-218x300.png 218w">
                                    </div>
                                </figure>
                            </div>
                            <div class="vc_empty_space" style="height: 20px">
                                <span class="vc_empty_space_inner"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-8">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper wow fadeInUp" style="visibility: hidden; animation-name: none;">
                            <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper wow fadeInRight" style="visibility: hidden; animation-name: none;">
                                            <div class=" box-icon ">
                                                <span class="icon wow fadeIn" data-wow-delay="&quot;.5s&quot;" style="visibility: hidden; animation-name: none;"> <i class="id-color icon-paintbrush"></i> </span>
                                                <div class="text">
                                                    <h3>Construction Expertise</h3>
                                                    <p>A good design is good for our clients and we have those expertise to deliver high class designs and decorations for our clients.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper wow fadeInRight" data-wow-delay=".25s" style="visibility: hidden; animation-delay: 0.25s; animation-name: none;">
                                            <div class=" box-icon ">
                                                <span class="icon wow fadeIn" data-wow-delay="&quot;.75s&quot;" style="visibility: hidden; animation-name: none;"> <i class="id-color icon-trophy"></i> </span>
                                                <div class="text">
                                                    <h3>Awards Winning</h3>
                                                    <p>The WADAAN has entered various contests of showing previous construction works and won them or have honorary mentions in them proving itself.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper ">
                                            <div class="vc_empty_space" style="height: 30px">
                                                <span class="vc_empty_space_inner"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper wow fadeInRight" data-wow-delay=".5s" style="visibility: hidden; animation-delay: 0.5s; animation-name: none;">
                                            <div class=" box-icon ">
                                                <span class="icon wow fadeIn" data-wow-delay="&quot;1.25s&quot;" style="visibility: hidden; animation-name: none;"> <i class="id-color icon-wallet"></i> </span>
                                                <div class="text">
                                                    <h3>REASONABLE PRICE</h3>
                                                    <p>Efficient work is delivered to our clients in lesser time and cost friendly to provide the best facilities one can offer in construction works.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper wow fadeInRight" data-wow-delay=".75s" style="visibility: hidden; animation-delay: 0.75s; animation-name: none;">
                                            <div class=" box-icon ">
                                                <span class="icon wow fadeIn" data-wow-delay="&quot;1s&quot;" style="visibility: hidden; animation-name: none;"> <i class="id-color icon-chat"></i> </span>
                                                <div class="text">
                                                    <h3>Free Consultation</h3>
                                                    <p>Consultation on the kind of design and building aspects is totally free of cost which enables you to have an idea about what you desire.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper ">
                                            <div class="vc_empty_space" style="height: 30px">
                                                <span class="vc_empty_space_inner"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper wow fadeInRight" data-wow-delay="1s" style="visibility: hidden; animation-delay: 1s; animation-name: none;">
                                            <div class=" box-icon ">
                                                <span class="icon wow fadeIn" data-wow-delay="&quot;1.75s&quot;" style="visibility: hidden; animation-name: none;"> <i class="id-color icon-envelope"></i> </span>
                                                <div class="text">
                                                    <h3>24 / 7 Support</h3>
                                                    <p>Our team is friendly and always available to answer your queries and concerns so you feel at ease while working with us.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper wow fadeInRight" data-wow-delay="1.25s" style="visibility: hidden; animation-delay: 1.25s; animation-name: none;">
                                            <div class=" box-icon ">
                                                <span class="icon wow fadeIn" data-wow-delay="&quot;1.5s&quot;" style="visibility: hidden; animation-name: none;"> <i class="id-color icon-recycle"></i> </span>
                                                <div class="text">
                                                    <h3>Guaranteed Works</h3>
                                                    <p>We can guarantee you that your projects are completed in time with all the work done to provide you the desired results.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                <div class="wpb_column vc_column_container vc_col-sm-4">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper "></div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-4">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper ">
                                            <a href="/Home/Commercial/" target="_self" class="btn btn-line-black btn-big  ">See Portfolio</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-4">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper "></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="wpb_row vc_row-fluid bg-fixed vc_custom_1524833896320 vc_row-has-fill">
        <div class="container">
            <div class="row">
                <div class="wpb_column vc_column_container vc_col-sm-6">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper ">
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <h2>
                                        <span style="color: #ffffff;">Exclusive Construction</span>
                                    </h2>
                                    <p align="justify">
                                        <span style="color: #ffffff;">At the WADAAN, architect plan and design the building and then our construction team ensures to put those designs into reality. An <strong>architecture firm</strong> cannot work properly if they can’t construct the designs. Buying a property and having a design made for it has been done but the problem still remains when it comes to constructing it with class. It’s difficult to make sure that quality construction is done to survive for the years to come. We provide you the solution for this having experience in the construction business knowing well about the building techniques.</span>
                                    </p>
                                    <p align="justify">
                                        <span style="color: #333333;"><span style="color: #ffffff;"> We use the high quality material and our workers are fully trained and equipped with the skills to offer you the kind of class you wish for. A team of vigilant workers who have their eyes on every changing trend to keep you and the construction designs updated. In less budget we deliver your desired design. Our clients whom we have served know our high quality construction skills. We give secure and guaranteed profitable environment for your construction. We calculate and advise on the cost of the entire project as well. Making the procedure easier for you, WADAAN is the right place to give your construction assignments to.</span> </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-6">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper ">
                            <div class="vc_empty_space" style="height: 70px">
                                <span class="vc_empty_space_inner"></span>
                            </div>
                            <div class="wpb_single_image wpb_content_element vc_align_left  vc_custom_1524834421684">
                                <figure class="wpb_wrapper vc_figure">
                                    <div class="vc_single_image-wrapper   vc_box_border_grey">
                                        <noscript><img width="555" height="398" src="https://archi-cubes.com/wp-content/uploads/2018/04/conspicl2.png" class="vc_single_image-img attachment-full" alt="Construction Company in Peshawar" srcset="https://archi-cubes.com/wp-content/uploads/2018/04/conspicl2.png 555w, https://archi-cubes.com/wp-content/uploads/2018/04/conspicl2-300x215.png 300w" sizes="(max-width: 555px) 100vw, 555px" title="Archi-Cubes-Construction-Company-in-Peshawar" /></noscript>
                                        <img width="555" height="398" src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20555%20398%22%3E%3C/svg%3E" data-src="https://archi-cubes.com/wp-content/uploads/2018/04/conspicl2.png" class="lazyload vc_single_image-img attachment-full" alt="Construction Company in Peshawar" data-srcset="https://archi-cubes.com/wp-content/uploads/2018/04/conspicl2.png 555w, https://archi-cubes.com/wp-content/uploads/2018/04/conspicl2-300x215.png 300w" data-sizes="(max-width: 555px) 100vw, 555px" title="Archi-Cubes-Construction-Company-in-Peshawar">
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="wpb_row vc_row-fluid bg-color text-dark text-center vc_custom_1480073166455">
        <div class="container">
            <div class="row">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper ">
                            <div class="typing-wrap " data-id="60d1b7021c413" data-cursorchar="|" data-speed="100" data-delay="1500">
                                We do
                                <div class="typed-strings" style="display: none;">
                                    <p>Residential Design</p>
                                    <p>Office Design</p>
                                    <p>Hospital Design</p>
                                    <p>Commercial Design</p>
                                </div>
                                <span class="typed-60d1b7021c413">Office Desig</span>
                                <span class="typed-cursor">|</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="wpb_row vc_row-fluid filter-margin-bottom-40 vc_custom_1495189876504">
        <div class="container">
            <div class="row">
                <div class="filter-mb-60 wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper ">
                            <div class="projects-grid-wrapper">
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul class="project_filters s2 wow fadeInUp" data-wow-delay="0s" style="visibility: hidden; animation-delay: 0s; animation-name: none;">
                                            <li class="pull-right">
                                                <a href="https://archi-cubes.com/construction-company-in-Peshawar/#" data-filter="*" class="selected">ALL PROJECTS</a>
                                            </li>
                                            <li>
                                                <a href="https://archi-cubes.com/construction-company-in-Peshawar/#" data-filter=".category-34">Commercial</a>
                                            </li>
                                            <li>
                                                <a href="https://archi-cubes.com/construction-company-in-Peshawar/#" data-filter=".category-35">Residential</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row projects-grid projects-load-ajax overlay_s2 wow fadeInUp" data-wow-delay=".3s" style="position: relative; height: 808.548px; visibility: hidden; animation-delay: 0.3s; animation-name: none;">
                                    <div class="project-item-sizer col-md-4"></div>
                                    <div class="project-item category-35  col-md-4" style="position: absolute; left: 0px; top: 0px;">
                                        <div class="projects-box">
                                            <div class="projects-thumbnail">
                                                <noscript><img width="750" height="499" src="https://archi-cubes.com/wp-content/uploads/2021/05/1-7-750x499.jpg" class="attachment-thumb-portfolio size-thumb-portfolio wp-post-image" alt="" title="1" /></noscript>
                                                <img width="750" height="499" src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20750%20499%22%3E%3C/svg%3E" data-src="https://archi-cubes.com/wp-content/uploads/2021/05/1-7-750x499.jpg" class="lazyload attachment-thumb-portfolio size-thumb-portfolio wp-post-image" alt="" title="1">
                                            </div>
                                            @*<a href="https://archi-cubes.com/portfolio/mr-younas-residential/">*@
                                            <span class="project-overlay"> <span class="project-name id-color">Mr. Younas Residential</span> </span>
                                            @*</a>*@
                                        </div>
                                    </div>
                                    <div class="project-item category-35  col-md-4" style="position: absolute; left: 390px; top: 0px;">
                                        <div class="projects-box">
                                            <div class="projects-thumbnail">
                                                <noscript><img width="750" height="499" src="https://archi-cubes.com/wp-content/uploads/2021/05/4-3-750x499.jpg" class="attachment-thumb-portfolio size-thumb-portfolio wp-post-image" alt="" title="4" /></noscript>
                                                <img width="750" height="499" src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20750%20499%22%3E%3C/svg%3E" data-src="https://archi-cubes.com/wp-content/uploads/2021/05/4-3-750x499.jpg" class="lazyload attachment-thumb-portfolio size-thumb-portfolio wp-post-image" alt="" title="4">
                                            </div>
                                            @*<a href="https://archi-cubes.com/portfolio/miss-asma-zafar-residential/">*@ 
                                            <span class="project-overlay"> <span class="project-name id-color">Miss Asma Zafar Residential</span> </span> 
                                            @*</a>*@
                                        </div>
                                    </div>
                                    <div class="project-item category-35  col-md-4" style="position: absolute; left: 780px; top: 0px;">
                                        <div class="projects-box">
                                            <div class="projects-thumbnail">
                                                <noscript><img width="750" height="499" src="https://archi-cubes.com/wp-content/uploads/2021/05/3-4-750x499.jpg" class="attachment-thumb-portfolio size-thumb-portfolio wp-post-image" alt="" title="3" /></noscript>
                                                <img width="750" height="499" src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20750%20499%22%3E%3C/svg%3E" data-src="https://archi-cubes.com/wp-content/uploads/2021/05/3-4-750x499.jpg" class="lazyload attachment-thumb-portfolio size-thumb-portfolio wp-post-image" alt="" title="3">
                                            </div>
                                            @*<a href="https://archi-cubes.com/portfolio/mr-hasham-residential/">*@ 
                                            <span class="project-overlay"> <span class="project-name id-color">Mr. Hasham Residential</span> </span>
                                            @*</a>*@
                                        </div>
                                    </div>
                                    <div class="project-item category-35  col-md-4" style="position: absolute; left: 0px; top: 269.516px;">
                                        <div class="projects-box">
                                            <div class="projects-thumbnail">
                                                <noscript><img width="750" height="499" src="https://archi-cubes.com/wp-content/uploads/2021/05/6-3-750x499.jpg" class="attachment-thumb-portfolio size-thumb-portfolio wp-post-image" alt="" title="6" /></noscript>
                                                <img width="750" height="499" src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20750%20499%22%3E%3C/svg%3E" data-src="https://archi-cubes.com/wp-content/uploads/2021/05/6-3-750x499.jpg" class="lazyload attachment-thumb-portfolio size-thumb-portfolio wp-post-image" alt="" title="6">
                                            </div>
                                            @*<a href="https://archi-cubes.com/portfolio/bilal-hameed-residential/">*@ 
                                            <span class="project-overlay"> <span class="project-name id-color">Bilal Hameed Residential</span> </span>
                                            @*</a>*@
                                        </div>
                                    </div>
                                    <div class="project-item category-34  col-md-4" style="position: absolute; left: 390px; top: 269.516px;">
                                        <div class="projects-box">
                                            <div class="projects-thumbnail">
                                                <noscript><img width="750" height="499" src="https://archi-cubes.com/wp-content/uploads/2021/05/4-1-750x499.jpg" class="attachment-thumb-portfolio size-thumb-portfolio wp-post-image" alt="" title="4" /></noscript>
                                                <img width="750" height="499" src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20750%20499%22%3E%3C/svg%3E" data-src="https://archi-cubes.com/wp-content/uploads/2021/05/4-1-750x499.jpg" class="lazyload attachment-thumb-portfolio size-thumb-portfolio wp-post-image" alt="" title="4">
                                            </div>
                                            @*<a href="https://archi-cubes.com/portfolio/water-regime-pvt-ltd-2/">*@ 
                                            <span class="project-overlay"> <span class="project-name id-color">Water Regime Pvt Ltd</span> </span> 
                                            @*</a>*@
                                        </div>
                                    </div>
                                    <div class="project-item category-34  col-md-4" style="position: absolute; left: 780px; top: 269.516px;">
                                        <div class="projects-box">
                                            <div class="projects-thumbnail">
                                                <noscript><img width="750" height="499" src="https://archi-cubes.com/wp-content/uploads/2021/05/6-1-750x499.jpg" class="attachment-thumb-portfolio size-thumb-portfolio wp-post-image" alt="" title="6" /></noscript>
                                                <img width="750" height="499" src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20750%20499%22%3E%3C/svg%3E" data-src="https://archi-cubes.com/wp-content/uploads/2021/05/6-1-750x499.jpg" class="lazyload attachment-thumb-portfolio size-thumb-portfolio wp-post-image" alt="" title="6">
                                            </div>
                                            @*<a href="https://archi-cubes.com/portfolio/water-regime-pvt-ltd/">*@ 
                                            <span class="project-overlay"> <span class="project-name id-color">Water Regime Pvt Ltd</span> </span>
                                            @*</a>*@
                                        </div>
                                    </div>
                                    <div class="project-item category-34  col-md-4" style="position: absolute; left: 0px; top: 539.032px;">
                                        <div class="projects-box">
                                            <div class="projects-thumbnail">
                                                <noscript><img width="750" height="499" src="https://archi-cubes.com/wp-content/uploads/2021/05/2-750x499.jpg" class="attachment-thumb-portfolio size-thumb-portfolio wp-post-image" alt="" title="2" /></noscript>
                                                <img width="750" height="499" src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20750%20499%22%3E%3C/svg%3E" data-src="https://archi-cubes.com/wp-content/uploads/2021/05/2-750x499.jpg" class="lazyload attachment-thumb-portfolio size-thumb-portfolio wp-post-image" alt="" title="2">
                                            </div>
                                            @*<a href="https://archi-cubes.com/portfolio/classical-mosque/">*@
                                            <span class="project-overlay"> <span class="project-name id-color">Post Modern Mosque</span> </span> 
                                            @*</a>*@
                                        </div>
                                    </div>
                                    <div class="project-item category-35  col-md-4" style="position: absolute; left: 390px; top: 539.032px;">
                                        <div class="projects-box">
                                            <div class="projects-thumbnail">
                                                <noscript><img width="750" height="499" src="https://archi-cubes.com/wp-content/uploads/2021/02/2-5-750x499.jpg" class="attachment-thumb-portfolio size-thumb-portfolio wp-post-image" alt="" title="2" /></noscript>
                                                <img width="750" height="499" src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20750%20499%22%3E%3C/svg%3E" data-src="https://archi-cubes.com/wp-content/uploads/2021/02/2-5-750x499.jpg" class="lazyload attachment-thumb-portfolio size-thumb-portfolio wp-post-image" alt="" title="2">
                                            </div>
                                            @*<a href="https://archi-cubes.com/portfolio/mr-wajahat-residence/">*@ 
                                            <span class="project-overlay"> <span class="project-name id-color">Mr. Wajahat Residence</span> </span> 
                                            @*</a>*@
                                        </div>
                                    </div>
                                    <div class="project-item category-34  col-md-4" style="position: absolute; left: 780px; top: 539.032px;">
                                        <div class="projects-box">
                                            <div class="projects-thumbnail">
                                                <noscript><img width="750" height="499" src="https://archi-cubes.com/wp-content/uploads/2021/02/6-4-750x499.jpg" class="attachment-thumb-portfolio size-thumb-portfolio wp-post-image" alt="" title="6" /></noscript>
                                                <img width="750" height="499" src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20750%20499%22%3E%3C/svg%3E" data-src="https://archi-cubes.com/wp-content/uploads/2021/02/6-4-750x499.jpg" class="lazyload attachment-thumb-portfolio size-thumb-portfolio wp-post-image" alt="" title="6">
                                            </div>
                                            @*<a href="https://archi-cubes.com/portfolio/v-sublet/">*@ 
                                            <span class="project-overlay"> <span class="project-name id-color">V-Sublet</span> </span> 
                                            @*</a>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
