
@{
    ViewBag.Title = "Interior Design Services";
    Layout = "~/Views/Shared/_Layout_WADAANSITE.cshtml";
}

<style>
    .vc_custom_1524826478955 {
        padding-top: 90px !important;
        padding-bottom: 90px !important;
        background-image: url(../archi-cubes.com/wp-content/uploads/2018/04/compressedbg-slider-1.jpg?id=2093) !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }
</style>


<div class="one-page">
    <section data-stellar-background-ratio="-.1" class="wpb_row vc_row-fluid no-relative full-height vc_custom_1524826478955 vc_row-has-fill stellar-fixed full-height no-padding">
        <div class="row">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper ">
                        <div class="center-y text-center">
                            <div class="spacer-double"></div>
                            <h1 class="title">
                                <strong>Interior Designing</strong>
                            </h1>
                            <div class="spacer-single"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="wpb_row vc_row-fluid vc_row-o-content-middle vc_row-flex">
        <div class="container">
            <div class="row">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper ">
                            <div class="vc_empty_space" style="height: 32px">
                                <span class="vc_empty_space_inner"></span>
                            </div>
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <p style="text-align: center;" align="justify">
                                        For the people using a place, the interior matters greatly. Archi Cubes is an
                                        <strong>interior design company Lahore</strong> which makes the environment pleasant looking and aesthetic. We have dedicated architects and best
                                        <strong>interior designer  in Lahore Pakistan </strong>who plan, design with perfection and implement those designs to make a place look great. We have one of the best team working towards creating a perfect ambiance. The Archi cubes provide a full range of services to all kinds of project from small scale to large. The firm provides progressive and innovative designs to meet client desires.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section-why-choose-us-2" class="wpb_row vc_row-fluid vc_custom_1480068996195">
        <div class="container">
            <div class="row">
                <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper ">
                            <div class="wpb_single_image wpb_content_element vc_align_left  vc_custom_1524744526082">
                                <figure class="wpb_wrapper vc_figure">
                                    <div class="vc_single_image-wrapper   vc_box_border_grey">
                                        <noscript><img width="360" height="496" src="../wp-content/uploads/2018/04/intpicl-1.png" 
                                                       class="vc_single_image-img attachment-full" alt="Interior Designer in Lahore" 
                                                       srcset="https://archi-cubes.com/wp-content/uploads/2018/04/intpicl-1.png 360w, 
                                                       https://archi-cubes.com/wp-content/uploads/2018/04/intpicl-1-218x300.png 218w" 
                                                       sizes="(max-width: 360px) 100vw, 360px" 
                                                       title="Archi-Cubes-Interior-Designer-in-Lahore" /></noscript>
                                        <img width="360" height="496" 
                                             src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20360%20496%22%3E%3C/svg%3E' 
                                             data-src="https://archi-cubes.com/wp-content/uploads/2018/04/intpicl-1.png" 
                                             class="lazyload vc_single_image-img attachment-full" alt="Interior Designer in Lahore" 
                                             data-srcset="https://archi-cubes.com/wp-content/uploads/2018/04/intpicl-1.png 360w, 
                                             https://archi-cubes.com/wp-content/uploads/2018/04/intpicl-1-218x300.png 218w" 
                                             data-sizes="(max-width: 360px) 100vw, 360px" 
                                             title="Archi-Cubes-Interior-Designer-in-Lahore" />
                                    </div>
                                </figure>
                            </div>
                            <div class="vc_empty_space" style="height: 20px">
                                <span class="vc_empty_space_inner"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-8">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper wow fadeInUp">
                            <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper wow fadeInRight">
                                            <div class=" box-icon ">
                                                <span class="icon wow fadeIn" data-wow-delay=&quot;.5s&quot;> <i class="id-color icon-paintbrush"></i> </span>
                                                <div class="text">
                                                    <h3>Interior Expertise</h3>
                                                    <p>A good design is good for our clients and we have those best interior designer in Lahore Pakistan to deliver high class designs and decorations for our clients.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper wow fadeInRight" data-wow-delay=".25s">
                                            <div class=" box-icon ">
                                                <span class="icon wow fadeIn" data-wow-delay=&quot;.75s&quot;> <i class="id-color icon-trophy"></i> </span>
                                                <div class="text">
                                                    <h3>Awards Winning</h3>
                                                    <p>The Archi Cubes has entered various contests for interior designing and won them or have honorary mentions in them proving itself.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper ">
                                            <div class="vc_empty_space" style="height: 30px">
                                                <span class="vc_empty_space_inner"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper wow fadeInRight" data-wow-delay=".5s">
                                            <div class=" box-icon ">
                                                <span class="icon wow fadeIn" data-wow-delay=&quot;1.25s&quot;> <i class="id-color icon-wallet"></i> </span>
                                                <div class="text">
                                                    <h3>REASONABLE PRICE</h3>
                                                    <p>Efficient work is delivered to our clients in lesser time and cost friendly to provide the best facilities one can offer in interior designing.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper wow fadeInRight" data-wow-delay=".75s">
                                            <div class=" box-icon ">
                                                <span class="icon wow fadeIn" data-wow-delay=&quot;1s&quot;> <i class="id-color icon-chat"></i> </span>
                                                <div class="text">
                                                    <h3>Free Consultation</h3>
                                                    <p>Consultation on the kind of design and building aspects is totally free of cost which enables you to have an idea about what you desire.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper ">
                                            <div class="vc_empty_space" style="height: 30px">
                                                <span class="vc_empty_space_inner"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper wow fadeInRight" data-wow-delay="1s">
                                            <div class=" box-icon ">
                                                <span class="icon wow fadeIn" data-wow-delay=&quot;1.75s&quot;> <i class="id-color icon-envelope"></i> </span>
                                                <div class="text">
                                                    <h3>24 / 7 Support</h3>
                                                    <p>Our team is friendly and always available to answer your queries and concerns so you feel at ease while working with us.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper wow fadeInRight" data-wow-delay="1.25s">
                                            <div class=" box-icon ">
                                                <span class="icon wow fadeIn" data-wow-delay=&quot;1.5s&quot;> <i class="id-color icon-recycle"></i> </span>
                                                <div class="text">
                                                    <h3>Guaranteed Works</h3>
                                                    <p>We can guarantee you that your projects are completed in time with all the work done to provide you the desired results.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                <div class="wpb_column vc_column_container vc_col-sm-4">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper "></div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-4">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper ">
                                            <a href="/Home/Commercial/" target="_self" class="btn btn-line-black btn-big  ">See Portfolio </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-4">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper "></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="wpb_row vc_row-fluid bg-fixed vc_custom_1524826615788 vc_row-has-fill">
        <div class="container">
            <div class="row">
                <div class="wpb_column vc_column_container vc_col-sm-6">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper ">
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <h2>
                                        <span style="color: #ffffff;">Exclusive Interior Design</span>
                                    </h2>
                                    <p align="justify">
                                        <span style="color: #ffffff;">There are many architects and designers that one could possibly found but what distinguishes us from others is the ability to transform ideas into inspiring and powerful interiors and products. Our work speak for itself and in the short time that we have started to work in the field, a number of projects have been completed successfully providing the best ambiance according to the request and location of the place. If you want the most artistic and unique designs faster, with less cost and frustration, Archi cubes is the place to go to. Team of our professionals provides fully customized designs for your home or office or any other project.</span>
                                        <br />
                                        <span style="color: #ffffff;"> For a residential design, it is necessary to build a communication between you and the architect to learn how you want to live in your home and also inspire you to think of different ideas you can decorate your house with. A home is forever and therefore we believe to deliver timeless results creating a house into home for your family.</span>
                                        <br />
                                        <span style="color: #ffffff;">When it comes to a commercial design, we ensure that we share our client’s vision and commitment. We focus on conceptual interior design and renovation as well. Our team strives to create quality interior work and consultation with our expertise and skills. These are the qualities that makes our team the <strong>best interior designer in Lahore</strong>.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-6">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper ">
                            <div class="vc_empty_space" style="height: 70px">
                                <span class="vc_empty_space_inner"></span>
                            </div>
                            <div class="wpb_single_image wpb_content_element vc_align_left  vc_custom_1524744638475">
                                <figure class="wpb_wrapper vc_figure">
                                    <div class="vc_single_image-wrapper   vc_box_border_grey">
                                        <noscript><img width="555" height="398" src="../wp-content/uploads/2018/04/intpicl2-1.png" class="vc_single_image-img attachment-full" alt="Best Interior Designer in Lahore" srcset="https://archi-cubes.com/wp-content/uploads/2018/04/intpicl2-1.png 555w, https://archi-cubes.com/wp-content/uploads/2018/04/intpicl2-1-300x215.png 300w" sizes="(max-width: 555px) 100vw, 555px" title="Archi-Cubes-best-interior-designer-in-Lahore" /></noscript>
                                        <img width="555" height="398" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20555%20398%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2018/04/intpicl2-1.png" class="lazyload vc_single_image-img attachment-full" alt="Best Interior Designer in Lahore" data-srcset="https://archi-cubes.com/wp-content/uploads/2018/04/intpicl2-1.png 555w, https://archi-cubes.com/wp-content/uploads/2018/04/intpicl2-1-300x215.png 300w" data-sizes="(max-width: 555px) 100vw, 555px" title="Archi-Cubes-best-interior-designer-in-Lahore" />
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="wpb_row vc_row-fluid bg-color text-dark text-center vc_custom_1480073166455">
        <div class="container">
            <div class="row">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper ">
                            <div class="typing-wrap " data-id="60c3272a405ea" data-cursorchar="|" data-speed="100" data-delay="1500">
                                We do
                                <div class="typed-strings">
                                    <p>Residential Design</p>
                                    <p>Office Design</p>
                                    <p>Hospital Design</p>
                                    <p>Commercial Design</p>
                                </div>
                                <span class="typed-60c3272a405ea"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="wpb_row vc_row-fluid filter-margin-bottom-40 vc_custom_1495189876504">
        <div class="container">
            <div class="row">
                <div class="filter-mb-60 wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper ">
                            <div class="projects-grid-wrapper">
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul class="project_filters s2 wow fadeInUp" data-wow-delay="0s">
                                            <li class="pull-right">
                                                <a href="#" data-filter="*" class="selected">ALL PROJECTS</a>
                                            </li>
                                            <li>
                                                <a href="#" data-filter=".category-34">Commercial</a>
                                            </li>
                                            <li>
                                                <a href="#" data-filter=".category-35">Residential</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row projects-grid projects-load-ajax overlay_s2 wow fadeInUp" data-wow-delay=".3s">
                                    <div class="project-item-sizer col-md-4"></div>
                                    <div class="project-item category-35  col-md-4">
                                        <div class="projects-box">
                                            <div class="projects-thumbnail">
                                                <noscript><img width="750" height="499" src="../wp-content/uploads/2021/05/1-7-750x499.jpg" class="attachment-thumb-portfolio size-thumb-portfolio wp-post-image" alt="" title="1" /></noscript>
                                                <img width="750" height="499" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20750%20499%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2021/05/1-7-750x499.jpg" class="lazyload attachment-thumb-portfolio size-thumb-portfolio wp-post-image" alt="" title="1" />
                                            </div>
                                            @*<a href="../portfolio/mr-younas-residential/index.html">*@ 
                                            <span class="project-overlay"> <span class="project-name id-color">Mr. Younas Residential</span> </span>
                                            @*</a>*@
                                        </div>
                                    </div>
                                    <div class="project-item category-35  col-md-4">
                                        <div class="projects-box">
                                            <div class="projects-thumbnail">
                                                <noscript><img width="750" height="499" src="../wp-content/uploads/2021/05/4-3-750x499.jpg" class="attachment-thumb-portfolio size-thumb-portfolio wp-post-image" alt="" title="4" /></noscript>
                                                <img width="750" height="499" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20750%20499%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2021/05/4-3-750x499.jpg" class="lazyload attachment-thumb-portfolio size-thumb-portfolio wp-post-image" alt="" title="4" />
                                            </div>
                                            @*<a href="../portfolio/miss-asma-zafar-residential/index.html">*@
                                            <span class="project-overlay"> <span class="project-name id-color">Miss Asma Zafar Residential</span> </span>
                                            @*</a>*@
                                        </div>
                                    </div>
                                    <div class="project-item category-35  col-md-4">
                                        <div class="projects-box">
                                            <div class="projects-thumbnail">
                                                <noscript><img width="750" height="499" src="../wp-content/uploads/2021/05/3-4-750x499.jpg" class="attachment-thumb-portfolio size-thumb-portfolio wp-post-image" alt="" title="3" /></noscript>
                                                <img width="750" height="499" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20750%20499%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2021/05/3-4-750x499.jpg" class="lazyload attachment-thumb-portfolio size-thumb-portfolio wp-post-image" alt="" title="3" />
                                            </div>
                                            @*<a href="../portfolio/mr-hasham-residential/index.html">*@ 
                                            <span class="project-overlay"> <span class="project-name id-color">Mr. Hasham Residential</span> </span>
                                            @*</a>*@
                                        </div>
                                    </div>
                                    <div class="project-item category-35  col-md-4">
                                        <div class="projects-box">
                                            <div class="projects-thumbnail">
                                                <noscript><img width="750" height="499" src="../wp-content/uploads/2021/05/6-3-750x499.jpg" class="attachment-thumb-portfolio size-thumb-portfolio wp-post-image" alt="" title="6" /></noscript>
                                                <img width="750" height="499" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20750%20499%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2021/05/6-3-750x499.jpg" class="lazyload attachment-thumb-portfolio size-thumb-portfolio wp-post-image" alt="" title="6" />
                                            </div>
                                            @*<a href="../portfolio/bilal-hameed-residential/index.html">*@
                                            <span class="project-overlay"> <span class="project-name id-color">Bilal Hameed Residential</span> </span> 
                                            @*</a>*@
                                        </div>
                                    </div>
                                    <div class="project-item category-34  col-md-4">
                                        <div class="projects-box">
                                            <div class="projects-thumbnail">
                                                <noscript><img width="750" height="499" src="../wp-content/uploads/2021/05/4-1-750x499.jpg" class="attachment-thumb-portfolio size-thumb-portfolio wp-post-image" alt="" title="4" /></noscript>
                                                <img width="750" height="499" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20750%20499%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2021/05/4-1-750x499.jpg" class="lazyload attachment-thumb-portfolio size-thumb-portfolio wp-post-image" alt="" title="4" />
                                            </div>
                                            @*<a href="../portfolio/water-regime-pvt-ltd-2/index.html">*@ 
                                            <span class="project-overlay"> <span class="project-name id-color">Water Regime Pvt Ltd</span> </span>
                                            @*</a>*@
                                        </div>
                                    </div>
                                    <div class="project-item category-34  col-md-4">
                                        <div class="projects-box">
                                            <div class="projects-thumbnail">
                                                <noscript><img width="750" height="499" src="../wp-content/uploads/2021/05/6-1-750x499.jpg" class="attachment-thumb-portfolio size-thumb-portfolio wp-post-image" alt="" title="6" /></noscript>
                                                <img width="750" height="499" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20750%20499%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2021/05/6-1-750x499.jpg" class="lazyload attachment-thumb-portfolio size-thumb-portfolio wp-post-image" alt="" title="6" />
                                            </div>
                                            @*<a href="../portfolio/water-regime-pvt-ltd/index.html">*@
                                            <span class="project-overlay"> <span class="project-name id-color">Water Regime Pvt Ltd</span> </span>
                                            @*</a>*@
                                        </div>
                                    </div>
                                    <div class="project-item category-34  col-md-4">
                                        <div class="projects-box">
                                            <div class="projects-thumbnail">
                                                <noscript><img width="750" height="499" src="../wp-content/uploads/2021/05/2-750x499.jpg" class="attachment-thumb-portfolio size-thumb-portfolio wp-post-image" alt="" title="2" /></noscript>
                                                <img width="750" height="499" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20750%20499%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2021/05/2-750x499.jpg" class="lazyload attachment-thumb-portfolio size-thumb-portfolio wp-post-image" alt="" title="2" />
                                            </div>
                                            @*<a href="../portfolio/classical-mosque/index.html">*@
                                            <span class="project-overlay"> <span class="project-name id-color">Post Modern Mosque</span> </span>
                                            @*</a>*@
                                        </div>
                                    </div>
                                    <div class="project-item category-35  col-md-4">
                                        <div class="projects-box">
                                            <div class="projects-thumbnail">
                                                <noscript><img width="750" height="499" src="../wp-content/uploads/2021/02/2-5-750x499.jpg" class="attachment-thumb-portfolio size-thumb-portfolio wp-post-image" alt="" title="2" /></noscript>
                                                <img width="750" height="499" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20750%20499%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2021/02/2-5-750x499.jpg" class="lazyload attachment-thumb-portfolio size-thumb-portfolio wp-post-image" alt="" title="2" />
                                            </div>
                                            @*<a href="../portfolio/mr-wajahat-residence/index.html">*@ 
                                            <span class="project-overlay"> <span class="project-name id-color">Mr. Wajahat Residence</span> </span> 
                                            @*</a>*@
                                        </div>
                                    </div>
                                    <div class="project-item category-34  col-md-4">
                                        <div class="projects-box">
                                            <div class="projects-thumbnail">
                                                <noscript><img width="750" height="499" src="../wp-content/uploads/2021/02/6-4-750x499.jpg" class="attachment-thumb-portfolio size-thumb-portfolio wp-post-image" alt="" title="6" /></noscript>
                                                <img width="750" height="499" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20750%20499%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2021/02/6-4-750x499.jpg" class="lazyload attachment-thumb-portfolio size-thumb-portfolio wp-post-image" alt="" title="6" />
                                            </div>
                                            @*<a href="../portfolio/v-sublet/index.html">*@
                                            <span class="project-overlay"> <span class="project-name id-color">V-Sublet</span> </span> 
                                            @*</a>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
