 

    <section id="services" class="wpb_row vc_row-fluid vc_custom_1438587532215" style="background-color:white;">
        <div class="container">
            <div class="row">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <h1 class="ot_custom_heading  " style="text-align: center;">About Us</h1>
                            <p id="shotdesciption">
                                Wadaan Consultants is all about bringing you quality. We want to find you the best possible built environement that matches your style.
                                We have been in the business for quite some time and have only been growing our customer base.
                                If you are looking for that new dream contact us today and we promise you that we can make that dream become a reality. See you soon!
                            </p>
                            <div class=" separator ">
                                <span><i class="fa fa-circle"></i></span>
                            </div>
                            <div class="spacer-single"></div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-3">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
                            <h1 style="font-size: 20px;color: #dd3333;text-align: left" class="vc_custom_heading  wpb_fadeInLeft fadeInLeft">
                                <a href="/Home/architecture-services/">
                                    <b> Our Vision </b>
                                </a>
                            </h1>
                            <div class="wpb_text_column wpb_content_element   wpb_fadeInLeft fadeInLeft vc_custom_1567905274590">
                                <div class="wpb_wrapper" id="OurVision">
                                    <p>We believe in giving a lot of attention to the little details. We are one of the best architects in lahore and Our architecture designs are made according to the site, directions and the ambiance.</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-3">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <h1 style="font-size: 20px;color: #dd3333;text-align: left" class="vc_custom_heading  wpb_fadeInUp fadeInUp">
                                <a href="#">
                                    <b>Our Mission</b>
                                </a>
                            </h1>
                            <div class="wpb_text_column wpb_content_element   wpb_fadeInUp fadeInUp vc_custom_1567905344549">
                                <div class="wpb_wrapper" id="OurMission">
                                    <p>Our Interior Designs are customised to create a well thought of ambiance. Every element that we utilize in creating the final interior. Our Industry Leading team is the best interior designer in Lahore.</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-3">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
                            <h1 style="font-size: 20px;color: #dd3333;text-align: left" class="vc_custom_heading  wpb_fadeInRight fadeInRight">
                                <a href="#"><b>Our Stories </b></a>
                            </h1>
                            <div class="wpb_text_column wpb_content_element   wpb_fadeInRight fadeInRight vc_custom_1567905389303">
                                <div class="wpb_wrapper" id="OurStories">
                                    <p>
                                        Wadaan Consultants is all about bringing you quality. We want to find you the best possible built environement that matches your style.
                                        We have been in the business for quite some time and have only been growing our customer base.
                                        If you are looking for that new dream contact us today and we promise you that we can make that dream become a reality. See you soon!

                                    </p>
                                </div>

                            </div>
                            <div class="vc_empty_space" style="height: 25px">
                                <span class="vc_empty_space_inner"></span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-3">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
                            <h1 style="font-size: 20px;color: #dd3333;text-align: left" class="vc_custom_heading  wpb_fadeInRight fadeInRight">
                                <a href="#"><b>Our Qualities </b></a>
                            </h1>
                            <div class="wpb_text_column wpb_content_element   wpb_fadeInRight fadeInRight vc_custom_1567905389303">
                                <div class="wpb_wrapper" id="OurQualities">
                                    <p>
                                        Wadaan Consultants is all about bringing you quality. We want to find you the best possible built environement that matches your style.
                                        We have been in the business for quite some time and have only been growing our customer base.
                                        If you are looking for that new dream contact us today and we promise you that we can make that dream become a reality. See you soon!

                                    </p>
                                </div>

                            </div>
                            <div class="vc_empty_space" style="height: 25px">
                                <span class="vc_empty_space_inner"></span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="team" class="wpb_row vc_row-fluid vc_custom_1438750261602 vc_row-has-fill _mPS2id-t">
        <div class="container">
            <div class="row">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <h1 class="ot_custom_heading  " style="text-align: center;">Our Team</h1>
                            <div class=" separator ">
                                <span><i class="fa fa-circle"></i></span>
                            </div>
                            <div class="spacer-single"></div>
                        </div>
                    </div>
                </div>
                <div class="container-4 wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;" id="teamplayer">

                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="vc_empty_space" style="height: 25px">
        <span class="vc_empty_space_inner"></span>
    </div>


<script src="~/Scripts/FunctionalityJs/Website/AboutUs.js"></script>