
@model WadaanSystemManagerCommand.Model.EmailTemplateDetailTesting
<!DOCTYPE html>
<html>
<head>
 
</head>
<body>
    <h1> Welcome</h1>
    <h2>Dear @Model.SenderName</h2>
    

    

</body>
</html>

