
@{
    ViewBag.Title = "Architecture";
    Layout = "~/Views/Shared/_Layout_WADAANSITE.cshtml";
}

<h2>Architecture</h2>





<section id="subheader" data-speed="8" data-type="background" class="padding-top-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-wrap">
                    <h1 class="page-title">Architecture</h1>
                </div>
                <ul id="breadcrumbs" class="crumb">
                    <li><a href="../../index.html">Home</a></li>
                    <li>
                        <a href="../../blog/index.html">Blog</a>
                    </li>
                    <li class="active">Architecture</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-list">
                    <article id="post-2198" class="wow fadeInUp post-2198 post type-post status-publish format-standard has-post-thumbnail hentry category-architecture">
                        <div class="post-content">
                            <div class="post-image">
                                <a href="../../hidden-reality-human-behavior-affected-architecture/index.html" title="Hidden reality in how human behavior is affected by Architecture">
                                    <noscript><img width="1920" height="1080" src="../../wp-content/uploads/2018/03/final_692e2d0cfbb1f22fb2fd8bf1497ddac5.jpg" class="attachment-full size-full wp-post-image" alt="Hidden Reality of Architecture" srcset="https://archi-cubes.com/wp-content/uploads/2018/03/final_692e2d0cfbb1f22fb2fd8bf1497ddac5.jpg 1920w, https://archi-cubes.com/wp-content/uploads/2018/03/final_692e2d0cfbb1f22fb2fd8bf1497ddac5-300x169.jpg 300w, https://archi-cubes.com/wp-content/uploads/2018/03/final_692e2d0cfbb1f22fb2fd8bf1497ddac5-768x432.jpg 768w, https://archi-cubes.com/wp-content/uploads/2018/03/final_692e2d0cfbb1f22fb2fd8bf1497ddac5-1024x576.jpg 1024w" sizes="(max-width: 1920px) 100vw, 1920px" title="Hidden Reality of Architecture" /></noscript>
                                    <img width="1920" height="1080" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%201920%201080%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2018/03/final_692e2d0cfbb1f22fb2fd8bf1497ddac5.jpg" class="lazyload attachment-full size-full wp-post-image" alt="Hidden Reality of Architecture" data-srcset="https://archi-cubes.com/wp-content/uploads/2018/03/final_692e2d0cfbb1f22fb2fd8bf1497ddac5.jpg 1920w, https://archi-cubes.com/wp-content/uploads/2018/03/final_692e2d0cfbb1f22fb2fd8bf1497ddac5-300x169.jpg 300w, https://archi-cubes.com/wp-content/uploads/2018/03/final_692e2d0cfbb1f22fb2fd8bf1497ddac5-768x432.jpg 768w, https://archi-cubes.com/wp-content/uploads/2018/03/final_692e2d0cfbb1f22fb2fd8bf1497ddac5-1024x576.jpg 1024w" data-sizes="(max-width: 1920px) 100vw, 1920px" title="Hidden Reality of Architecture" />
                                </a>
                            </div>
                            <div class="entry-summary clearfix">
                                <div class="date-box">
                                    <div class="day">20</div>
                                    <div class="month">Jul</div>
                                </div>
                                <div class="post-text">
                                    <h3 class="entry-title">
                                        <a href="../../hidden-reality-human-behavior-affected-architecture/index.html" rel="bookmark">Hidden reality in how human behavior is affected by Architecture</a>
                                    </h3>
                                    <p></p>
                                </div>
                            </div> <a href="../../hidden-reality-human-behavior-affected-architecture/index.html" class="btn-more"> Read More </a>
                        </div>
                    </article>
                    <article id="post-2194" class="wow fadeInUp post-2194 post type-post status-publish format-standard has-post-thumbnail hentry category-architecture">
                        <div class="post-content">
                            <div class="post-image">
                                <a href="../../architecture-minds-lahore-architects-interiors/index.html" title="ARCHITECTURE IN OUR MINDS | Archi Cubes Architects &#038; Interiors">
                                    <noscript><img width="1848" height="1059" src="../../wp-content/uploads/2018/07/1-kanal-dha-lahore-architects-interior-design.jpg" class="attachment-full size-full wp-post-image" alt="Interior Designer Architecture in Lahore" srcset="https://archi-cubes.com/wp-content/uploads/2018/07/1-kanal-dha-lahore-architects-interior-design.jpg 1848w, https://archi-cubes.com/wp-content/uploads/2018/07/1-kanal-dha-lahore-architects-interior-design-300x172.jpg 300w, https://archi-cubes.com/wp-content/uploads/2018/07/1-kanal-dha-lahore-architects-interior-design-768x440.jpg 768w, https://archi-cubes.com/wp-content/uploads/2018/07/1-kanal-dha-lahore-architects-interior-design-1024x587.jpg 1024w" sizes="(max-width: 1848px) 100vw, 1848px" title="1-kanal-dha-lahore-architects-interior-design" /></noscript>
                                    <img width="1848" height="1059" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%201848%201059%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2018/07/1-kanal-dha-lahore-architects-interior-design.jpg" class="lazyload attachment-full size-full wp-post-image" alt="Interior Designer Architecture in Lahore" data-srcset="https://archi-cubes.com/wp-content/uploads/2018/07/1-kanal-dha-lahore-architects-interior-design.jpg 1848w, https://archi-cubes.com/wp-content/uploads/2018/07/1-kanal-dha-lahore-architects-interior-design-300x172.jpg 300w, https://archi-cubes.com/wp-content/uploads/2018/07/1-kanal-dha-lahore-architects-interior-design-768x440.jpg 768w, https://archi-cubes.com/wp-content/uploads/2018/07/1-kanal-dha-lahore-architects-interior-design-1024x587.jpg 1024w" data-sizes="(max-width: 1848px) 100vw, 1848px" title="1-kanal-dha-lahore-architects-interior-design" />
                                </a>
                            </div>
                            <div class="entry-summary clearfix">
                                <div class="date-box">
                                    <div class="day">12</div>
                                    <div class="month">Jul</div>
                                </div>
                                <div class="post-text">
                                    <h3 class="entry-title"><a href="../../architecture-minds-lahore-architects-interiors/index.html" rel="bookmark">ARCHITECTURE IN OUR MINDS | Archi Cubes Architects &#038; Interiors</a></h3>
                                    <p>The human mind collects and stores away pieces of memories whether we are conscious or not. Most of these recollections are related to places or experiences that we go...</p>
                                </div>
                            </div> <a href="../../architecture-minds-lahore-architects-interiors/index.html" class="btn-more"> Read More </a>
                        </div>
                    </article>
                </div>
                <div class="text-center">
                    <ul class="pagination"></ul>
                </div>
            </div>
            <div class="col-md-4">
                <div id="sidebar" class="sidebar">
                    <div id="search-2" class="widget widget_search">
                        @*<form role="search" method="get" action="shttps://archi-cubes.com/">
                            <input type="search" id="search" class="search-field form-control" value="" name="s" placeholder="type to search&hellip;" />
                            <button id="btn-search" type="submit"></button><div class="clearfix"></div>
                        </form>*@
                    </div><div id="recent-posts-5" class="widget widget_recent_entries">
                        <h4>Recent Posts</h4>
                        <div class="small-border"></div>
                        <ul>
                            <li> <a href="../../hidden-reality-human-behavior-affected-architecture/index.html">Hidden reality in how human behavior is affected by Architecture</a></li>
                            <li> <a href="../../architecture-minds-lahore-architects-interiors/index.html">ARCHITECTURE IN OUR MINDS | Archi Cubes Architects &#038; Interiors</a></li>
                            <li> <a href="../../best-interior-designers-lahore/index.html">Our Best Interior Designers in Lahore are Building a Signature look for your Buildings</a></li>
                            <li> <a href="../../architectural-design-in-lahore/index.html">The Architectural Design in Lahore</a></li>
                            <li> <a href="../../architecture-design-magazine-stories/index.html">The Architecture &#038; Interior Design Magzine Stories</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Views/WadaanWebsite/archi-cubes.com/wp-content/cache/autoptimize/js/autoptimize_3a99cb140bebcd4ab32f48cedd13a985.js"></script>