
@{

    //Layout = "~/Areas/Employee/Views/Shared/_EmployeeLayout.cshtml";
    Layout = "~/Areas/Shared/_EmployeeLayout.cshtml";
}

<body>

    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
         data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">

        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">

                        <div class="ms-auto text-end">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/Employee/Employee/Dashboard"> Dashboard </a></li>
                                    <li class="breadcrumb-item active" aria-current="page"> Task </li>
                                    <li class="breadcrumb-item active" aria-current="page"> Save</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="card">
                    <div class="card-header"><h5>Add Task</h5>  </div>
                    <div class="card-body">
                        <form class="md-float-material" id="frmAddUpdateTask" name="frmAddUpdateTask" action="/services/Xtreme/multipart" method="post">
                            <input type="hidden" name="UserID" id="UserID" value="00000000-0000-0000-0000-000000000000">
                            <input type="hidden" name="TaskId" id="TaskId" value="00000000-0000-0000-0000-000000000000">
                            <input type="hidden" name="Id" id="Id" value="0">
                            <input type="hidden" name="type" id="type" value="Task_Save">


                            <div class="card">
                                <div class="card-header"><h5>Task Info</h5>  </div>
                                <div class="card-body border">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div>
                                                <label class="form-control-label">Task Title:<span style="color:red">*</span></label><br />
                                                <input type="text" class="form-control pname" name="TaskTitle" id="TaskTitle" value="" required>
                                            </div>
                                        </div>
                                        <div class="col-sm-3" style="display:none">
                                            <div>
                                                <label class="form-control-label">Milestone:</label><br />
                                                <select class="form-control select2" id="MilestoneID" name="MilestoneID"></select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div>
                                                <label class="form-control-label">Project:</label><br />
                                                <select class="form-control select2" id="ProjectID" name="ProjectID"></select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3" style="display:none">
                                            <div>
                                                <label class="form-control-label">QAID:</label><br />
                                                @*<input type="number" class="form-control pname" name="QAID" id="QAID" readonly value="00000000-0000-0000-0000-000000000000">*@
                                                <select class="form-control select2" id="QAID" name="QAID"></select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div>
                                                <label class="form-control-label">Assign To:</label><br />
                                                <select class="form-control select2" id="AssigneeID" name="AssigneeID"></select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div>
                                                <label class="form-control-label">Reported By:</label><br />
                                                <select class="form-control select2" id="ReportedBy" name="ReportedBy"></select>
                                            </div>
                                        </div>

                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-3" style="display:none">
                                            <div>
                                                <label class="form-control-label">Task Status:</label><br />
                                                <select class="form-control select2" id="TaskStatus" name="TaskStatus">
                                                    <option value="0">Select Task Status</option>
                                                    <option value="NoProgress">No Progress</option>
                                                    <option value="InProgress">In Progress</option>
                                                    <option value="Completed">Completed</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div>
                                                <label class="form-control-label">Reported Date:</label><br />
                                                <input type="text" class="form-control pname" name="ReportedDate" id="ReportedDate" value="">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div>
                                                <label class="form-control-label">Due Date:</label><br />
                                                <input type="text" class="form-control pname" name="DueDate" onfocusout="EstimateTotalTime()"  id="DueDate" value="">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div>
                                                <label class="form-control-label">Total Estimated Days:</label><br />
                                                <input type="text" class="form-control pname" name="TotalEstimatedTime" id="TotalEstimatedTime" value="">
                                            </div>
                                        </div>
                                        <div class="col-sm-3" hidden>
                                            <div>
                                                <label class="form-control-label">Notification Followers:</label>
                                                <select class="form-control" multiple="multiple"  id="NotificationFollowersddl"></select>
                                            </div>
                                        </div>
                                      

                                    </div><br />
                                          <div class="row">
                                              <div class="col-sm-3">
                                                  <div>
                                                      <label class="form-control-label"> Attachments:</label> <span style="color:red"> *</span>
                                                      <input type="file" class="form-control pname" name="TaskAttachments" id="TaskAttachments" value="">
                                                  </div>
                                              </div>
                                          </div>

                              </div>
                            </div>
                            <div class="card">
                                <div class="card-header"><h5>Issue Info</h5>  </div>
                                <div class="card-body border">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div>
                                                <label class="form-control-label">Issue Type:</label><br />
                                                <select class="form-control select2" id="IssueTypeId" name="IssueTypeId">
                                                    <option value="0">Select Issue Type</option>
                                                    <option value="Bug">Bug</option>
                                                    <option value="Task">Task</option>
                                                    <option value="Story">Story</option>
                                                    <option value="Subtask">Subtask</option>
                                                    <option value="Change">Change</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div>
                                                <label class="form-control-label">Issue Status:</label><br />
                                                <select class="form-control select2" id="IssueStatusID" name="IssueStatusID">
                                                     <option value="0">Select Issue Status</option>
                                                     <option value="NotStartedYet">Not Started Yet</option>
                                                      <option value="InProgress">In Progress</option>
                                                      <option value="Completed">Completed</option>
                                                      <option value="Pause">Pause</option>
                                                       
                                                      <option value="Underreview">Under review</option>
                                                      <option value="Approved">Approved</option>
                                                      <option value="Rejected">Rejected</option>
                                                      <option value="Accepted">Accepted</option>
                                                 
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div>
                                                <label class="form-control-label">Issue Priority:</label><br />
                                                <select class="form-control select2" id="IssuePriority" name="IssuePriority"></select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div>
                                                <label class="form-control-label">Issue Key:<span style="color:red">*</span></label><br />
                                                <input type="text" class="form-control pname" name="IssueKey" id="IssueKey" readonly value="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card" style="display:none">
                                <div class="card-header"><h5>Issue Source</h5>  </div>
                                <div class="card-body border">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div>
                                                <label class="form-control-label">Source Type:<span style="color:red">*</span></label><br />
                                                <input type="number" class="form-control pname" name="SourceType" id="SourceType" readonly value="1">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div>
                                                <label class="form-control-label">Ticket Type:<span style="color:red">*</span></label><br />
                                                <input type="number" class="form-control pname" name="TicketType" id="TicketType" readonly value="1">
                                            </div>
                                        </div>
                                       
                                       
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header"><h5>Task Detail</h5>  </div>
                                <div class="card-body border">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div>
                                                <label class="form-control-label">Description:</label><br />
                                                <textarea type="text" class="form-control pname editor" name="Description" id="Description" required value=""></textarea>
                                            </div>
                                        </div>
                                        <div class="col-sm-6" hidden>
                                            <div>
                                                <label class="form-control-label">Summary:</label>
                                                <textarea type="text" class="form-control pname editor" name="Summary" id="Summary" value=""></textarea>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </form>

                        <div class="border-top">

                            <div class="modal-footer">
                                <button type="button" id="btnSave" class="btn btn-success text-white   waves-effect  f-w-600 d-inline-block save_btn"> Save</button>
                                <button type="reset" id="btnReset" class="btn btn-danger text-white   waves-effect  f-w-600 d-inline-block reset_btn"> Reset</button>
                            </div>
                        </div>


                    </div>
                </div>
            </div>




        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>

    <script>
        //***********************************//
        // For select 2
        //***********************************//
        $(".select2").select2();

        /*colorpicker*/
        $('.demo').each(function () {
            //
            // Dear reader, it's actually very easy to initialize MiniColors. For example:
            //
            //  $(selector).minicolors();
            //
            // The way I've done it below is just for the demo, so don't get confused
            // by it. Also, data- attributes aren't supported at this time...they're
            // only used for this demo.
            //
            $(this).minicolors({
                control: $(this).attr('data-control') || 'hue',
                position: $(this).attr('data-position') || 'bottom left',

                change: function (value, opacity) {
                    if (!value) return;
                    if (opacity) value += ', ' + opacity;
                    if (typeof console === 'object') {
                        
                    }
                },
                theme: 'bootstrap'
            });

        });
        /*datwpicker*/
        jQuery('.mydatepicker').datepicker();
        jQuery('#datepicker-autoclose').datepicker({
            autoclose: true,
            todayHighlight: true
        });
        var quill = new Quill('#editor', {
            theme: 'snow'
        });

    </script>
</body>

<script src="~/Scripts/tinymce.min.js"></script>

 
<script src="~/Scripts/FunctionalityJs/TaskArea/Task/task-save.js?wadaanv=5.1.8"></script>
