
@{
    //Layout = "~/Areas/Employee/Views/Shared/_EmployeeLayout.cshtml";
    Layout = "~/Areas/Shared/_EmployeeLayout.cshtml";
}



<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">

                <div class="ms-auto text-end">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/Employee/Employee/Dashboard"> Dashboard </a></li>
                            <li class="breadcrumb-item active" aria-current="page"> Client </li>
                            <li class="breadcrumb-item active" aria-current="page"> Index</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->

        <div class="col-sm-12">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" id="active-client"> <a class="nav-link active" data-bs-toggle="tab" href="#activeClient" role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">Active Client</span></a> </li>
                <li class="nav-item" id="in-active-client"> <a class="nav-link" data-bs-toggle="tab" href="#InActiveClient" role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">In Active Client</span></a> </li>
                <li class="nav-item" id="all-client"> <a class="nav-link" data-bs-toggle="tab" href="#AllClient" role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">All Client</span></a> </li>

            </ul>
            <!-- Tab panes -->
            <div class="tab-content tabcontent-border">
                <div class="tab-pane active" id="activeClient" role="tabpanel">
                    <div class="">
                        <div class="col-sm-12">
                            <div class=" ">
                                <div class="card-body">

                                    <div class="col-md-12">

                                        <div class="card">
                                            <div class="card-header"><h5>CLIENT(S)</h5> <span>All Active Client's Record List</span> </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-lg-8 col-md-8 col-sm-8">
                                                    <button type="button" id="btn-add-client" class="btn btn-success" style="margin-left:20px; color:white" onclick="window.location.href='/Client/Client/Save'">  Add Client</button><br />

                                                </div>
                                            </div>


                                            <div class="card-body">
                                                <div id="client-grid"> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane  p-20" id="InActiveClient" role="tabpanel">

                    <div class="">
                        <div class="col-sm-12">
                            <div class=" ">
                                <div class="card-body">

                                    <div class="col-md-12">

                                        <div class="card">
                                            <div class="card-header"><h5>CLIENTS(S)</h5> <span>All InActive Client's Record List</span> </div>
                                            <br />
                                            @*<div class="col-md-2">
                                                <button type="button" id="btn-add-contractor" class="btn btn-success" style="margin-left:20px; color:white" onclick="window.location.href='/Contractor/Contractor/Save'">  Add Contractor</button><br />
                                            </div>*@

                                            <div class="card-body">

                                                <div id="in-active-client-grid"> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab-pane p-20" id="AllClient" role="tabpanel">
                    <div class="">
                        <div class="col-sm-12">
                            <div class=" ">
                                <div class="card-body">

                                    <div class="col-md-12">

                                        <div class="card">
                                            <div class="card-header"><h5>CLIENT(S)</h5> <span>All Client's Record List</span> </div>
                                            <br />

                                            <div class="card-body">

                                                <div id="all-client-grid"> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>






        @*<div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-header"><h5>CLIENT(S)</h5> <span>All Client's Record</span>  </div>

                    <div class="col-md-1">
                        <button type="button" class="btn btn-success" id="btn-add-new-client" onclick="window.location.href='/Client/Client/Save'" style="float: right; margin-right: -1455px; margin-top: -40px; color:white;">  Add Client</button>
                    </div>

                    <div class="card-body">
                        <div id="client-grid"> </div>
                    </div>
                </div>
            </div>

        </div>*@


    </div>

</div>

<script src="~/Scripts/FunctionalityJs/ClientArea/Client/client-list.js?wadaanv=5.1.8"></script>
