@*<div class="container-fluid">*@
<div class="card">
    <div class="card-header"><h5>Task Version List</h5>  </div>
    <div class="card-body">
        <div id="taskversion-grid"></div>
    </div>
</div>
@*</div>*@
 
<script src="~/Scripts/FunctionalityJs/ManagerArea/ManagerArea/task-version-list.js?wadaanv=5.1.8"></script>
