
@{
    ViewBag.Title = "Save";
    //Layout = "~/Areas/Employee/Views/Shared/_EmployeeLayout.cshtml";
    Layout = "~/Areas/Shared/_EmployeeLayout.cshtml";
}
 

<body>

    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
         data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">

        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">

                        <div class="ms-auto text-end">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/Employee/Employee/Dashboard"> Dashboard </a></li>
                                    <li class="breadcrumb-item active" aria-current="page"> Task Assignment </li>
                                    <li class="breadcrumb-item active" aria-current="page"> Save</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="card">

                    <div class="card-header"><h5>Task Assignment</h5>  </div>
                    <div class="card-body">

                        <form class="md-float-material" id="frmAddUpdateTaskAssignment" name="frmAddUpdateTaskAssignment" action="/services/Xtreme/multipart" method="post">
                            <input type="hidden" name="UserID" id="UserID" value="00000000-0000-0000-0000-000000000000">
                            <input type="hidden" name="TaskAssignId" id="TaskAssignId" value="00000000-0000-0000-0000-000000000000">
                            <input type="hidden" name="Id" id="Id" value="0">
                            <input type="hidden" name="type" id="type" value="TaskAssignment_Save">


                            @* =========================== PROJECT INFORMAION =========================== *@

                            <div class="card">
                                <div class="card-header"> <h5> Task Assignment Information</h5> </div>
                                <div class="card-body border">

                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div>
                                                <label class="form-control-label">Task Assignment Title:</label>
                                                <input type="text" class="form-control pname" name="Title" id="Title" required value="">

                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div>
                                                <label class="form-control-label">Task Name:<span style="color:red">*</span></label><br />
                                                <select class="form-control select2" id="TaskId" name="TaskId" tabindex="2"></select>
                                            </div>
                                        </div>

                                        <div class="col-sm-3">
                                            <div>
                                                <label class="form-control-label">Project Name:<span style="color:red">*</span></label><br />
                                                <select class="form-control select2" id="ProjectID" name="ProjectID"></select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div>
                                                <label class="form-control-label">Assigned To:<span style="color:red">*</span></label><br />
                                                <select class="form-control select2" id="EmployeeID" name="EmployeeID"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <br />

                                    <div class="row">

                                        <div class="col-sm-3">
                                            <div>
                                                <label class="form-control-label">Status:<span style="color:red">*</span></label><br />
                                                <select class="form-control select2" id="Status" name="Status">
                                                    <option value="0"> Select Status</option>
                                                    <option value="NoProgress"> No Progress</option>
                                                    <option value="InProgress"> In Progress</option>
                                                    <option value="Completed"> Completed</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div>
                                                <label class="form-control-label">Remarks:<span style="color:red">*</span></label><br />
                                                <input type="text" class="form-control pname" name="Remarks" id="Remarks" value="" required="">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div>
                                                <label class="form-control-label"> Attachments:</label> <span style="color:red"> *</span>
                                                <input type="file" class="form-control pname" multiple="multiple" name="TaskAssignAttachments" id="TaskAssignAttachments" value="">
                                            </div>
                                        </div>
                                    </div><br />
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div>
                                                <label class="form-control-label">Description:<span style="color:red">*</span></label><br />
                                                <textarea type="text" class="form-control pname editor" name="Description" id="Description" value="" required=""></textarea>
                                                @*<input type="text" class="form-control pname" name="MeetingDiscussion" id="MeetingDiscussion" value="" required="">*@
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="border-top">

                            <div class="modal-footer">
                                <button type="button" id="btnSave" class="btn btn-success text-white   waves-effect  f-w-600 d-inline-block save_btn"> Save</button>
                                <button type="reset" id="btnReset" class="btn btn-danger text-white   waves-effect  f-w-600 d-inline-block reset_btn"> Reset</button>
                                @*<button type="reset" class="btn btn-danger text-white">Reset</button>*@

                            </div>
                        </div>


                    </div>
                </div>
            </div>




        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>

    <script>
        //***********************************//
        // For select 2
        //***********************************//
        $(".select2").select2();

        /*colorpicker*/
        $('.demo').each(function () {
            //
            // Dear reader, it's actually very easy to initialize MiniColors. For example:
            //
            //  $(selector).minicolors();
            //
            // The way I've done it below is just for the demo, so don't get confused
            // by it. Also, data- attributes aren't supported at this time...they're
            // only used for this demo.
            //
            $(this).minicolors({
                control: $(this).attr('data-control') || 'hue',
                position: $(this).attr('data-position') || 'bottom left',

                change: function (value, opacity) {
                    if (!value) return;
                    if (opacity) value += ', ' + opacity;
                    if (typeof console === 'object') {
                        console.log(value);
                    }
                },
                theme: 'bootstrap'
            });

        });
        /*datwpicker*/
        jQuery('.mydatepicker').datepicker();
        jQuery('#datepicker-autoclose').datepicker({
            autoclose: true,
            todayHighlight: true
        });
        var quill = new Quill('#editor', {
            theme: 'snow'
        });

    </script>
</body>


<script src="~/Scripts/tinymce.min.js"></script>
<script src="~/Scripts/FunctionalityJs/TaskAssignmentArea/TaskAssignment/taskAssignment-save.js?wadaanv=5.1.8"></script>


