
@{
    ViewBag.Title = "BestResidentialArchitectsPage5";
    Layout = "~/Views/Shared/_Layout_WADAANSITE.cshtml";
}

<h2>BestResidentialArchitectsPage5</h2>

<section id="subheader" data-speed="8" data-type="background" class="lazyload padding-top-bottom" data-bg="https://archi-cubes.com/wp-content/uploads/2017/08/8.jpg" style="background-image: url('../../wp-content/uploads/2017/08/8.html');">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-title">Residential</h1>
                <ul id="breadcrumbs" class="crumb">
                    <li>
                        <a href="../../index.html">Home</a>
                    </li>
                    <li><a href="../../portfolio/index.html">Portfolio</a></li>
                    <li class="active">Residential</li>
                </ul>
            </div>
        </div>
    </div>

</section>
<div id="content">
    <div id="projects_grid" class="projects-grid overlay_s1 pf_4_cols wow fadeInUp" data-wow-delay=".3s" style="margin: 0px 0px">
        <div class="project-item-sizer"></div>
        <div class="project-item" style="padding:0px">
            <div class="projects-box"><div class="projects-thumbnail"> <noscript><img width="700" height="466" src="../../wp-content/uploads/2021/05/1-7-750x499.jpg" class="attachment-700x466 size-700x466 wp-post-image" alt="" title="1" /></noscript><img width="700" height="466" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20700%20466%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2021/05/1-7-750x499.jpg" class="lazyload attachment-700x466 size-700x466 wp-post-image" alt="" title="1" /></div> <a href="../../portfolio/mr-younas-residential/index.html"> <span class="project-overlay"> <span class="project-name id-color">Mr. Younas Residential</span> </span> </a></div>
        </div><div class="project-item" style="padding:0px">
            <div class="projects-box"><div class="projects-thumbnail"> <noscript><img width="700" height="466" src="../../wp-content/uploads/2021/05/4-3-750x499.jpg" class="attachment-700x466 size-700x466 wp-post-image" alt="" title="4" /></noscript><img width="700" height="466" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20700%20466%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2021/05/4-3-750x499.jpg" class="lazyload attachment-700x466 size-700x466 wp-post-image" alt="" title="4" /></div> <a href="../../portfolio/miss-asma-zafar-residential/index.html"> <span class="project-overlay"> <span class="project-name id-color">Miss Asma Zafar Residential</span> </span> </a></div>
        </div><div class="project-item" style="padding:0px">
            <div class="projects-box"><div class="projects-thumbnail"> <noscript><img width="700" height="466" src="../../wp-content/uploads/2021/05/3-4-750x499.jpg" class="attachment-700x466 size-700x466 wp-post-image" alt="" title="3" /></noscript><img width="700" height="466" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20700%20466%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2021/05/3-4-750x499.jpg" class="lazyload attachment-700x466 size-700x466 wp-post-image" alt="" title="3" /></div> <a href="../../portfolio/mr-hasham-residential/index.html"> <span class="project-overlay"> <span class="project-name id-color">Mr. Hasham Residential</span> </span> </a></div>
        </div><div class="project-item" style="padding:0px">
            <div class="projects-box"><div class="projects-thumbnail"> <noscript><img width="700" height="466" src="../../wp-content/uploads/2021/05/6-3-750x499.jpg" class="attachment-700x466 size-700x466 wp-post-image" alt="" title="6" /></noscript><img width="700" height="466" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20700%20466%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2021/05/6-3-750x499.jpg" class="lazyload attachment-700x466 size-700x466 wp-post-image" alt="" title="6" /></div> <a href="../../portfolio/bilal-hameed-residential/index.html"> <span class="project-overlay"> <span class="project-name id-color">Bilal Hameed Residential</span> </span> </a></div>
        </div><div class="project-item" style="padding:0px">
            <div class="projects-box"><div class="projects-thumbnail"> <noscript><img width="700" height="466" src="../../wp-content/uploads/2021/02/2-5-750x499.jpg" class="attachment-700x466 size-700x466 wp-post-image" alt="" title="2" /></noscript><img width="700" height="466" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20700%20466%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2021/02/2-5-750x499.jpg" class="lazyload attachment-700x466 size-700x466 wp-post-image" alt="" title="2" /></div> <a href="../../portfolio/mr-wajahat-residence/index.html"> <span class="project-overlay"> <span class="project-name id-color">Mr. Wajahat Residence</span> </span> </a></div>
        </div><div class="project-item" style="padding:0px">
            <div class="projects-box"><div class="projects-thumbnail"> <noscript><img width="700" height="466" src="../../wp-content/uploads/2021/02/7-750x499.jpg" class="attachment-700x466 size-700x466 wp-post-image" alt="" title="7" /></noscript><img width="700" height="466" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20700%20466%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2021/02/7-750x499.jpg" class="lazyload attachment-700x466 size-700x466 wp-post-image" alt="" title="7" /></div> <a href="../../portfolio/mr-qaiser/index.html"> <span class="project-overlay"> <span class="project-name id-color">MR.QAISER</span> </span> </a></div>
        </div><div class="project-item" style="padding:0px">
            <div class="projects-box"><div class="projects-thumbnail"> <noscript><img width="700" height="466" src="../../wp-content/uploads/2021/01/002-750x499.jpg" class="attachment-700x466 size-700x466 wp-post-image" alt="" title="002" /></noscript><img width="700" height="466" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20700%20466%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2021/01/002-750x499.jpg" class="lazyload attachment-700x466 size-700x466 wp-post-image" alt="" title="002" /></div> <a href="../../portfolio/mr-faheem/index.html"> <span class="project-overlay"> <span class="project-name id-color">Mr. Faheem</span> </span> </a></div>
        </div><div class="project-item" style="padding:0px">
            <div class="projects-box"><div class="projects-thumbnail"> <noscript><img width="700" height="466" src="../../wp-content/uploads/2021/01/9-750x499.jpg" class="attachment-700x466 size-700x466 wp-post-image" alt="" title="9" /></noscript><img width="700" height="466" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20700%20466%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2021/01/9-750x499.jpg" class="lazyload attachment-700x466 size-700x466 wp-post-image" alt="" title="9" /></div> <a href="../../portfolio/khalid-usman/index.html"> <span class="project-overlay"> <span class="project-name id-color">Khalid Usman</span> </span> </a></div>
        </div><div class="project-item" style="padding:0px">
            <div class="projects-box"><div class="projects-thumbnail"> <noscript><img width="700" height="466" src="../../wp-content/uploads/2021/01/3-5-750x499.jpg" class="attachment-700x466 size-700x466 wp-post-image" alt="" title="3" /></noscript><img width="700" height="466" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20700%20466%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2021/01/3-5-750x499.jpg" class="lazyload attachment-700x466 size-700x466 wp-post-image" alt="" title="3" /></div> <a href="../../portfolio/ch-farooq-villa/index.html"> <span class="project-overlay"> <span class="project-name id-color">Ch Farooq Villa</span> </span> </a></div>
        </div><div class="project-item" style="padding:0px">
            <div class="projects-box"><div class="projects-thumbnail"> <noscript><img width="700" height="466" src="../../wp-content/uploads/2021/01/3-3-750x499.jpg" class="attachment-700x466 size-700x466 wp-post-image" alt="" title="3" /></noscript><img width="700" height="466" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20700%20466%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2021/01/3-3-750x499.jpg" class="lazyload attachment-700x466 size-700x466 wp-post-image" alt="" title="3" /></div> <a href="../../portfolio/mr-saqib-azhar/index.html"> <span class="project-overlay"> <span class="project-name id-color">Mr. Saqib Azhar</span> </span> </a></div>
        </div>
    </div><div class="container">
        <ul class='pagination'>
            <li><span aria-current="page" class="page-numbers current">1</span></li>
            <li><a class="page-numbers" href="page/2/index.html">2</a></li>
            <li><a class="page-numbers" href="page/3/index.html">3</a></li>
            <li><a class="page-numbers" href="page/4/index.html">4</a></li>
            <li><a class="page-numbers" href="page/5/index.html">5</a></li>
            <li><a class="next page-numbers" href="page/2/index.html"><i class="fa fa-angle-double-right"></i></a></li>
        </ul>
    </div>
</div>


<script src="~/Views/WadaanWebsite/archi-cubes.com/wp-content/cache/autoptimize/js/autoptimize_3a99cb140bebcd4ab32f48cedd13a985.js"></script>