
@{
    ViewBag.Title = "BestResidentialArchitectsPage2";
    Layout = "~/Views/Shared/_Layout_WADAANSITE.cshtml";
}

<h2>BestResidentialArchitectsPage2</h2>







<section id="subheader" data-speed="8" data-type="background" class="lazyload padding-top-bottom" data-bg="https://archi-cubes.com/wp-content/uploads/2017/08/8.jpg" style="background-image: url('../../../../wp-content/uploads/2017/08/8.html');">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-title">Residential</h1>
                <ul id="breadcrumbs" class="crumb">
                    <li><a href="../../../../index.html">Home</a></li>
                    <li><a href="../../../../portfolio/index.html">Portfolio</a></li>
                    <li class="active">Residential</li>
                </ul>
            </div>
        </div>
    </div>

</section>
<div id="content">
    <div id="projects_grid" class="projects-grid overlay_s1 pf_4_cols wow fadeInUp" data-wow-delay=".3s" style="margin: 0px 0px">
        <div class="project-item-sizer"></div>
        <div class="project-item" style="padding:0px">
            <div class="projects-box"><div class="projects-thumbnail"> <noscript><img width="700" height="466" src="../../../../wp-content/uploads/2021/01/4-6-750x499.jpg" class="attachment-700x466 size-700x466 wp-post-image" alt="" title="4" /></noscript><img width="700" height="466" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20700%20466%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2021/01/4-6-750x499.jpg" class="lazyload attachment-700x466 size-700x466 wp-post-image" alt="" title="4" /></div> <a href="../../../../portfolio/asim-zubair/index.html"> <span class="project-overlay"> <span class="project-name id-color">Asim Zubair</span> </span> </a></div>
        </div><div class="project-item" style="padding:0px">
            <div class="projects-box"><div class="projects-thumbnail"> <noscript><img width="700" height="466" src="../../../../wp-content/uploads/2020/05/004-700x466.jpg" class="attachment-700x466 size-700x466 wp-post-image" alt="" srcset="https://archi-cubes.com/wp-content/uploads/2020/05/004-700x466.jpg 700w, https://archi-cubes.com/wp-content/uploads/2020/05/004-300x200.jpg 300w, https://archi-cubes.com/wp-content/uploads/2020/05/004-1024x683.jpg 1024w, https://archi-cubes.com/wp-content/uploads/2020/05/004-768x512.jpg 768w, https://archi-cubes.com/wp-content/uploads/2020/05/004-1536x1024.jpg 1536w, https://archi-cubes.com/wp-content/uploads/2020/05/004.jpg 1920w" sizes="(max-width: 700px) 100vw, 700px" title="004" /></noscript><img width="700" height="466" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20700%20466%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2020/05/004-700x466.jpg" class="lazyload attachment-700x466 size-700x466 wp-post-image" alt="" data-srcset="https://archi-cubes.com/wp-content/uploads/2020/05/004-700x466.jpg 700w, https://archi-cubes.com/wp-content/uploads/2020/05/004-300x200.jpg 300w, https://archi-cubes.com/wp-content/uploads/2020/05/004-1024x683.jpg 1024w, https://archi-cubes.com/wp-content/uploads/2020/05/004-768x512.jpg 768w, https://archi-cubes.com/wp-content/uploads/2020/05/004-1536x1024.jpg 1536w, https://archi-cubes.com/wp-content/uploads/2020/05/004.jpg 1920w" data-sizes="(max-width: 700px) 100vw, 700px" title="004" /></div> <a href="../../../../portfolio/farm-house-design-2020/index.html"> <span class="project-overlay"> <span class="project-name id-color">Farm House Design 2020</span> </span> </a></div>
        </div><div class="project-item" style="padding:0px">
            <div class="projects-box"><div class="projects-thumbnail"></div> <a href="../../../../portfolio/residential-house/index.html"> <span class="project-overlay"> <span class="project-name id-color">Residential House</span> </span> </a></div>
        </div><div class="project-item" style="padding:0px">
            <div class="projects-box"><div class="projects-thumbnail"> <noscript><img width="700" height="466" src="../../../../wp-content/uploads/2020/03/2-1-700x466.jpg" class="attachment-700x466 size-700x466 wp-post-image" alt="" title="2" /></noscript><img width="700" height="466" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20700%20466%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2020/03/2-1-700x466.jpg" class="lazyload attachment-700x466 size-700x466 wp-post-image" alt="" title="2" /></div> <a href="../../../../portfolio/dr-usman-qayyum-farm-house/index.html"> <span class="project-overlay"> <span class="project-name id-color">Dr. Usman Qayyum</span> </span> </a></div>
        </div><div class="project-item" style="padding:0px">
            <div class="projects-box"><div class="projects-thumbnail"> <noscript><img width="700" height="466" src="../../../../wp-content/uploads/2020/03/2-700x466.jpg" class="attachment-700x466 size-700x466 wp-post-image" alt="" title="2" /></noscript><img width="700" height="466" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20700%20466%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2020/03/2-700x466.jpg" class="lazyload attachment-700x466 size-700x466 wp-post-image" alt="" title="2" /></div> <a href="../../../../portfolio/farhan-lashari/index.html"> <span class="project-overlay"> <span class="project-name id-color">Farhan Lashari</span> </span> </a></div>
        </div><div class="project-item" style="padding:0px">
            <div class="projects-box"><div class="projects-thumbnail"> <noscript><img width="700" height="466" src="../../../../wp-content/uploads/2019/11/6-min-700x466.jpg" class="attachment-700x466 size-700x466 wp-post-image" alt="Miss Nayla Interior design By Archicubes" title="Miss Nayla Interior design By Archicubes" /></noscript><img width="700" height="466" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20700%20466%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2019/11/6-min-700x466.jpg" class="lazyload attachment-700x466 size-700x466 wp-post-image" alt="Miss Nayla Interior design By Archicubes" title="Miss Nayla Interior design By Archicubes" /></div> <a href="../../../../portfolio/miss-naila-house/index.html"> <span class="project-overlay"> <span class="project-name id-color">Miss Naila House</span> </span> </a></div>
        </div><div class="project-item" style="padding:0px">
            <div class="projects-box"><div class="projects-thumbnail"> <noscript><img width="700" height="466" src="../../../../wp-content/uploads/2019/11/final2-min-700x466.jpg" class="attachment-700x466 size-700x466 wp-post-image" alt="Farm House" title="farm house best-interior-in-lahore" /></noscript><img width="700" height="466" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20700%20466%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2019/11/final2-min-700x466.jpg" class="lazyload attachment-700x466 size-700x466 wp-post-image" alt="Farm House" title="farm house best-interior-in-lahore" /></div> <a href="../../../../portfolio/farm-house-2/index.html"> <span class="project-overlay"> <span class="project-name id-color">Farm House</span> </span> </a></div>
        </div><div class="project-item" style="padding:0px">
            <div class="projects-box"><div class="projects-thumbnail"> <noscript><img width="700" height="466" src="../../../../wp-content/uploads/2019/10/Miss-Naila-Interior-design-Best-interior-in-lahore-700x466.jpg" class="attachment-700x466 size-700x466 wp-post-image" alt="" title="Miss-Naila-Interior-design-Best-interior-in-lahore" /></noscript><img width="700" height="466" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20700%20466%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2019/10/Miss-Naila-Interior-design-Best-interior-in-lahore-700x466.jpg" class="lazyload attachment-700x466 size-700x466 wp-post-image" alt="" title="Miss-Naila-Interior-design-Best-interior-in-lahore" /></div> <a href="../../../../portfolio/miss-naila-interior-design/index.html"> <span class="project-overlay"> <span class="project-name id-color">Miss Naila | Interior Design</span> </span> </a></div>
        </div><div class="project-item" style="padding:0px">
            <div class="projects-box"><div class="projects-thumbnail"> <noscript><img width="700" height="466" src="../../../../wp-content/uploads/2019/10/Farm-House-By-Archi-Cubes-Best-Interior-Design-in-Lahore-700x466.jpg" class="attachment-700x466 size-700x466 wp-post-image" alt="" srcset="https://archi-cubes.com/wp-content/uploads/2019/10/Farm-House-By-Archi-Cubes-Best-Interior-Design-in-Lahore-700x466.jpg 700w, https://archi-cubes.com/wp-content/uploads/2019/10/Farm-House-By-Archi-Cubes-Best-Interior-Design-in-Lahore-300x200.jpg 300w, https://archi-cubes.com/wp-content/uploads/2019/10/Farm-House-By-Archi-Cubes-Best-Interior-Design-in-Lahore-768x512.jpg 768w, https://archi-cubes.com/wp-content/uploads/2019/10/Farm-House-By-Archi-Cubes-Best-Interior-Design-in-Lahore-1024x682.jpg 1024w, https://archi-cubes.com/wp-content/uploads/2019/10/Farm-House-By-Archi-Cubes-Best-Interior-Design-in-Lahore.jpg 1400w" sizes="(max-width: 700px) 100vw, 700px" title="Farm-House-By-Archi-Cubes-Best-Interior-Design-in-Lahore" /></noscript><img width="700" height="466" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20700%20466%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2019/10/Farm-House-By-Archi-Cubes-Best-Interior-Design-in-Lahore-700x466.jpg" class="lazyload attachment-700x466 size-700x466 wp-post-image" alt="" data-srcset="https://archi-cubes.com/wp-content/uploads/2019/10/Farm-House-By-Archi-Cubes-Best-Interior-Design-in-Lahore-700x466.jpg 700w, https://archi-cubes.com/wp-content/uploads/2019/10/Farm-House-By-Archi-Cubes-Best-Interior-Design-in-Lahore-300x200.jpg 300w, https://archi-cubes.com/wp-content/uploads/2019/10/Farm-House-By-Archi-Cubes-Best-Interior-Design-in-Lahore-768x512.jpg 768w, https://archi-cubes.com/wp-content/uploads/2019/10/Farm-House-By-Archi-Cubes-Best-Interior-Design-in-Lahore-1024x682.jpg 1024w, https://archi-cubes.com/wp-content/uploads/2019/10/Farm-House-By-Archi-Cubes-Best-Interior-Design-in-Lahore.jpg 1400w" data-sizes="(max-width: 700px) 100vw, 700px" title="Farm-House-By-Archi-Cubes-Best-Interior-Design-in-Lahore" /></div> <a href="../../../../portfolio/farm-house/index.html"> <span class="project-overlay"> <span class="project-name id-color">Farm House</span> </span> </a></div>
        </div><div class="project-item" style="padding:0px">
            <div class="projects-box"><div class="projects-thumbnail"> <noscript><img width="700" height="466" src="../../../../wp-content/uploads/2019/10/Dr-Qayyum-Residential-Villa-interior-best-architects-in-lahore-1-700x466.jpg" class="attachment-700x466 size-700x466 wp-post-image" alt="" title="Dr-Qayyum-Residential-Villa-interior-best-architects-in-lahore" /></noscript><img width="700" height="466" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20700%20466%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2019/10/Dr-Qayyum-Residential-Villa-interior-best-architects-in-lahore-1-700x466.jpg" class="lazyload attachment-700x466 size-700x466 wp-post-image" alt="" title="Dr-Qayyum-Residential-Villa-interior-best-architects-in-lahore" /></div> <a href="../../../../portfolio/home-interior-design-for-dr-qayyum-residential-villa/index.html"> <span class="project-overlay"> <span class="project-name id-color">Home Interior Design For Dr.Qayyum Residential Villa</span> </span> </a></div>
        </div>
    </div>
    <div class="container">
        <ul class='pagination'>
            <li>
                <a class="prev page-numbers" href="../1/index.html"><i class="fa fa-angle-double-left"></i></a>
            </li>
            <li><a class="page-numbers" href="../1/index.html">1</a></li>
            <li><span aria-current="page" class="page-numbers current">2</span></li>
            <li><a class="page-numbers" href="../3/index.html">3</a></li>
            <li><a class="page-numbers" href="../4/index.html">4</a></li>
            <li><a class="page-numbers" href="../5/index.html">5</a></li>
            <li><a class="next page-numbers" href="../3/index.html"><i class="fa fa-angle-double-right"></i></a></li>
        </ul>
    </div>
</div>


<script src="~/Views/WadaanWebsite/archi-cubes.com/wp-content/cache/autoptimize/js/autoptimize_3a99cb140bebcd4ab32f48cedd13a985.js"></script>