<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    @*<link rel="pingback" href="../xmlrpc.php">*@
    <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />
    <link href="~/Content/wp-content/cache/autoptimize/css/autoptimize_fe552615bf680f6d64be07bdce42e3ae.css" rel="stylesheet" />

    <title>Industry Leading Architecture Design | WADAAN - Best Architects in Peshawar |</title>
    <meta name="description" content="WADAAN is at the forefront of top architecture and urban design. We have the industry leading expert team of best architects in Peshawar and considered as the dominant architecture firm." />
    <link rel="canonical" href="index.html" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Industry Leading Architecture Design | WADAAN - Best Architects in Peshawar |" />
    <meta property="og:description" content="WADAAN is at the forefront of top architecture and urban design. We have the industry leading expert team of best architects in Peshawar and considered as the dominant architecture firm." />
    <meta property="og:url" content="index.html" />
    <meta property="og:site_name" content="WADAAN" />
    <meta property="article:publisher" content="https://www.facebook.com/Ar.tahirkhattak" />
    <meta property="article:modified_time" content="2018-08-01T12:40:34+00:00" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:label1" content="Est. reading time">
    <meta name="twitter:data1" content="5 minutes">

    <meta name="geo.placename" content="Peshawar" />
    <meta name="geo.position" content="34.002442224292444, 71.50193170262453" />
    <meta name="geo.position" content="31.518546646021928;74.35025596476517" />
    <meta name="geo.region" content="Pakistan" />
    <link rel='dns-prefetch' href='http://secure.gravatar.com/' />
    <link rel='dns-prefetch' href='http://maps.googleapis.com/' />
    <link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
    <link rel='dns-prefetch' href='http://s.w.org/' />
    <link rel='dns-prefetch' href='http://v0.wordpress.com/' />
    <link rel='preconnect' href='https://fonts.gstatic.com/' crossorigin />
    <link rel="alternate" type="application/rss+xml" title="WADAAN &raquo; Feed" href="~/Views/WadaanWebsite/categories/interior-designing-construction/feed/index.html" />


    @* =================================================================== CSS FILES ADDED =============================================================  *@
    @*<link href="~/Content/wp-content/cache/autoptimize/css/autoptimize_0fd05f013b86c47b9052e3585899f86a.css" rel="stylesheet" />
        <link href="~/Content/wp-content/cache/autoptimize/css/autoptimize_134e4b09de1b12ab68132032462f5642.css" rel="stylesheet" />
        <link href="~/Content/wp-content/cache/autoptimize/css/autoptimize_1097e195f6dad0c615c8e3fd41e9b170.css" rel="stylesheet" />
        <link href="~/Content/wp-content/cache/autoptimize/css/autoptimize_580da7df3c7cb3a2dcfc8e02082cc6d2.css" rel="stylesheet" />
        <link href="~/Content/wp-content/cache/autoptimize/css/autoptimize_2d814ba76abc007ca5295ed50519cadd.css" rel="stylesheet" />
        <link href="~/Content/wp-content/cache/autoptimize/css/autoptimize_57520d74ef85a1a5fa0a98c1d4391def.css" rel="stylesheet" />
        <link href="~/Content/wp-content/cache/autoptimize/css/autoptimize_4b6cb317a2d47ac220762470291bdc5f.css" rel="stylesheet" />
        <link href="~/Content/wp-content/cache/autoptimize/css/autoptimize_8eb37b6b380cc83d72d17a63ea86bf90.css" rel="stylesheet" />
        <link href="~/Content/wp-content/cache/autoptimize/css/autoptimize_804b35033d27de4c2337dd35e4461948.css" rel="stylesheet" />
        <link href="~/Content/wp-content/cache/autoptimize/css/autoptimize_ad33a789085ec5c2ebac49649598b61b.css" rel="stylesheet" />
        <link href="~/Content/wp-content/cache/autoptimize/css/autoptimize_a303cb5140b13a6bf3ba51f530f75531.css" rel="stylesheet" />
        <link href="~/Content/wp-content/cache/autoptimize/css/autoptimize_bd4f69cf7dc0cf2cfda4b005bf5a1bff.css" rel="stylesheet" />
        <link href="~/Content/wp-content/cache/autoptimize/css/autoptimize_f06398651662220e839f84ed4edc1d62.css" rel="stylesheet" />
        <link href="~/Content/wp-content/cache/autoptimize/css/autoptimize_f6068eb50954c5753e38242f09d22683.css" rel="stylesheet" />
        <link href="~/Content/wp-content/cache/autoptimize/css/autoptimize_ff85e00618b120b7b81f587faed6567b.css" rel="stylesheet" />
        <link href="~/Content/wp-content/cache/autoptimize/css/autoptimize_fe552615bf680f6d64be07bdce42e3ae.css" rel="stylesheet" />*@


    <link rel="alternate" type="application/rss+xml" title="WADAAN &raquo; Comments Feed" href="../comments/feed/index.html" />
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.0.1\/72x72\/", "ext": ".png", "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.0.1\/svg\/", "svgExt": ".svg", "source": { "concatemoji": "https:\/\/archi-cubes.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.7.2" } };
        !function (e, a, t) { var n, r, o, i = a.createElement("canvas"), p = i.getContext && i.getContext("2d"); function s(e, t) { var a = String.fromCharCode; p.clearRect(0, 0, i.width, i.height), p.fillText(a.apply(this, e), 0, 0); e = i.toDataURL(); return p.clearRect(0, 0, i.width, i.height), p.fillText(a.apply(this, t), 0, 0), e === i.toDataURL() } function c(e) { var t = a.createElement("script"); t.src = e, t.defer = t.type = "text/javascript", a.getElementsByTagName("head")[0].appendChild(t) } for (o = Array("flag", "emoji"), t.supports = { everything: !0, everythingExceptFlag: !0 }, r = 0; r < o.length; r++)t.supports[o[r]] = function (e) { if (!p || !p.fillText) return !1; switch (p.textBaseline = "top", p.font = "600 32px Arial", e) { case "flag": return s([127987, 65039, 8205, 9895, 65039], [127987, 65039, 8203, 9895, 65039]) ? !1 : !s([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819]) && !s([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]); case "emoji": return !s([55357, 56424, 8205, 55356, 57212], [55357, 56424, 8203, 55356, 57212]) }return !1 }(o[r]), t.supports.everything = t.supports.everything && t.supports[o[r]], "flag" !== o[r] && (t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && t.supports[o[r]]); t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && !t.supports.flag, t.DOMReady = !1, t.readyCallback = function () { t.DOMReady = !0 }, t.supports.everything || (n = function () { t.readyCallback() }, a.addEventListener ? (a.addEventListener("DOMContentLoaded", n, !1), e.addEventListener("load", n, !1)) : (e.attachEvent("onload", n), a.attachEvent("onreadystatechange", function () { "complete" === a.readyState && t.readyCallback() })), (n = t.source || {}).concatemoji ? c(n.concatemoji) : n.wpemoji && n.twemoji && (c(n.twemoji), c(n.wpemoji))) }(window, document, window._wpemojiSettings);</script>
    <link rel='stylesheet' id='archi-fonts-css' href='https://fonts.googleapis.com/css?family=Allura%7CDosis%3A200%2C300%2C400%2C500%2C600%2C700%2C800%7CMontserrat%3A100%2C100i%2C200%2C200i%2C300%2C300i%2C400%2C400i%2C500%2C500i%2C600%2C600i%2C700%2C700i%2C800%2C800i%2C900%2C900i%7COpen+Sans%3A300%2C300i%2C400%2C400i%2C600%2C600i%2C700%2C700i%2C800%2C800i%7CPT+Sans%3A400%2C400i%2C700%2C700i%7CRaleway%3A100%2C100i%2C200%2C200i%2C300%2C300i%2C400%2C400i%2C500%2C500i%2C600%2C600i%2C700%2C700i%2C800%2C800i%2C900%2C900i%7CRoboto+Slab%3A100%2C300%2C400%2C700&amp;subset=cyrillic%2Ccyrillic-ext%2Cgreek%2Cgreek-ext%2Clatin-ext%2Cvietnamese' type='text/css' media='all' />
    <link rel='stylesheet' id='archi-animate-css' href='~/Content/wp-content/themes/archi/css/animate9f31.html' type='text/css' media='all' />

    <link rel='stylesheet' id='archi-YTPlayer-css' href='~/Content/wp-content/themes/archi/css/jquery.mb.YTPlayer.min9f31.html' type='text/css' media='all' />
    <link rel='stylesheet' id='archi-twentytwenty-css' href='~/Content/wp-content/themes/archi/css/twentytwenty9f31.html' type='text/css' media='all' /> <!--[if gte IE 8]><link rel='stylesheet' id='archi-theme-new-ie-css'  href='https://archi-cubes.com/wp-content/themes/archi-child/css/new-ie.css?ver=5.7.2' type='text/css' media='all' /> <![endif]-->
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Lato:400&amp;display=swap&amp;ver=1613976355" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400&amp;display=swap&amp;ver=1613976355" media="print" onload="this.media='all'">
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400&amp;display=swap&amp;ver=1613976355" /></noscript>


    @*<script type='text/javascript' src='~/Scripts/wp-includes/js/jquery/jquery.min9d52.js' id='jquery-core-js'></script>*@
    <script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDmP94VS7cd1vH400Qv2vrmpA8zPRpck3A&amp;ver=5.7.2' id='archi-maps-js-js'></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    <link rel="https://api.w.org/" href="~/Scripts/wp-json/index.html" />
    <link rel="alternate" type="application/json" href="~/Scripts/wp-json/wp/v2/pages/1823.json" />

    @*<link rel="EditURI" type="application/rsd+xml" title="RSD" href="../xmlrpc0db0.php?rsd" />*@
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="~/Scripts/wp-includes/wlwmanifest.xml" />

    @* <meta name="generator" content="WordPress 5.7.2" /
        >*@

    <link rel='shortlink' href='https://wp.me/PaGQpA-tp' />

    <link rel="alternate" type="application/json+oembed" href="~/Scripts/wp-json/oembed/1.0/embedfc38.json" />

    <link rel="alternate" type="text/xml+oembed" href="~/Scripts/wp-json/oembed/1.0/embede422" />
    <meta name="framework" content="Redux 4.1.26" />
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-73347704-4', 'auto');
        ga('set', 'anonymizeIp', true);
        ga('set', 'forceSSL', true);
        ga('send', 'pageview');</script>
    <style type="text/css">

        #subheader {
            background-image: url(~/Content/wp-content/uploads/2018/03/background-header.html);
            background-color: #222222;
        }

            #subheader h1, #subheader h4, #subheader .crumb {
                color: #ECEFF3;
            }




        #mainmenu li a:after, #mainmenu li a.mPS2id-highlight, .mainmenu li a.mPS2id-highlight, .de-navbar-left header .mainmenu > li > a:hover,
        header.smaller #mainmenu li a.mPS2id-highlight {
            color: #DD3333;
        }

        nav ul#mainmenu > li.current-menu-ancestor > a, .mainmenu li.current-menu-item > a, nav ul.mainmenu > li.current-menu-ancestor > a,
        #mainmenu > li > a:hover, #mainmenu > li.current-menu-item > a, header.smaller #mainmenu > li > a:hover, header.smaller #mainmenu > li.current-menu-item > a {
            color: #DD3333;
            opacity: 1;
        }

        #mainmenu li.current-menu-ancestor li.current-menu-ancestor > a, #mainmenu li li.active > a,
        header.smaller #mainmenu li li a:hover, #mainmenu li li a:hover {
            background-color: #DD3333;
            color: #111;
        }

        /*Topbar Border Bottom Color */
        header .info {
            border-bottom-color: rgba(255,255,255,0.13);
            color: #FFFFFF;
        }

            header .info ul.social-list li i {
                color: #FFFFFF;
            }

        /* Content Colors */
        .bg-color, .de_light .bg-fixed.bg-color,
        section.call-to-action,
        .blog-list .date, .blog-read .date,
        .slider-info .text1,
        .btn-primary, .bg-id-color,
        .pagination .current,
        .pagination .current,
        .pagination .current:hover,
        .pagination .current:hover,
        .pagination .current:focus,
        .pagination .current span:focus, .dropcap,
        .fullwidthbanner-container a.btn,
        .feature-box-big-icon i,
        #testimonial-full, .icon-deco i,
        .blog-list .date-box .day,
        .bloglist .date-box .day,
        .feature-box-small-icon .border,
        .small-border, .team-box .small-border, .date-post,
        .team-list .small-border,
        .de-team-list .small-border,
        .btn-line:hover, a.btn-line:hover,
        .btn-line.hover, a.btn-line.hover,
        .owl-arrow span, .de-progress .progress-bar,
        #btn-close-x:hover, .box-fx .info, .de_testi blockquote:before,
        .menu-sidebar-menu-container ul li.current_page_item a,
        .widget_nav_menu ul#services-list li:hover,
        .btn-more, .widget .small-border,
        .product img:hover, #btn-search, .form-submit #submit,
        #wp-calendar tbody td#today,
        .de_tab.tab_steps .de_nav li span,
        #services-list li a:hover,
        .de_light #services-list li.active,
        #services-list li.active, .button.btn.btn-line:hover, .woocommerce #respond input#submit, .woocommerce a.button,
        .woocommerce button.button, .woocommerce input.button, .woocommerce .widget_price_filter .ui-slider .ui-slider-range,
        .woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
        .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt,
        .woocommerce button.button.alt, .woocommerce input.button.alt, .added_to_cart:hover, #back-to-top, .header-light #menu-btn:hover,
        .owl-theme .owl-controls .owl-buttons div, .mb_YTVTime, .socials-sharing a.socials-item:hover, a.btn-custom,
        header.side-header .social-icons-2 ul li a:hover, .pricing-dark.pricing-box .price-row,
        .mainmenu li li a:hover, #services-list .widget_nav_menu ul.menu > li.current-menu-item > a, #services-list > li.current-menu-item > a,
        #services-list li li.current-menu-item > a,
        .pricing-s1 .ribbon, #sidebar .widget .small-border, .portfolio-navigation a:hover, .project_filters li a.selected {
            background-color: #DD3333;
        }

            .woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover, .woocommerce #respond input#submit.alt:hover,
            .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
                background-color: #DAD8DA;
                color: #5D6F93;
            }

        .post-image .owl-theme .owl-controls .owl-page.active span, .pricing-dark.pricing-box .price-row,
        .de_light .pricing-dark.pricing-box .price-row {
            background-color: #DD3333 !important;
        }

        #filters a:hover, .filters a:hover {
            background-color: #111;
        }

        #filters li.showchild > a, #filters a.selected, #filters a.selected:hover,
        .filters a.selected, .filters a.selected:hover {
            background-color: #DD3333;
            color: #111;
        }

        .feature-box i,
        .slider_text h1, .id-color,
        .pricing-box li h1,
        .title span, i.large:hover,
        .feature-box-small-icon-2 i, address div i,
        .pricing-dark .pricing-box li.price-row, .price,
        .dark .feature-box-small-icon i,
        a.btn-slider:after,
        .feature-box-small-icon i, a.btn-line:after,
        .team-list .social a,
        .de_contact_info i, .de_count,
        .dark .btn-line:hover:after, .dark a.btn-line:hover:after, .dark a.btn-line.hover:after,
        a.btn-text:after,
        .separator span i,
        address div strong,
        address span strong,
        .de_testi_by, .pf_text,
        .dark .btn-line:after, .dark a.btn-line:after, .crumb a,
        .post-info a, .comments_number, .date .c_reply a,
        .search-form:before, h3 b, .woocommerce .star-rating span,
        .woocommerce .star-rating:before, .woocommerce div.product p.price, .woocommerce div.product span.price,
        .woocommerce div.product .woocommerce-tabs ul.tabs li.active a, .de_light.woocommerce p.stars a,
        .de_light.woocommerce p.stars a, .pricing-box h1, .de_light .pricing-box h1, h1.title strong, header .info ul.social-list li a:hover i,
        header .info ul.info-list li span, header .info ul.info-list li strong, header .info ul.info-list li i, .added_to_cart:after,
        .portfolio-icon:hover, .portfolio-icon a:hover i, .de-navbar-left #subheader .crumb a, .mb_YTVPBar, .post-controls a:hover strong,
        .folio-style2 .folio-info h3 a:hover, .text-slider .text-item b, .style-3 b, .share-holder .social-links.rounded-share-icons a:hover i,
        .woocommerce span.onsale, .woocommerce-info .showcoupon, .pricing-s1 .bottom i, .expand h4:after, ul.sidebar-style-2 li:hover a,
        ul.sidebar-style-2 li.active a, .pr_text, .portfolio-navigation a i, blockquote.s1 span.rating i, .process-sync2 .synced .item p,
        .process-sync2 .item:hover p, .topbar-login li i {
            color: #DD3333;
        }

        ul.sidebar-style-2 li.active, ul.sidebar-style-2 li:hover {
            border-left-color: #DD3333;
        }

        .pricing-dark.pricing-box h1, .de_light .pricing-dark.pricing-box h1 {
            color: #fff;
        }

        .feature-box i,
        .pagination .current,
        .pagination .current,
        .pagination .current:hover,
        .pagination .current:hover,
        .pagination .current:focus,
        .pagination .current:focus
        .feature-box-big-icon i:after,
        .social-icons i,
        .btn-line:hover, a.btn-line:hover,
        .btn-line.hover, a.btn-line:hover,
        .product img:hover,
        .wpcf7 input[type=text]:focus, .wpcf7 input[type=email]:focus, .wpcf7 input[type=tel]:focus, .wpcf7 textarea:focus, #search:focus,
        .de_light .wpcf7 input[type=text]:focus, .de_light .wpcf7 input[type=tel]:focus, .de_light .wpcf7 textarea:focus,
        .de_light .wpcf7 #search:focus, .comment-form input[type='text']:focus, .comment-form input[type='email']:focus, .comment-form textarea:focus,
        .socials-sharing a.socials-item:hover, .woocommerce span.onsale, .portfolio-navigation a:hover,
        .wpcf7 input[type=number]:focus, .wpcf7 select.wpcf7-select:focus {
            border-color: #DD3333;
            outline: 0px;
        }

        .comment-form textarea:focus {
            border: 1px solid #DD3333 !important;
        }

        .box-fx .inner,
        .dark .box-fx .inner,
        .post-image,
        .arrow-up {
            border-bottom-color: #DD3333;
        }

        .arrow-down {
            border-top-color: #DD3333;
        }

        .callbacks_nav {
            background-color: #DD3333;
        }

        .de_tab .de_nav li span {
            border: 2px solid #DD3333;
        }

        .feature-box-big-icon i:after {
            border-color: #DD3333 transparent; /*same colour as the lower of the bubble's gradient*/
        }

        .de_review li.active img {
            border: solid 4px #DD3333;
        }

        .post-text blockquote {
            border-left: 5px solid #DD3333;
        }

        #subheader.portfolio-top-image {
            background-image: url(../Content/wp-content/uploads/2021/01/E-02.jpg);
        }

        /**** Custom CSS Footer ****/
        footer .widget_recent_entries li, footer .widget_archive li,
        footer .widget_categories li, footer .widget_nav_menu li,
        footer .widget_pages li, footer .widget_meta li, address span {
            border-bottom-color: #222222;
        }

        /*CSS Code Disable or Enable Breadcrumb*/
        #subheader .crumb {
            display: none;
        }

        @@media only screen and (max-width: 992px) {
            /* Styling Mobile Side Navigation */
            body.de-navbar-left .side-header, body.de-navbar-left header.side-header .mainmenu {
            }

                body.de-navbar-left header.side-header .mainmenu a {
                }

                body.de-navbar-left header.side-header .mainmenu > li {
                }

            .mainmenu li ul {
            }

                .mainmenu li ul li a {
                }

            #menu-btn:hover {
                background: #DD3333;
            }
            /* Styling Mobile Header */
            header.header-bg, header, header.transparent {
            }

                header #mainmenu li ul li:first-child, header #mainmenu li ul ul {
                }

                    #mainmenu li, header #mainmenu li ul ul li:last-child {
                    }

                        #mainmenu li ul li a {
                        }

                        #mainmenu li a, #mainmenu li li a {
                        }

                header #mainmenu li span {
                    background: url(~/Content/wp-content/themes/archi/images/ui/arrow-down.png) center no-repeat;
                }

                    header #mainmenu li span.active {
                        background: url(~/Content/wp-content/themes/archi/images/ui/arrow-up.png) center no-repeat;
                    }
        }
    </style>


    <script type='text/javascript'>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            }; if (!f._fbq) f._fbq = n;
            n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
        }(window,
            document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
    </script>
    <script type='text/javascript'>
        fbq('init', '2383124035147225', {}, {
            "agent": "wordpress-5.7.2-3.0.5"
        });</script>
    <script type='text/javascript'>fbq('track', 'PageView', []);</script>
    <noscript>
        <img height="1" width="1" style="display:none" alt="fbpx" src="https://www.facebook.com/tr?id=2383124035147225&amp;ev=PageView&amp;noscript=1" />
    </noscript>
    <meta name="generator" content="Powered by WPBakery Page Builder - drag and drop page builder for WordPress." />
    <meta name="generator" content="Powered by Slider Revolution 6.2.20 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />

    <link rel="icon" href="~/Content/wp-content/uploads/2021/05/cropped-images-32x32.png" />
    <link rel="icon" href="~/Content/wp-content/uploads/2021/05/cropped-images-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="~/Content/wp-content/uploads/2021/05/cropped-images-180x180.png" />
    <meta name="msapplication-TileImage" content="~/Content/wp-content/uploads/2021/05/cropped-images-270x270.png" />

    <script type="text/javascript">
        function setREVStartSize(e) {
            //window.requestAnimationFrame(function() {
            window.RSIW = window.RSIW === undefined ? window.innerWidth : window.RSIW;
            window.RSIH = window.RSIH === undefined ? window.innerHeight : window.RSIH;
            try {
                var pw = document.getElementById(e.c).parentNode.offsetWidth,
                    newh;
                pw = pw === 0 || isNaN(pw) ? window.RSIW : pw;
                e.tabw = e.tabw === undefined ? 0 : parseInt(e.tabw);
                e.thumbw = e.thumbw === undefined ? 0 : parseInt(e.thumbw);
                e.tabh = e.tabh === undefined ? 0 : parseInt(e.tabh);
                e.thumbh = e.thumbh === undefined ? 0 : parseInt(e.thumbh);
                e.tabhide = e.tabhide === undefined ? 0 : parseInt(e.tabhide);
                e.thumbhide = e.thumbhide === undefined ? 0 : parseInt(e.thumbhide);
                e.mh = e.mh === undefined || e.mh == "" || e.mh === "auto" ? 0 : parseInt(e.mh, 0);
                if (e.layout === "fullscreen" || e.l === "fullscreen")
                    newh = Math.max(e.mh, window.RSIH);
                else {
                    e.gw = Array.isArray(e.gw) ? e.gw : [e.gw];
                    for (var i in e.rl) if (e.gw[i] === undefined || e.gw[i] === 0) e.gw[i] = e.gw[i - 1];
                    e.gh = e.el === undefined || e.el === "" || (Array.isArray(e.el) && e.el.length == 0) ? e.gh : e.el;
                    e.gh = Array.isArray(e.gh) ? e.gh : [e.gh];
                    for (var i in e.rl) if (e.gh[i] === undefined || e.gh[i] === 0) e.gh[i] = e.gh[i - 1];

                    var nl = new Array(e.rl.length),
                        ix = 0,
                        sl;
                    e.tabw = e.tabhide >= pw ? 0 : e.tabw;
                    e.thumbw = e.thumbhide >= pw ? 0 : e.thumbw;
                    e.tabh = e.tabhide >= pw ? 0 : e.tabh;
                    e.thumbh = e.thumbhide >= pw ? 0 : e.thumbh;
                    for (var i in e.rl) nl[i] = e.rl[i] < window.RSIW ? 0 : e.rl[i];
                    sl = nl[0];
                    for (var i in nl) if (sl > nl[i] && nl[i] > 0) { sl = nl[i]; ix = i; }
                    var m = pw > (e.gw[ix] + e.tabw + e.thumbw) ? 1 : (pw - (e.tabw + e.thumbw)) / (e.gw[ix]);
                    newh = (e.gh[ix] * m) + (e.tabh + e.thumbh);
                }
                if (window.rs_init_css === undefined) window.rs_init_css = document.head.appendChild(document.createElement("style"));
                document.getElementById(e.c).height = newh + "px";
                window.rs_init_css.innerHTML += "#" + e.c + "_wrapper { height: " + newh + "px }";
            } catch (e) {
                console.log("Failure at Presize of Slider:" + e)
            }
            //});
        };</script>
    <style type="text/css" data-type="vc_shortcodes-custom-css">
        .vc_custom_1524825115563 {
            padding-top: 90px !important;
            padding-bottom: 90px !important;
            /*=======================================================================*/
            background-image: url(/../../Content/wp-content/uploads/2018/04/compressedbg-slider8240.jpg?id=2085) !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }

        .vc_custom_1480068996195 {
            padding-top: 90px !important;
            padding-bottom: 90px !important;
        }

        .vc_custom_1524828237197 {
            padding-top: 90px !important;
            padding-bottom: 90px !important;
            background-image: url(https://archi-cubes.com/wp-content/uploads/2018/04/blurslider-1.png?id=2102) !important;
        }

        .vc_custom_1480073166455 {
            padding-top: 40px !important;
            padding-bottom: 40px !important;
        }

        .vc_custom_1495189876504 {
            padding-top: 30px !important;
            padding-bottom: 90px !important;
        }

        .vc_custom_1524827834918 {
            margin-bottom: 0px !important;
        }

        .vc_custom_1524827874702 {
            margin-bottom: 0px !important;
        }
    </style>
    <noscript>
        <style>
            .wpb_animate_when_almost_visible {
                opacity: 1;
            }
        </style>
    </noscript>
</head>

<body class="page-template page-template-page-templates page-template-template-onepage page-template-page-templatestemplate-onepage-php page page-id-1823 wp-embed-responsive de_light has-topbar archi-theme-ver-3.6.0 wordpress-version-5.7.2 wpb-js-composer js-comp-ver-6.5.0 vc_responsive">
    <div id="wrapper">
        <header id="homepage" class="site-header de_header_2 header-bg">
            <div class="info">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <ul class="info-list">
                                <li>
                                    Phone#
                                    <span style="color: #ffffff;"><strong>(+92)-91-5853695</strong></span>
                                </li>
                                <li>
                                    <i class="fa fa-envelope-o"></i> Email us:
                                    <span style="color: #ffffff;"><strong>info@wadaan.com</strong></span>
                                </li>
                                <li>
                                    <i class="fa fa-clock-o"></i> Working Hours:
                                    <span style="color: #ffffff;"><b style="color:red;">10:00am-7:00pm</b></span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <ul class="social-list">
                                <li>
                                    <a target="_blank" href="https://www.facebook.com/Ar.tahirkhattak"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://www.linkedin.com/in/ArMuhammadTahirKhattak"><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="logo">

                            <a href="/Home/Index/">
                                <noscript>
                                    <img class="logo-static" src="/../../Content/wp-content/uploads/2018/05/logo.png" alt="WADAAN">
                                </noscript>
                                <img class="lazyload logo-static" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20210%20140%22%3E%3C/svg%3E'
                                     @*data-src="/../../Content/wp-content/uploads/2018/07/Logo-Archi-Cubes-new-new-new-new.png" alt="WADAAN">*@
                                     data-src="/../../Content/wp-content/uploads/2018/07/logo.png" alt="Wadaan" style="width:150px;height:100px;">


                                <img class="lazyload logo-scroll" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20210%20140%22%3E%3C/svg%3E'
                                     data-src="/../../Content/wp-content/uploads/2018/05/logo.png"
                                     alt="WADAAN">
                            </a>
                        </div>
                        <span id="menu-btn"></span>
                        <nav>
                            <ul id="mainmenu">
                                <li id="menu-item-2209" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-2209 current-menu-ancestor">
                                    <a title="Home" href="/Home/Index">Home</a>
                                </li>
                                <li id="menu-item-1076" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home  current-menu-parent menu-item-has-children menu-item-1076 ">
                                    <a title="Our Services" href="/Home/Index/#services">Our Services </a>
                                    <ul role="menu" class=" sub-menu">
                                        <li id="menu-item-1835" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-1823 current_page_item menu-item-1835">
                                            <a title="Architecture" href="/Home/services?title=Architecture">Architecture</a>
                                        </li>
                                        <li id="menu-item-1833" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1833">
                                            <a title="Interior Design" href="/Home/services?title=Interior-Design">Interior Design</a>
                                        </li>
                                        <li id="menu-item-1834" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1834">
                                            <a title="Construction" href="/Home/services?title=Supervisory-Services">Supervisory Services</a>
                                        </li>
                                        <li id="menu-item-1834" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1834">
                                            <a title="Construction" href="/Home/services?title=Urban-Planning-Design">Urban Planning Design</a>
                                        </li>


                                        <li id="menu-item-1834" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1834">
                                            <a title="Construction" href="/Home/services?title=Engineering">Engineering</a>
                                        </li>
                                        <li id="menu-item-1834" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1834">
                                            <a title="Construction" href="/Home/services?title=TurnKey-Projects-Construction">TurnKey Projects Construction</a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="menu-item-1077" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-1077">
                                    <a title="Process" href="/Home/Index/#process">Process</a>
                                </li>
                                <li id="menu-item-1078" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-1078">
                                    <a title="Team" href="/Home/Index/#team">Team</a>
                                </li>
                                <li id="menu-item-1101" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-has-children menu-item-1101 ">
                                    <a title="Projects" href="/Home/Index/#project">Projects </a>
                                    <ul role="menu" class=" sub-menu">
                                        <li id="menu-item-2210" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2210">
                                            <a title="Residential" href="/Home/Residential/">Residential</a>
                                        </li>
                                        <li id="menu-item-2211" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2211">
                                            <a title="Commercial" href="/Home/Commercial/">Commercial</a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="menu-item-1081" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-has-children menu-item-1081 ">
                                    <a title="Contact" href="/Home/ContactUs/">Contact </a>
                                    @*<ul role="menu" class=" sub-menu">
                                            <li id="menu-item-2908" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2908">
                                                <a title="Privacy Policy" href="../privacy-policy/index.html">Privacy Policy</a>
                                            </li>
                                        </ul>*@
                                </li>


                                <li id="menu-item-1081" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-has-children menu-item-1081 ">
                                    <a title="Contact" href="/Home/About/">About us </a>
                                    @*<ul role="menu" class=" sub-menu">
                                            <li id="menu-item-2908" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2908">
                                                <a title="Privacy Policy" href="../privacy-policy/index.html">Privacy Policy</a>
                                            </li>
                                        </ul>*@
                                </li>

                                <li id="menu-item-1080" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-1080">
                                    <a title="Login" href="/Home/Login">Login</a>
                                </li>

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        @RenderBody()
        <footer>
            <div class="main-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div id="text-5" class="widget widget_text">
                                <div class="textwidget">

                                    <p>
                                        <img class="alignnone  wp-image-2122" src="~/Content/wp-content/uploads/2018/05/logo.png" alt="" width="276" height="69" sizes="(max-width: 276px) 100vw, 276px" />

                                    </p>
                                    @*  <p>We are team of renown award wining architects and interior designers based in Peshawar with 10 years of experience. Our renowned architecture designs are made according to the site, directions and the ambiance. Our interior designs are customized to create a well thought of ambiance. We are awarded as the best interior designers in Peshawar as we create &amp; plan extraordinary designs for your bedrooms, kitchen, lounges, hotels suites, restaurant, offices,home,commercial plaza etc&#8230;</p>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div id="nav_menu-2" class="widget widget_nav_menu">
                                <h3>Quick Links</h3>
                                <div class="menu-footer-menu-container">
                                    <ul id="menu-footer-menu" class="menu">
                                        <li id="menu-item-2215" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2215">
                                            <a href="/Home/Residential/">Residential Projects</a>
                                        </li>
                                        <li id="menu-item-2216" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2216">
                                            <a href="/Home/Commercial/">Commercial Projects</a>
                                        </li>
                                        <li id="menu-item-2217" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2217">
                                            <a href="/Home/interior-design-services/">Interior Design Services</a>
                                        </li>
                                        <li id="menu-item-2218" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2218">
                                            <a href="/Home/construction/">Construction Services</a>
                                        </li>
                                        <li id="menu-item-2219" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-1823 current_page_item menu-item-2219">
                                            <a href="/Home/architecture-services/" aria-current="page">Architecture Services</a>
                                        </li>
                                        <li id="menu-item-2220" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-2220">
                                            <a href="/Home/ContactUs/">Contact Us</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div id="text-4" class="widget widget_text">
                                <h3>Contact Us</h3>
                                <div class="textwidget">
                                    <address>
                                        <strong>WADAAN Architects And Interior Designer</strong>
                                        <span>15- Siyal Flats, University Road, Peshawar, Pakistan.</span>
                                        <span>
                                            <strong>Phone:</strong> (091)-5853695
                                        </span>
                                        <span><strong>Fax:</strong>(091)-5853695</span>
                                        <span><strong>Email:</strong><a href="mailto:info@wadaan.com">info@wadaan.com</a></span>
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="row">
                            <div class="col-md-12 col-sm-12">


                            </div>
                        </div>*@
                </div>
            </div>
            <div class="subfooter ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            © Copyright 2021 |WADAAN | All Rights Reserved | Developed By
                            <a href="https://xtremessoft.com/">Xtremes Software Services</a>
                            @*<a href="../privacy-policy/index.html">Privacy Policy </a>*@
                        </div>
                        <div class="col-md-4 text-right">
                            <div class="social-icons">
                                <ul>
                                    <li>
                                        <a target="_blank" href="https://www.facebook.com/Ar.tahirkhattak"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://www.linkedin.com/in/ArMuhammadTahirKhattak"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a id="back-to-top" href="#" class="show"></a>
        </footer>
    </div>
    @*<script type='text/javascript' data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({ c: '731b490a-8188-45f6-96f4-611a3ef6253a', f: true }); done = true; } }; })();</script>*@
    <div id="wa"></div>
    <script type="text/javascript">
        window.jQuery = window.$ = jQuery;
        (function ($) {
            "use strict";

            /* Enable/Disable Animate Scroll on Desktop and Mobile */
            jQuery(document).ready(function () {
                'use strict';
                new WOW().init();
            });

        })(jQuery);
    </script>

    <script type='text/javascript'>
        document.addEventListener('wpcf7mailsent', function (event) {
            if ("fb_pxl_code" in event.detail.apiResponse) {
                eval(event.detail.apiResponse.fb_pxl_code);
            }
        }, false);
    </script>
    <div id='fb-pxl-ajax-code'></div>
    <script type="text/html" id="wpb-modifications">
    </script>
    <noscript>
        <style>
            .lazyload {
                display: none;
            }
        </style>
    </noscript>
    <script data-noptimize="1">window.lazySizesConfig = window.lazySizesConfig || {}; window.lazySizesConfig.loadMode = 1;</script>
    <script src="~/Content/wp-content/plugins/autoptimize/classes/external/js/lazysizes.minb433.js"></script>
    @*<script src="~/Scripts/wp-includes/js/dist/vendor/wp-polyfill.min89b1.js"></script>
        <script src="~/Scripts/wp-includes/js/dist/vendor/wp-polyfill-formdata.mine9bd.js"></script>*@



    @*<script type='text/javascript' id='wp-polyfill-js-after'>
        ('fetch' in window) || document.write('<script src="~/Scripts/wp-includes/js/dist/vendor/wp-polyfill-fetch.min6e0e.js?ver=3.0.0"></scr' + 'ipt>'); (document.contains) || document.write('<script src="~/Scripts/wp-includes/js/dist/vendor/wp-polyfill-node-contains.min2e00.js?ver=3.42.0"></scr' + 'ipt>'); (window.DOMRect) || document.write('<script src="~/Scripts/wp-includes/js/dist/vendor/wp-polyfill-dom-rect.min2e00.js?ver=3.42.0"></scr' + 'ipt>'); (window.URL && window.URL.prototype && window.URLSearchParams) || document.write('<script src="~/Scripts/wp-includes/js/dist/vendor/wp-polyfill-url.min5aed.js?ver=3.6.4"></scr' + 'ipt>'); (window.FormData && window.FormData.prototype.keys) || document.write('<script src="~/Scripts/wp-includes/js/dist/vendor/wp-polyfill-formdata.mine9bd.js?ver=3.0.12"></scr' + 'ipt>'); (Element.prototype.matches && Element.prototype.closest) || document.write('<script src="~/Scripts/wp-includes/js/dist/vendor/wp-polyfill-element-closest.min4c56.js?ver=2.0.2"></scr' + 'ipt>'); ('objectFit' in document.documentElement.style) ||document.write('<script src="~/Scripts/wp-includes/js/dist/vendor/wp-polyfill-element-closest.min4c56.js?ver=2.3.4"></scr' + 'ipt>');</script>
        <script type='text/javascript' id='contact-form-7-js-extra'>var wpcf7 = { "api": { "root": "https:\/\/archi-cubes.com\/wp-json\/", "namespace": "contact-form-7\/v1" } };</script>
        <script type='text/javascript' id='nta-js-global-js-extra'>var njt_wa_global = { "ajax_url": "https:\/\/archi-cubes.com\/wp-admin\/admin-ajax.php", "nonce": "32e5fb0992", "defaultAvatarSVG": "<svg width=\"48px\" height=\"48px\" class=\"nta-whatsapp-default-avatar\" version=\"1.1\" id=\"Layer_1\" xmlns=\"http:\/\/www.w3.org\/2000\/svg\" xmlns:xlink=\"http:\/\/www.w3.org\/1999\/xlink\" x=\"0px\" y=\"0px\"\r\n            viewBox=\"0 0 512 512\" style=\"enable-background:new 0 0 512 512;\" xml:space=\"preserve\">\r\n            <path style=\"fill:#EDEDED;\" d=\"M0,512l35.31-128C12.359,344.276,0,300.138,0,254.234C0,114.759,114.759,0,255.117,0\r\n            S512,114.759,512,254.234S395.476,512,255.117,512c-44.138,0-86.51-14.124-124.469-35.31L0,512z\"\/>\r\n            <path style=\"fill:#55CD6C;\" d=\"M137.71,430.786l7.945,4.414c32.662,20.303,70.621,32.662,110.345,32.662\r\n            c115.641,0,211.862-96.221,211.862-213.628S371.641,44.138,255.117,44.138S44.138,137.71,44.138,254.234\r\n            c0,40.607,11.476,80.331,32.662,113.876l5.297,7.945l-20.303,74.152L137.71,430.786z\"\/>\r\n            <path style=\"fill:#FEFEFE;\" d=\"M187.145,135.945l-16.772-0.883c-5.297,0-10.593,1.766-14.124,5.297\r\n            c-7.945,7.062-21.186,20.303-24.717,37.959c-6.179,26.483,3.531,58.262,26.483,90.041s67.09,82.979,144.772,105.048\r\n            c24.717,7.062,44.138,2.648,60.028-7.062c12.359-7.945,20.303-20.303,22.952-33.545l2.648-12.359\r\n            c0.883-3.531-0.883-7.945-4.414-9.71l-55.614-25.6c-3.531-1.766-7.945-0.883-10.593,2.648l-22.069,28.248\r\n            c-1.766,1.766-4.414,2.648-7.062,1.766c-15.007-5.297-65.324-26.483-92.69-79.448c-0.883-2.648-0.883-5.297,0.883-7.062\r\n            l21.186-23.834c1.766-2.648,2.648-6.179,1.766-8.828l-25.6-57.379C193.324,138.593,190.676,135.945,187.145,135.945\"\/>\r\n        <\/svg>", "defaultAvatarUrl": "https:\/\/archi-cubes.com\/wp-content\/plugins\/whatsapp-for-wordpress\/assets\/img\/whatsapp_logo.svg", "timezone": "+00:00", "i18n": { "online": "Online", "offline": "Offline" }, "urlSettings": { "onDesktop": "api", "onMobile": "api", "openInNewTab": "ON" } };</script>
        <script type='text/javascript' id='nta-js-popup-js-extra'>var njt_wa = { "gdprStatus": "", "accounts": [{ "accountId": 3112, "accountName": "Archi Cubes Support 24\/7", "avatar": "", "number": "+923008443609", "title": "Archi Cubes Customer Service", "predefinedText": "", "willBeBackText": "I will be back in [njwa_time_work]", "dayOffsText": "I will be back soon", "isAlwaysAvailable": "ON", "daysOfWeekWorking": { "sunday": { "isWorkingOnDay": "OFF", "workHours": [{ "startTime": "08:00", "endTime": "17:30" }] }, "monday": { "isWorkingOnDay": "OFF", "workHours": [{ "startTime": "08:00", "endTime": "17:30" }] }, "tuesday": { "isWorkingOnDay": "OFF", "workHours": [{ "startTime": "08:00", "endTime": "17:30" }] }, "wednesday": { "isWorkingOnDay": "OFF", "workHours": [{ "startTime": "08:00", "endTime": "17:30" }] }, "thursday": { "isWorkingOnDay": "OFF", "workHours": [{ "startTime": "08:00", "endTime": "17:30" }] }, "friday": { "isWorkingOnDay": "OFF", "workHours": [{ "startTime": "08:00", "endTime": "17:30" }] }, "saturday": { "isWorkingOnDay": "OFF", "workHours": [{ "startTime": "08:00", "endTime": "17:30" }] } } }], "options": { "display": { "displayCondition": "includePages", "includePages": ["2935", "1961", "1928", "1912", "1827", "1828", "1823", "375", "107", "76"], "excludePages": ["2935", "1961", "1928", "1912", "1827", "1828", "1823", "375", "107", "76"], "showOnDesktop": "ON", "showOnMobile": "ON", "time_symbols": "h:m" }, "styles": { "title": "Start a Conversation", "responseText": "The team typically replies in a few minutes.", "description": "Hi! Click one of our member below to chat on <strong>WhatsApp<\/strong>", "backgroundColor": "#2db742", "textColor": "#fff", "scrollHeight": "500", "isShowScroll": "OFF", "isShowResponseText": "OFF", "btnLabel": "Need Help? <strong>Chat with us<\/strong>", "btnLabelWidth": "156", "btnPosition": "left", "btnLeftDistance": "30", "btnRightDistance": "30", "btnBottomDistance": "30", "isShowBtnLabel": "OFF", "isShowGDPR": "OFF", "gdprContent": "Please accept our <a href=\"https:\/\/ninjateam.org\/privacy-policy\/\">privacy policy<\/a> first to start a conversation." }, "analytics": { "enabledGoogle": "OFF", "enabledFacebook": "OFF", "position": "after_atc", "isShow": "OFF" } } };</script>
        @*<script src='httpss://stats.wp.com/e-202123.js' defer></script>*@
    <script>
        _stq = window._stq || [];
        _stq.push(['view', { v: 'ext', j: '1:9.8.1', blog: '157974610', post: '1823', tz: '0', srv: 'wadaan.com' }]);
        _stq.push(['clickTrackerInit', '157974610', '1823']);</script>
    <script src="/../../Content/wp-content/cache/autoptimize/js/autoptimize_80de34522d13262a53c92cd7260baf6e.js"></script>





 
    <script src="~/Scripts/FunctionalityJs/KendojqueryController.js?id=6"></script>
 
     
</body>

</html>


