
@{
    ViewBag.Title = "InteriorDesignPage3";
    Layout = "~/Views/Shared/_Layout_WADAANSITE.cshtml";
}

<h2>InteriorDesignPage3</h2>




<section id="subheader" data-speed="8" data-type="background" class="lazyload padding-top-bottom" data-bg="https://archi-cubes.com/wp-content/uploads/2017/08/8.jpg" style="background-image: url('../../../../wp-content/uploads/2017/08/8.html');">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-title">Commercial</h1><ul id="breadcrumbs" class="crumb">
                    <li><a href="../../../../index.html">Home</a></li>
                    <li><a href="../../../../portfolio/index.html">Portfolio</a></li>
                    <li class="active">Commercial</li>
                </ul>
            </div>
        </div>
    </div>

</section>
<div id="content">
    <div id="projects_grid" class="projects-grid overlay_s1 pf_4_cols wow fadeInUp" data-wow-delay=".3s" style="margin: 0px 0px">
        <div class="project-item-sizer"></div>
        <div class="project-item" style="padding:0px">
            <div class="projects-box"><div class="projects-thumbnail"> <noscript><img width="700" height="466" src="../../../../wp-content/uploads/2019/01/coreopsis-society-entrance-gate-design-archicubes-2-700x466.jpg" class="attachment-700x466 size-700x466 wp-post-image" alt="Coreopsis Society Lahore Architectural Planning &amp; Design by archi cubes" title="coreopsis-society-entrance-gate-design-archicubes (2)" /></noscript><img width="700" height="466" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20700%20466%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2019/01/coreopsis-society-entrance-gate-design-archicubes-2-700x466.jpg" class="lazyload attachment-700x466 size-700x466 wp-post-image" alt="Coreopsis Society Lahore Architectural Planning &amp; Design by archi cubes" title="coreopsis-society-entrance-gate-design-archicubes (2)" /></div> <a href="../../../../portfolio/coreopsis-society-lahore-entrance-gate-planing-design/index.html"> <span class="project-overlay"> <span class="project-name id-color">Coreopsis Society Lahore Entrance Gate Planing &#038; Design</span> </span> </a></div>
        </div>
        <div class="project-item" style="padding:0px">
            <div class="projects-box">
                <div class="projects-thumbnail"> <noscript><img width="700" height="466" src="../../../../wp-content/uploads/2019/05/Burgerilla-in-london-by-archi-cubes1-700x466.jpg" class="attachment-700x466 size-700x466 wp-post-image" alt="" title="Burgerilla-in-london-by-archi-cubes(1)" /></noscript><img width="700" height="466" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20700%20466%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2019/05/Burgerilla-in-london-by-archi-cubes1-700x466.jpg" class="lazyload attachment-700x466 size-700x466 wp-post-image" alt="" title="Burgerilla-in-london-by-archi-cubes(1)" /></div> <a href="../../../../portfolio/burgerilla-by-archi-cubes/index.html"> <span class="project-overlay"> <span class="project-name id-color">BURGERILLA in LONDON</span> </span> </a>
            </div>
        </div>
        <div class="project-item" style="padding:0px">
            <div class="projects-box">
                <div class="projects-thumbnail"> <noscript><img width="700" height="466" src="../../../../wp-content/uploads/2019/05/Roti-and-curry-by-archicubes-architects-in-lahore-700x466.jpg" class="attachment-700x466 size-700x466 wp-post-image" alt="Roti and Curry in London By Archi C ubes" title="Roti-and-curry-by-archicubes-architects-in-lahore" /></noscript><img width="700" height="466" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20700%20466%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2019/05/Roti-and-curry-by-archicubes-architects-in-lahore-700x466.jpg" class="lazyload attachment-700x466 size-700x466 wp-post-image" alt="Roti and Curry in London By Archi C ubes" title="Roti-and-curry-by-archicubes-architects-in-lahore" /></div> <a href="../../../../portfolio/roti-and-curry-design-by-archi-cubes/index.html"> <span class="project-overlay"> <span class="project-name id-color">Roti &#038; Curry in London, UK</span> </span> </a>
            </div>
        </div>
        <div class="project-item" style="padding:0px">
            <div class="projects-box"><div class="projects-thumbnail"> <noscript><img width="700" height="466" src="../../../../wp-content/uploads/2019/04/work-box-best-interior-designers-in-lahore-2-700x466.jpg" class="attachment-700x466 size-700x466 wp-post-image" alt="work box interior designers in lahore" title="work-box-best-interior-designers-in-lahore (2)" /></noscript><img width="700" height="466" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20700%20466%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2019/04/work-box-best-interior-designers-in-lahore-2-700x466.jpg" class="lazyload attachment-700x466 size-700x466 wp-post-image" alt="work box interior designers in lahore" title="work-box-best-interior-designers-in-lahore (2)" /></div> <a href="../../../../portfolio/work-box-interior-by-archi-cubes/index.html"> <span class="project-overlay"> <span class="project-name id-color">Work Box</span> </span> </a></div>
        </div>
        <div class="project-item" style="padding:0px">
            <div class="projects-box">
                <div class="projects-thumbnail"> <noscript><img width="700" height="466" src="../../../../wp-content/uploads/2019/03/whatapratha-architects-interior-design-team-archicubes-700x466.jpg" class="attachment-700x466 size-700x466 wp-post-image" alt="What&#039;a Pratha Interior Design team and architects Archi Cubes" title="whatapratha-architects-interior-design-team-archicubes" /></noscript><img width="700" height="466" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20700%20466%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2019/03/whatapratha-architects-interior-design-team-archicubes-700x466.jpg" class="lazyload attachment-700x466 size-700x466 wp-post-image" alt="What&#039;a Pratha Interior Design team and architects Archi Cubes" title="whatapratha-architects-interior-design-team-archicubes" /></div> <a href="../../../../portfolio/whata-pratha-bahria-town-rawalpindi/index.html"> <span class="project-overlay"> <span class="project-name id-color">What&#8217;a Pratha Bahria Town Rawalpindi</span> </span> </a>
            </div>
        </div>
        <div class="project-item" style="padding:0px">
            <div class="projects-box">
                <div class="projects-thumbnail"> <noscript><img width="700" height="466" src="../../../../wp-content/uploads/2019/01/waseem-jewellers-store-interior-design-archicubes-2-700x466.jpg" class="attachment-700x466 size-700x466 wp-post-image" alt="Waseem Jewelers Brand Outlet Interior Designers in Lahore" title="waseem-jewellers-store-interior-design-archicubes (2)" /></noscript><img width="700" height="466" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20700%20466%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2019/01/waseem-jewellers-store-interior-design-archicubes-2-700x466.jpg" class="lazyload attachment-700x466 size-700x466 wp-post-image" alt="Waseem Jewelers Brand Outlet Interior Designers in Lahore" title="waseem-jewellers-store-interior-design-archicubes (2)" /></div> <a href="../../../../portfolio/waseem-jewelers-outlet-m-m-alam-interior-design/index.html"> <span class="project-overlay"> <span class="project-name id-color">Waseem Jewelers Outlet M.M Alam Interior Design</span> </span> </a>
            </div>
        </div>
        <div class="project-item" style="padding:0px">
            <div class="projects-box">
                <div class="projects-thumbnail"> <noscript><img width="700" height="466" src="../../../../wp-content/uploads/2019/01/2-700x466.jpg" class="attachment-700x466 size-700x466 wp-post-image" alt="Motifz Brand Outlet Store Design Mall of Defence" title="Motifz Brand Outlet Store Design Mall of Defence" /></noscript><img width="700" height="466" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20700%20466%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2019/01/2-700x466.jpg" class="lazyload attachment-700x466 size-700x466 wp-post-image" alt="Motifz Brand Outlet Store Design Mall of Defence" title="Motifz Brand Outlet Store Design Mall of Defence" /></div> <a href="../../../../portfolio/motifz-store-mall-defence-interior-design/index.html"> <span class="project-overlay"> <span class="project-name id-color">Motifz Store in Mall of Defence | Interior Design</span> </span> </a>
            </div>
        </div>
        <div class="project-item" style="padding:0px">
            <div class="projects-box"><div class="projects-thumbnail"> <noscript><img width="700" height="466" src="../../../../wp-content/uploads/2018/12/what-a-pratha-islamabad-render-archi-cubes-architect-700x466.jpg" class="attachment-700x466 size-700x466 wp-post-image" alt="What a Pratha Islamabad Architecture &amp; Interior Design" title="what-a-pratha-islamabad-render-archi-cubes-architect" /></noscript><img width="700" height="466" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20700%20466%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2018/12/what-a-pratha-islamabad-render-archi-cubes-architect-700x466.jpg" class="lazyload attachment-700x466 size-700x466 wp-post-image" alt="What a Pratha Islamabad Architecture &amp; Interior Design" title="what-a-pratha-islamabad-render-archi-cubes-architect" /></div> <a href="../../../../portfolio/what-a-pratha-architect-interor-islamabad-murree/index.html"> <span class="project-overlay"> <span class="project-name id-color">What a Pratha Restaurant</span> </span> </a></div>
        </div><div class="project-item" style="padding:0px">
            <div class="projects-box">
                <div class="projects-thumbnail"> <noscript><img width="700" height="466" src="../../../../wp-content/uploads/2018/12/waffles-by-alamgir-interior-designers-archicubes-2-700x466.jpg" class="attachment-700x466 size-700x466 wp-post-image" alt="Waffles By Alamgir Main Market Lahore Interior Design Services" title="waffles-by-alamgir-interior-designers-archicubes (2)" /></noscript><img width="700" height="466" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20700%20466%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2018/12/waffles-by-alamgir-interior-designers-archicubes-2-700x466.jpg" class="lazyload attachment-700x466 size-700x466 wp-post-image" alt="Waffles By Alamgir Main Market Lahore Interior Design Services" title="waffles-by-alamgir-interior-designers-archicubes (2)" /></div> <a href="../../../../portfolio/waffles-ice-cream-parlor-interior-design/index.html"> <span class="project-overlay"> <span class="project-name id-color">Waffles Ice Cream Parlor By Alamgir Interior Design</span> </span> </a>
            </div>
        </div><div class="project-item" style="padding:0px">
            <div class="projects-box">
                <div class="projects-thumbnail"> <noscript><img width="700" height="466" src="../../../../wp-content/uploads/2018/12/fit3d3-700x466.jpg" class="attachment-700x466 size-700x466 wp-post-image" alt="fit3d3 Lab Interior By Archi Cubes" title="fit3d3 Lab Interior By Archi Cubes" /></noscript><img width="700" height="466" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20700%20466%22%3E%3C/svg%3E' data-src="https://archi-cubes.com/wp-content/uploads/2018/12/fit3d3-700x466.jpg" class="lazyload attachment-700x466 size-700x466 wp-post-image" alt="fit3d3 Lab Interior By Archi Cubes" title="fit3d3 Lab Interior By Archi Cubes" /></div> <a href="../../../../portfolio/fit-3d-diagnostic-lab-interior-design/index.html"> <span class="project-overlay"> <span class="project-name id-color">Fit 3D Diagnostic Lab</span> </span> </a>
            </div>
        </div>
    </div><div class="container"><ul class='pagination'><li><a class="prev page-numbers" href="../2/index.html"><i class="fa fa-angle-double-left"></i></a></li><li><a class="page-numbers" href="../1/index.html">1</a></li><li><a class="page-numbers" href="../2/index.html">2</a></li><li><span aria-current="page" class="page-numbers current">3</span></li><li><a class="page-numbers" href="../4/index.html">4</a></li><li><a class="page-numbers" href="../5/index.html">5</a></li><li><a class="next page-numbers" href="../4/index.html"><i class="fa fa-angle-double-right"></i></a></li></ul></div>
</div>


<script src="~/Views/WadaanWebsite/archi-cubes.com/wp-content/cache/autoptimize/js/autoptimize_3a99cb140bebcd4ab32f48cedd13a985.js"></script>